.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.no-js .inputfile + label {
    display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.inputfile-6 + label {
    color: #5a6368;
}
.inputfile-6 + label {
    border: 1px solid #c6c6c6;
    background-color: #fff;
    padding: 0;
    position: relative;
}
.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #c6c6c6;
}
.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 7px;
}
.inputfile-6 + label span {
    width: 203px;
    min-height: 2.4em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    float: left;
    text-align: left;
}
.inputfile-6 + label strong {
    height: 100%;
    color: #5a6368;
    font-weight: 500;
    font-size: 13px;
    background-color: #dce1e2;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #c7c8c8;
}
.add-document{
    font-size: 14px;
    color: #00a651 !important;
    width: 150px;
    display: block;
    margin: 10px auto 0;
    background: #fff;
    padding: 6px;
    border: 1px solid #00a651;
    text-align: center;
    border-radius: 24px;
}
.add-document:hover {
    background-color: #00a651;
    color: #fff!important;
}
@media screen and (max-width: 992px) {
	.inputfile-6 + label strong {
		display: block;
	}
}