.avg-rating-block {
    border: 1px solid #dadee0;
    padding: 10px 0;
    width: 100%;
    float: left;
    margin-top: 5px;
}

.rating-count {
    font-size: 90px;
    color: #e0711f;
    text-align: center;
    font-weight: 600;
}

.rating-section {
    margin-bottom: 15.8px;
    float: left;
    width: 100%;
}

.rating-stars {
    width: 100%;
    float: left;
    margin-top: 5px;
}


.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}

.rating-input {
    float: right;
    width: 4px !important;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('https://eduncle-cdn.saglus.com/webfiles/images/star.png') 0 -16px;
}

.close-btn-popup {
    float: right;
    width: 33px !important;
    height: 33px !important;
    background: #fff;
    font-size: 18px;
    position: absolute;
    border-radius: 34px;
    border: 4px solid #dadee0;
    color: #e0711f;
    padding-top: 0px;
    z-index: 999999;
    right: -10px !important;
    top: -10px !important;
}

.review-textarea {
    font-size: 13px;
    width: 100%;
    padding: 15px;
    border: 1px solid #dadee0;
    height: 200px;
}