@charset "utf-8";
.fancy-rightbar {
	background-color: #333;
    color: #fff;
    font-weight: 900;
    margin: 0px 5px;
	border-right:2px solid #1B9BFF;
}
.fancy-rightbar li {
	text-transform: uppercase;
	color: #3498db;
	font-size: 17px;
	padding: 10px;
	font-weight: 600;
}
.fancy-rightbar li ul li:hover {
	background-color:blue;
}
.fancy-rightbar li ul li {
	text-transform: capitalize;
	font-size: 17px;
	padding: 2px;
	margin-left: -42px;
	font-weight: normal;
}
.fancy-rightbar li ul li:first-child {
	padding-top: 5px;
}
.fancy-rightbar li ul li a {
	text-decoration: none;
	color: #fff;
	font-weight:bold;
}
#content-left h3 {
	font-size: 14px;
	color: #fff;
	margin-bottom: 25px;
	background: #767068;
	padding: 7px 0px 7px 10px;
}
.mybutton {
	padding: 5px 10px;
	background-color: #0099CC;
	color: #fff;
	border: 1px solid #0099CC;
	border-radius: 2px;
}
.mybutton:hover {
	box-shadow: 0px 0px 3px #000;
}
.table-hover {
	border-collapse: collapse;
	border-spacing: 0.5rem;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 5px;
}
.table-hover tr:first-child {
	font-weight: normal;
	background-color: #fff;
}
.table-hover tr:hover {
	background-color: #FAFDFF;
}
.table-hover tr td {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 5px;
}
.inner-div-left {
	float: left;
	min-height: 450px;
	width: 16%;
	background: transparents;
	border-right: 1px solid #ebebeb;
}
.inner-div-right {
	width: 75%;
	float: left;
	min-height: 450px;
	overflow: auto;
	padding: 0px 20px;
}
.inner-title {
	color: #888;
	text-align: center;
	padding:0px 0px 20px 0px;
	border-bottom: 1px solid #ccc;
}
.inner-content {
	padding: 20px 95px;
}
.inpt-pc-txt {
	border: 1px solid #ccc;
	padding: 5px 10px;
	width: 630px;
}
.inpt-pc-ta {
    border: 1px solid #dadee0;
    padding: 5px 10px;
    width: 100%;
    height: 80px;
    resize: none;
    color: #9ca7ac;
}
.addbutton {
	background-color: #0099CC;
	color: #fff;
	padding: 1px 10px 4px;
	cursor: pointer;
}
#content-right1 h2 a{
	background-color:#fff;
	color:#888;
	border-bottom:#fff;
	font-size:14px;
	padding:5px;
}
.inner-title h2 a {
	color:#888;
}
#content-right1 h2 a:hover {
	text-decoration:underline;
}
.frb-nav {
	padding:6px;
}
.frb-nav a{
	color:#fff !important;
	display:block;
}
.frb-nav:hover {
	background-color:#1b9bff;
}
.currentclass {
	padding:6px;
	background-color:#1b9bff;
}
.currentclass a {
	color:#fff;
	font-weight:bold;
}
.frb-title {
	background-color:#777;
	color:#fff;
	font-weight:normal;
	padding:6px;
	font-size:14px;
}
.font12
{
	font-size:12px;
	font-weight:600;
}
#tabs
{
  overflow: auto;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#tabs li
{
    margin: 0;
    padding: 0;
    float: left;
}

#tabs a
{
    -moz-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    box-shadow: -4px 0 0 rgba(0, 0, 0, .2);
    background: #ad1c1c;
    background:    -moz-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #ad1c1c 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #ad1c1c 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #ad1c1c 10px); 
    background:         linear-gradient(220deg, transparent 10px, #ad1c1c 10px);
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    color: #fff;
    float: left;
    font: bold 12px/35px 'Lucida sans', Arial, Helvetica;
    height: 35px;
    padding: 0 30px;
    text-decoration: none;
}

#tabs a:hover
{
    background: #c93434;
    background:    -moz-linear-gradient(220deg, transparent 10px, #c93434 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #c93434 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #c93434 10px); 
    background:         linear-gradient(220deg, transparent 10px, #c93434 10px);     
}

#tabs a:focus
{
    outline: 0;
}

#tabs #current a
{
    background: #fff;
    background:    -moz-linear-gradient(220deg, transparent 10px, #fff 10px);
    background:    -webkit-linear-gradient(220deg, transparent 10px, #fff 10px);     
    background:     -ms-linear-gradient(220deg, transparent 10px, #fff 10px); 
    background:      -o-linear-gradient(220deg, transparent 10px, #fff 10px); 
    background:         linear-gradient(220deg, transparent 10px, #fff 10px);
    text-shadow: none;    
    color: #333;
}

#tabcontent
{
    background-color: #fff;
    -moz-border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    border-radius: 0 2px 2px 2px;
    -moz-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    -webkit-box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    box-shadow: 0 2px 2px #000, 0 -1px 0 #fff inset;
    padding: 30px;
}
#tabcontent div
{
    height: 220px;
}
