/*========== Begin ICOMOON ICONS ==========*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoonCommunity.eot?1o1mi');
  src:  url('../fonts/icomoonCommunity.eot?1o1mi#iefix') format('embedded-opentype'),
    url('../fonts/icomoonCommunity.ttf?1o1mi') format('truetype'),
    url('../fonts/icomoonCommunity.woff?1o1mi') format('woff'),
    url('../fonts/icomoonCommunity.svg?1o1mi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow_short:before {
  content: "\e901";
}
.icon-attachments:before {
  content: "\e902";
}
.icon-attention:before {
  content: "\e903";
}
.icon-big_cross:before {
  content: "\e904";
}
.icon-block:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-call:before {
  content: "\e908";
}
.icon-comments:before {
  content: "\e90a";
}
.icon-correct:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-details:before {
  content: "\e90e";
}
.icon-documents:before {
  content: "\e90f";
}
.icon-download:before {
  content: "\e910";
}
.icon-draft:before {
  content: "\e911";
}
.icon-equalizer:before {
  content: "\e912";
}
.icon-export:before {
  content: "\e913";
}
.icon-filter:before {
  content: "\e914";
}
.icon-flag:before {
  content: "\e915";
}
.icon-full:before {
  content: "\e916";
}
.icon-full_screen:before {
  content: "\e917";
}
.icon-like:before {
  content: "\e91a";
}
.icon-like_filled:before {
  content: "\e91b";
}
.icon-link:before {
  content: "\e91c";
}
.icon-location:before {
  content: "\e91d";
}
.icon-logout:before {
  content: "\e91e";
}
.icon-mail:before {
  content: "\e91f";
}
.icon-menu:before {
  content: "\e920";
}
.icon-notifications:before {
  content: "\e921";
}
.icon-picture:before {
  content: "\e922";
}
.icon-proccessing:before {
  content: "\e923";
}
.icon-reload:before {
  content: "\e924";
}
.icon-right:before {
  content: "\e925";
}
.icon-search:before {
  content: "\e927";
}
.icon-settings:before {
  content: "\e928";
}
.icon-star:before {
  content: "\e929";
}
.icon-star_filled:before {
  content: "\e92a";
}
.icon-tags:before {
  content: "\e92c";
}
.icon-view:before {
  content: "\e92e";
}*/






.icon-find_everything:before {
  content: "\e906";
}
.icon-my_cart:before {
  content: "\e909";
}
.icon-coupon-report:before {
  content: "\e918";
}
.icon-home:before {
  content: "\e919";
}
.icon-library:before {
  content: "\e926";
}
.icon-my_discussion:before {
  content: "\e92b";
}
.icon-my_eduwraps:before {
  content: "\e92d";
}
.icon-order_management:before {
  content: "\e92f";
}
.icon-package_management:before {
  content: "\e930";
}
.icon-payment_history:before {
  content: "\e931";
}
.icon-sales_report:before {
  content: "\e932";
}
.icon-social:before {
  content: "\e933";
}
.icon-youare_studying:before {
  content: "\e934";
}
.icon-bold:before {
  content: "\ea62";
}
.icon-underline:before {
  content: "\ea63";
}
.icon-italic:before {
  content: "\ea64";
}
.icon-strikethrough:before {
  content: "\ea65";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-arrow_short:before {
  content: "\e901";
}
.icon-attachments:before {
  content: "\e902";
}
.icon-attention:before {
  content: "\e903";
}
.icon-big_cross:before {
  content: "\e904";
}
.icon-block:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-call:before {
  content: "\e908";
}
.icon-comments:before {
  content: "\e90a";
}
.icon-correct:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-delete:before {
  content: "\e90d";
}
.icon-details:before {
  content: "\e90e";
}
.icon-documents:before {
  content: "\e90f";
}
.icon-download:before {
  content: "\e910";
}
.icon-draft:before {
  content: "\e911";
}
.icon-equalizer:before {
  content: "\e912";
}
.icon-export:before {
  content: "\e913";
}
.icon-filter:before {
  content: "\e914";
}
.icon-flag:before {
  content: "\e915";
}
.icon-full:before {
  content: "\e916";
}
.icon-full_screen:before {
  content: "\e917";
}
.icon-like:before {
  content: "\e91a";
}
.icon-like_filled:before {
  content: "\e91b";
}
.icon-link:before {
  content: "\e91c";
}
.icon-location:before {
  content: "\e91d";
}
.icon-logout:before {
  content: "\e91e";
}
.icon-mail:before {
  content: "\e91f";
}
.icon-menu:before {
  content: "\e920";
}
.icon-notifications:before {
  content: "\e921";
}
.icon-picture:before {
  content: "\e922";
}
.icon-proccessing:before {
  content: "\e923";
}
.icon-reload:before {
  content: "\e924";
}
.icon-right:before {
  content: "\e925";
}
.icon-search:before {
  content: "\e927";
}
.icon-settings:before {
  content: "\e928";
}
.icon-star:before {
  content: "\e929";
}
.icon-star_filled:before {
  content: "\e92a";
}
.icon-tags:before {
  content: "\e92c";
}
.icon-view:before {
  content: "\e92e";
}





/*========== End ICOMOON ICONS ==========*/
