.edu-main-nav ul{
	margin: 0px;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.edu-main-nav ul li{
	list-style: none;
	margin: 0;
	padding: 0
}
.edu-main-nav > ul > li {
	/*display: table-cell*/
	display:inline-block;
}
.edu-main-nav > ul > li > ul {
	padding: 5px 0 0 3px
}
.edu-main-nav > ul > li > span {
	display: block;
}
.edu-main-nav > ul > li:first-child > span {
	padding-left: 0
}
.edu-main-nav > ul > li > span > a {
	display: block;
	color: #505050;
	margin: 0;
	position: relative;
	cursor: pointer;
}
.edu-main-nav > ul > li > span:hover > a:after {
	border-color: #8B4789
}
.edu-main-nav > ul > li > span:hover > a {

}
.edu-main-nav > ul > li > span > ul > li {
	float: left;
	padding-bottom: 8px;
	border-bottom: 2px solid #fff
}
.edu-main-nav > ul > li > span > ul > li:last-child a {
	border-right: none
}
.edu-main-nav > ul > li > span > ul > li:hover {
	border-bottom: 2px solid #8b4789
}

.nav-cont-left h4{
	font-weight:500;
	color: #5a6368
}
.nav-cont-left ul{
	background: #f8f8f8;
	/*border-right: 1px solid #e1e1e1;*/
}
.edu-main-nav > ul > li > span > ul > li a {
	display: block;
	padding: 0 5px;
	border-right: 1px solid #cfcfcf
}
.edu-main-nav > ul > li > ul > li > a:hover {
	color: #8b4789
}
/*.edu-main-nav > ul > li > ul li:first-child a {
	padding: 0 10px 0 0
}*/
.nav .edu-main-nav > ul > li > ul li:last-child a {
	border: none
}
.openmenu>ul::-webkit-scrollbar {
    width: 1px;
}
/* Track */
.openmenu>ul::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
.openmenu>ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #ccc; 
}
.openmenu>ul::-webkit-scrollbar-thumb:window-inactive {
	background: #ccc; 
}



.openmenu>ul{
	height: 100%;
	overflow-y: auto;
	width: 24%;
	border-right: 1px solid #e1e1e1;
}
.nav-cont-left{
	height: 100%;
    /*overflow: auto;*/
}
.edu-main-nav > ul > li > span > div > ul > li {
	padding: 0;
	width: 100%;
	font-size: 13px !important;
	font-weight: 600;
}
.edu-main-nav > ul > li > span > div > ul > li > a {
	width: 100%;
	display: block;
	padding: 16px 11px 14px 15px;
	/*border-right:1px solid #e1e1e1;*/
	background: #fff !important; 
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.edu-main-nav > ul > li > span > div > ul > li > a:after {
	border: 1px solid #6c6b6b;
	height: 7px;
	width: 7px;
	transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	position: absolute;
	content: "";
	right: 10px;
	border-right: none;
	border-bottom: none;
	top: 20px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	-moz-transition: all .5s ease
}
.edu-main-nav > ul > li > span > div > ul > li > a.de-arrow:after {
	height: 7px;
	width: 7px;
	transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	position: absolute;
	content: "";
	border-right: none;
	border-bottom: none;
	top: 16px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	right: 20px;
	border: 1px solid #6c6b6b
}
.edu-main-nav > ul > li > span > div > ul > li:hover > a:after {
	right: 10px;
	border: 1px solid #6c6b6b;
	border-right: none;
	border-bottom: none
}
.edu-main-nav > ul > li > span > div > ul > li:hover > a {
	color: #fff
}

.edu-main-nav > ul > li > span > div > ul > li > a:hover {
	background:#f6f6f6 !important;
}
.edu-main-nav > ul > li > span > div > ul > li > div {
	position: absolute;
	background: #fff;
	top: 0;
	width: 76%;
	right: 0;
	color: #fff;
	display: none;
	height: 400px;
}
.header {
	display: none
}
.nav-button-m {
	width: 30px;
	height: 30px;
	float: left
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div div.nav-cont-left {
	width: 100%
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div div.nav-cont-left {
	margin-left: 0
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div > div ul li a {
	width: 95%
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li > a {
	padding: 15px 0 15px 15px;
	margin-left: 0;
	width: 100%;	
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li > div > ul > li > a {
	margin: 0;
	padding: 15px 0 15px 10px;
	width: 100%
}
.edu-main-nav > ul > li.exams > span > div {
	/*height: 400px*/
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div > div > ul > li {
	position: relative;
	border-bottom:1px solid #e1e1e1;
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div > div > div > ul > li > div {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 60%;
	display: none;
	height: 100%;
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div > div > div > ul > li > div > ul {
	width: 60%;
	float: left;
	height: 400px;
	background: #ebebeb
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li:last-child > div > ul {
	width: 100%;
	float: left;
	height: 100%;
	margin-left: 0;
	padding-bottom: 5px;
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li:last-child > div > ul > li {
	width: 50%
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div > div > div > ul > li > div > ul:last-child {
	width: 100%;
	float: left;
	height: 100%;
	padding:15px;
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div {
	width: 40%;
	padding: 0;
	background:#f8f8f8;
	border-right: 1px solid #e1e1e1;
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div {
	height: 100%
}
.edu-main-nav > ul > li.exams > span > div > ul > li > div > div > div > ul > li > a {
	position: relative
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li > a:after {
	border: 1px solid #6c6b6b;
	height: 6px;
	width: 6px;
	transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	position: absolute;
	content: "";
	right: 10px;
	border-right: none;
	border-bottom: none;
	top: 20px;
	transition: all .5s ease;
	-o-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-webkit-transition: all .5s ease
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li:hover > a:after {
	right: 10px;
	border: 1px solid #6c6b6b;
	border-right: none;
	border-bottom: none
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li:hover > a {
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li > a:hover, .edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li:hover > a {
	background: #ebebeb
}
.edu-main-nav > ul > li > span > div > ul > li > div > div > div::-webkit-scrollbar {
    width: 1px;
}
 
/* Track */
.edu-main-nav > ul > li > span > div > ul > li > div > div > div::-webkit-scrollbar-track {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
.edu-main-nav > ul > li > span > div > ul > li > div > div > div::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #ccc; 
}
.edu-main-nav > ul > li > span > div > ul > li > div > div > div::-webkit-scrollbar-thumb:window-inactive {
	background: #ccc; 
}
.edu-main-nav > ul > li > span > div > ul > li > div > div > div {
	float: left;
	padding: 10px 1% 0 0;
	width: 32%;
	height: 100%;
	overflow-y: auto;
}
.edu-main-nav > ul > li > span > div > ul > li > div > div h3 {
	margin-bottom: 5px;
	padding: 0 0 0 9px
}
.edu-main-nav > ul > li > span > div > ul > li > div > div h3:empty {
	height: 18px
}
.edu-main-nav > ul > li > span > div > ul > li > div > div h3 a {

}
.edu-main-nav > ul > li > span > div > ul > li > div > div h3 a:hover {

}
.edu-main-nav > ul > li > span > div > ul > li > div > div b {
	margin-bottom: 5px;
	padding: 0 0 0 6px;
	display: inline-block;
}
.edu-main-nav > ul > li > span > div > ul > li > div > div b:empty {
	height: 18px
}
.edu-main-nav > ul > li > span > div > ul > li > div > div b a {

}
.edu-main-nav > ul > li > span > div > ul > li > div > div b a:hover {

}
.edu-main-nav > ul > li > span > div > ul > li > div > div ul li a {
	display: block;
	width: 95%;
}
.edu-main-nav > ul > li > span > div > ul > li > div > div ul li a:hover {
	color: #000;
	width: 95%;
	border-radius: 0px !important;
}
.edu-main-nav > ul > li > span > div > ul > li > div > div.shop-banner ul li a > div + div:after {
	background: none repeat scroll 0 0 #fff;
	content: "";
	height: 46%;
	left: 0;
	position: absolute;
	width: 37px
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > a:hover + div > div.nav-cont-left > div > ul > li:first-child > a {
	background: #ebebeb;
	color: #fff
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > a:hover + div > div.nav-cont-left > div > ul > li:first-child > a:after {
	border-color: #6c6b6b
}
.edu-main-nav > ul > li.exams > span > div > ul > li.stream > a:hover + div > div.nav-cont-left > div > ul > li:first-child > a + div {
	display: block!important
}
.nav-cont-left {
	width: 510px;
	float: left;
	margin-left: 14px
}
.nav-cont-left > div:first-child > h3 {
	padding: 0
}
.nav-cont-left > div:first-child > b {
	padding: 0 0 0 2px
}
.nav-cont-left > div:first-child > ul > li > a {
	margin-left: 0
}
.edu-main-nav > ul > li > span > div > ul > li > div > div:nth-of-type(3) ul li a:hover {
	background: none
}
.edu-main-nav > ul > li:nth-child(1) > span > div > ul > li > div:after {
	left: 102px
}
.edu-main-nav > ul > li:nth-child(2) > span > div > ul > li > div:after {
	left: 270px
}
.edu-main-nav > ul > li:nth-child(3) > span > div > ul > li > div:after {
	left: 478px
}
.wraper {
	width: 990px;
	margin: 0 auto
}
@media screen and (max-width:768px) {
	.edu-main-nav > ul > li > span > div > ul > li > div > div b a {
		font-weight: bold;
	}
	.edu-main-nav {
		position: fixed;
		width: 90%;
		top: 49px;
		display: none;
		padding-bottom: 20px;
		z-index: 200
	}
	.edu-main-nav > ul {
		display: block
	}
	.edu-main-nav > ul > li {
		width: 100%;
		display: block;
		float: left
	}
	.edu-main-nav > ul > li > span > ul {
		display: none!important
	}
	.edu-main-nav > ul > li > span {
		margin: 0;
		padding: 0
	}
	.edu-main-nav > ul > li > span > div {
		width: 100%;
		position: static;
		border-top: solid 1px #efefef;
		display: block
	}
	.edu-main-nav > ul > li > span > div > ul > li {
		float: left;
		width: 100%;
		overflow: hidden;
	}
	.edu-main-nav > ul > li > span > a {
		padding: 10px 6px;
		background: #f8f5ee;
		border: none;
		border-bottom: 1px solid #c6c6c6
	}
	.edu-main-nav > ul > li > span > a:after {
		border: 2px solid #868686;
		border-bottom: none;
		border-left: none;
		top: 15px;
		right: 16px;
		height: 6px;
		width: 6px;
		display: none
	}
	.edu-main-nav > ul > li > span > a:nth-child(1):after {
		display: block
	}
	.edu-main-nav > ul > li > span > div {
		height: auto
	}
	.edu-main-nav > ul > li > span > div > ul > li > a {
		width: auto;
		padding: 8px 0 8px 20px;
		border-bottom: none;
		border-left: none!important;
		border-top: none;
		color: #333!important
	}
	.edu-main-nav > ul > li > span > div > ul > li > a:hover {
		background-color: #ddd !important;
		color: #ff9100 !important;
		cursor: pointer;
		text-shadow: 0 0 0 #ff9100
	}
	.edu-main-nav > ul > li > span > div > ul > li > a:after {
		left: auto;
		right: 20px
	}
	.edu-main-nav > ul > li.exams > span > div, .edu-main-nav > ul > li.community > span > div {
		height: auto
	}
	.edu-main-nav > ul > li > span > div > ul > li > div {
		z-index: 100;
		width: 100%;
		height: auto!important;
		position: static
	}
	.nav-cont-left {
		width: calc(100% - 10px);
		margin-left: 0;
		padding: 0;
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div > div {
		width: 48%;
		border: medium none;
		height: auto
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div > div:nth-of-type(3) {
		width: 98%
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div > div:nth-of-type(3) > ul > li {
		width: 50%;
		float: left
	}
	.edu-main-nav > ul > li > span:hover > a {
		border-top: none;
		color: #8b4789
	}
	.edu-main-nav > ul > li > span > div > ul > li > a:after {
		top: 10px
	}
	.edu-main-nav > ul > li > span > div > ul > li:hover > a:after {
		left: auto;
		transform: rotate(223deg);
		-webkit-transform: rotate(223deg);
		-moz-transform: rotate(223deg);
		-o-transform: rotate(223deg);
		-ms-transform: rotate(223deg);
		top: 10px;
		border-color: #666;
		right: 20px
	}
	.edu-main-nav > ul > li > span > div > ul > li:hover > a {
		color: #666
	}
	.edu-main-nav > ul > li > span > div > ul {
		height: auto!important
	}
	.edu-main-nav > ul > li.exams > span > div > ul > li > div > div > div > ul > li > div {
		display: none!important
	}
	.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div {
		width: 100%
	}
	.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li > a:after {
		display: none
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div > div:nth-of-type(2), .edu-main-nav > ul > li.community > span > div > ul > li > div > div > div:nth-of-type(3) {
		display: none
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div > div {
		width: 100%;
		margin-left: 0
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div ul > li {
		margin: 0 2%;
		width: 44%
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div ul > li.join-now {
		display: none
	}
	.edu-main-nav {
		padding-bottom: 0;
		overflow-y: auto;
		height: 87% !important;
		background: #fff
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div.nav-cont-left {
		width: 100%
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div > div {
		width: 98%!important;
		display: block!important;
		padding: 5px 1%;
		width: 98%
	}
	main-nav > ul > li.community > span > div > ul > li > div > div > div > ul {
		display: none
	}
	.edu-main-nav > ul > li.exams > span > div > ul > li.stream > a:hover + div > div.nav-cont-left > div > ul > li:first-child > a + div {
		display: none!important
	}
	nav {
		position: relative;
		top: 0
	}
	.header {
		width: 100%;
		height: 50px;
		background: #ff9100;
		position: fixed;
		z-index: 250;
		top: 0;
		display: block
	}
	.nav-button-m {
		color: #fff;
		position: relative;
		cursor: pointer;
		height: 50px;
		width: 50px;
		background: #4E9847;
	}
	.nav-button-m:before {
		content: "";
		height: 2px;
		left: 13px;
		position: absolute;
		top: 11px;
		width: 28px;
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div.nav-cont-left {
		width: 100%
	}
	.edu-main-nav > ul > li.Study > span > div > ul > li.General-Knowledge > div > div.nav-cont-left {
		width: 100%
	}
	.edu-main-nav > ul > li.Study > span > div > ul > li.General-Knowledge > div > div.nav-cont-left > div {
		width: 48%
	}
	.edu-main-nav > ul > li.Study > span > div > ul > li.General-Knowledge > div > div.nav-cont-left > div:nth-of-type(3) > ul > li {
		width: 98%
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div.nav-cont-left > div:nth-of-type(1) {
		width: 98%;
		height: auto
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div ul > li > a {
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div ul li a {
		padding: 10px 0 10px 35px !important;
		border: none;
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div h3 {
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div b {
	}
	.edu-main-nav > ul > li > span > div > ul > li:first-child a {
	}
	.edu-main-nav > ul > li > span > div > ul > li > a:after {
		transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		position: absolute;
		content: "\f107";
		right: 20px;
		border: none;
		left: auto;
		height: 20px;
		border-bottom: none;
		top: 9px;
		transition: all 0s ease;
		-webkit-transition: all 0s ease;
		-o-transition: all 0s ease;
		-moz-transition: all 0s ease;
		display: inline-block;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale
	}
	.edu-main-nav > ul > li > span > div > ul > li:hover > a:after {
		left: auto;
		transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		-webkit-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		top: 9px;
		right: 20px;
		border: none
	}
	.edu-main-nav > ul > li:last-child > span > div > ul > li > a:after {
		display: none
	}
	.edu-main-nav > ul > li > span > div > ul > li.minus > a:after {
		content: "\f107";
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg)
	}
	.edu-main-nav > ul > li.exams > span > div > ul > li.stream > div > div > div > ul > li:last-child {
		display: none
	}
	.edu-main-nav > ul > li.community > span > div > ul > li > div > div > div > ul > li {
		margin-right: 0;
		width: 46%
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div h3:empty {
		height: 0
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div b:empty {
		height: 0
	}
	.edu-main-nav > ul > li > span > div > ul > li.stream > a {
		background: #F1F1F1!important;
	}
	.edu_nav {
		position: fixed;
		height: 100%;
		z-index: 99;
		width: 90%;
		display: none;
	}
	.nav-button-close:before {
		left: 14px;
		position: absolute;
		top: 10px;
		width: 32px;
		content: "";
		font-weight: 100;
		background:box-shadow: none;
	}
	.edu-main-nav {
		width: 90%
	}
	.nav-fix {
		left: 0;
		margin-left: 0
	}
	.nav-fix .group {
		width: 90%!important;
		margin: 0;
	}
	.edu-main-nav > ul > li > span > a:nth-child(1) {
		background: none repeat scroll 0 0 #fff;
		border-top: 1px solid #ccc
	}
	.search-box > i {
		background: #ff9100;
		border-radius: 0;
		color: #fff;
		display: inline-block;
		margin-top: -3px;
		padding: 1px 0;
		position: relative;
		right: -37px;
		text-align: center;
		width: 52px
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div ul li a {
		width: auto
	}
	.edu-main-nav > ul > li:last-child {
		padding-bottom: 30px
	}
	.edu-main-nav > ul > li > span > div > ul > li > div .product-other {
		height: auto;
		position: relative;
		bottom: 0;
	}
	.product-other ul li {
		width: 47%;
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div#srm-left > div {
		width: 48%!important;
		height: 158px;
	}
	.edu-main-nav > ul > li > span > div > ul > li > div > div > div:nth-of-type(3) > ul > li {
		width: 100%;
	}
}

@media screen and (min-width:768px) {
.edu-main-nav > ul > li > span > a:after {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #868686 #868686 -moz-use-text-color -moz-use-text-color;
	border-image: none;
	border-style: solid solid none none;
	border-width: 2px 2px medium medium;
	height: 10px;
	right: 16px;
	top: 10px;
	width: 10px;
	display:none;
}
.nav-fix .group {
	width: 90%
}
}

@media (min-width:779px) and (max-width:5000px) {
.mob-sr-ryt {
	display: none
}
}

.op-btm:hover .btm-scl {
	display: block !important
}
.edu-main-nav > ul > li:nth-child(1) > span > div > ul > li > div:after {
	left: 58px !important
}
.edu-main-nav > ul > li:nth-child(2) > span > div > ul > li > div:after {
	left: 208px !important
}
.edu-main-nav > ul > li:nth-child(3) > span > div > ul > li > div:after {
	left: 495px !important
}
.bgnav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 65px;
    left: 0;
    background: #000;
    z-index: 10;
    display: none;
    opacity: .5;
}

#edu-third-menu-block h5
{
    padding: 9px 13px 10px;
    font-weight: 600;
    color: #5a6368;
    margin: 0;
    line-height: 1.6;
    letter-spacing: .02em;
    font-size: inherit
}
#edu-third-menu-block .heading-edu
{
    border-top: none;
    margin-top: 0;
    color: #5a6368
}

@media screen and (min-width:851px) {
    #edu-third-menu-block h5,
    .edu-nav-item-list h5 {
        padding-top: 20px!important;
        margin-top: 10px;
        border-top: 1px solid #d0d0d0;
        clear: both !important
    }
}


#edu-third-menu-block a
{
    /*display: inline-block;*/
    padding: 10px 13px;
    width: 100%;
    height: 100%
}
#edu-third-menu-block a.third-no-padding
{
    padding: 10px 0 !important;
}


@media screen and (max-width:850px) {
    #edu-third-menu-block>h5.has-small,
    .edu-nav-item-list>h5.has-small {
        display: none
    }
}

.edu-nav h5+h5 {
    margin-top: -7px!important;
    border-top: 0!important
}
.edu-nav .label {
    position: relative;
    margin-left: 4px;
    letter-spacing: .71px;
    padding: 0 5px 1px;
    font-weight: 700;
    top: -1px
}



@media(min-width:992px) {
	.edu-main-nav > ul > li > span > div {
		width: 99%;
		background: #fff;
		z-index: 99;
		position: fixed;
		display: none;
		left: 0;
		height: 100%;
		border-top:1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1;
	}
}
@media(min-width:1200px) {
	.edu-main-nav > ul > li > span > div {
		width: 90%;
		background: #fff;
		z-index: 99;
		position: fixed;
		display: none;
		left: 0;
		top: 65px;
		height: 100%;
		border-top:1px solid #e1e1e1;
		border-bottom:1px solid #e1e1e1;
	}
}
.third-nav-title{
    font-weight: bold !important;
    padding-left: 15px !important;
    color: #5a6368 !important;
    font-size: 16px !important
}
.shop-courses{
    line-height: 2 !important;
    font-size: 15px !important;
    vertical-align: middle;
    float: left;
    margin-left: 15px;
    font-weight: 500;
}

.top-selling-products{
    font-size: 18px !important;
    text-align: center;
    color: #5a6368 !important;
    font-weight: 500;
}

.top-selling-subtitle{
    color: #5a6368 !important;
    font-size: 13px !important;
    opacity: 1 !important;
    text-align: center !important;
    font-weight: 500;
    padding-left: 10px;
}

.show-now i{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    padding-left: 0px;
}
.show-now:hover i{
    padding-left: 10px;
}