html,body{
    height: 100%;
    padding-right: 0px !important;
    background-color: #EAEDEE !important;
}
::-webkit-input-placeholder {
   color: #9ca7ac !important;
   font-weight: 500 !important;
   font-size: 13px !important;
}
:-moz-placeholder {
   color: #9ca7ac !important;
   font-weight: 500 !important;
   font-size: 13px !important;
}
::-moz-placeholder {
   color: #9ca7ac !important;
   font-weight: 500 !important;
   font-size: 13px !important;
}
:-ms-input-placeholder {  
   color: #9ca7ac !important;
   font-weight: 500 !important;
   font-size: 13px !important;
}
input:read-only{
	background-color: #eee;
}
/* Hide default behavior of IE to show cross sign in input when type something */
input::-ms-clear {
    width: 0px;
    height: 0px;
}
.nav-tabs{
    border-bottom: none !important;
}
/*.nav-tabs>li>a:hover{
	border-color: #eaedee #eaedee #eaedee !important;
}*/
.btn-group.open .dropdown-toggle{
	box-shadow: none;
}
.input-left-radius[disabled], .input-left-radius[readonly]{
	cursor: not-allowed;
}
.container-fluid{
    max-width: 1440px !important;
}
.white{
	color:#fff;
}
.white-bg{
	background: #fff;
}
.pointer_cursor{cursor:pointer;}
.content_div {
	float: left;
	position: relative;
	z-index: 0;
}
#condiv_left {
	width: 100%;
	background: #ffce8d;
}
#condiv_right {	
	font-size:12px;
	color:#4a4949;
}
#inner_content {
	width: 99%;
	float: right;
	min-height:0;
}
#inner_content h3 {
	margin-top: 0px;
}
#inner_content table tr td {
	padding: 3px;
	font-size: 12px;
	color: #555;
	height:30px;
}
#condiv_right h4{font-size:16px;}
#condiv_right h3 {
	font-size: 16px;
	color: #5a6368;	
	margin-bottom: 10px;
	padding:0px 0px 12px 0px;
	background-image: url(https://eduncle-cdn.saglus.com/webfiles/images/line.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
	background-size: 100%;
	margin-top:0;
}
.top_hdr {
	background: #f6f6f6;
	color: #666;
	text-align: center;
}
#top_panel {
	border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    padding: 1%;
}
#profile_div {
	width: 100%;
}
#profile_div1 {
	width: 80%;
}
#inner_content table {
	border: 1px solid #f3f3f3;
	border-color: #f3f3f3;
}
#profile_div1 table {
	border: 0px;
	border-color: #f3f3f3;
}
#profile_div1 table td {
	vertical-align: middle
}
#profile_div input[type="text"] {
	width: 200px;
	padding: 6px 20px;
	font-size: 13px;
	color: #4a4949;
}
#profile_div select >.member-type {
	width: 200px;
	padding: 6px 20px;
	font-size: 13px;
	color: #4a4949;
	border: 1px solid #f3f3f3;
}
#profile_div input[type="date"] {
	width: 200px;
	padding: 6px 20px;
	font-size: 13px;
	color: #4a4949;
	border: 1px solid #ccc;
}
#profile_div input[type="password"] {
	width: 200px;
	padding: 6px 20px;
	font-size: 13px;
	color: #4a4949;
	border: 1px solid #ccc;
}
#profile_div td {
	border: 0px;
}
#profile_div input[type="submit"] {
	padding: 2px 20px;
	text-align: center
}
#profile_div input[type="button"] {
	padding: 2px 20px;
	text-align: center
}
#adv_div {
	width: 20%;
}
.in_div {
	float: left;
}
#newsmodel {
	border-radius: 10px;
	background: #fff;
	min-height: 350px;
	padding: 20px;
}
#profile_div1 li {
	list-style-type: none;
	float: left;
	margin: 5px;
	padding: 5px 10px;
}
#profile_div1 span {
	margin-left: 5px;
	font-size: 14px;
}
.nav_div {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 5px .5px #ffe9cb inset;
	min-height: 50px;
	background: #ffe9cb;
}
.nav_div ul {
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.nav_div ul li {
	list-style-type: none;
	padding: 6px 0px 6px 10px;
	border: .1em solid rgba(187, 148, 86, 0.22);
	text-align: left
}
.nav_div ul li a {
	color: #080808;
	font-size: 12px;
	font-weight: 500;
	text-align: left
}
.selecttab {
	padding: 6px 12px;
	font-size: 12px;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	width: 100%;
}
.member-type {
	text-align: right;
	width: 100%;
	margin-bottom: 5px;
	margin-top: 0px;
}
.member-type a {
	color: #555;
	font-size: 14px;
	padding: 6px 20px;
}
.member-type a:hover {
	color: #ff9100;
	font-size: 14px;
	padding: 6px 20px;
	border-top: 4px solid #ff9100;
	box-shadow: 0px 0px 5px .1px #ccc;
}
.tag {
	font-size: 12px;
	color: #555;
	font-weight: 500;
}
#member-type-nav {
	width: 124px;
	float: right;
	line-height: 35px !important;
}
.p14{padding:14px;}
#panel
{
	width:100%;background:#f3f3f3;border:1px solid #e1e1e1;padding:5px;float:left;margin-bottom:10px;
}
.clear{clear:both;}
#panel input[type="submit"]
{
	padding: 6px 14px;
	background: #fff;
	border: 1px solid #e1e1e1;
	text-align: center;
	width: 100%;
	border-radius: 0px;
	font-size: 12px;
	font-weight: normal;
	color: #4a4949 !important;height:auto !important;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
	-ms-transition: background 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out;
	transition: background 0.5s ease-in-out;
}
#panel input[type="submit"]:hover, #panel input[type="submit"]:focus {
	padding: 6px 14px;
	background: #e1e1e1;
	border: 1px solid #e1e1e1;
	text-align: center;
	border-radius: 0px;
	
}
.pgn {
	font-size: 14px;
	padding: 5px 10px;color:#ff9100;font-weight:bold;
}
.page {
	padding: 5;
	margin: 0 auto;
	overflow: auto;
}
.lec-img{
    position: relative;
}
.lec-number-member{
    position: absolute;
    color: #fff !important;
    font-size: 10px;
    top: -6px !important;
    left: 5px;
}
.page li {
	float: left;
	margin: 5px
}
.page li a {
	font-size: 13px;color:#666;
}
.current {
	font-weight: bold;
	font-size: 14px;color:#0a7aa7;
}
#inbox
{
border:1px solid #ddd;
}
#inbox tr td
{
border-bottom:1px solid #f3f3f3;
}

@media only screen and (min-device-width:320px){
.profile-modal-dialog{
    width: 100%;
    margin: 100px auto;
    padding: 0 15px;
}
.affix-row{
	overflow: hidden;
	background: #eaedee;
}
.topmargin1-lg{
	margin-top: 0 !important;
}
.topmargin1-md{
	margin-top: 0 !important;
}
.topmargin1-sm{
	margin-top: 0 !important;
}
.topmargin1-xs{
	margin-top: 1% !important;
}
.topmargin2-lg{
	margin-top: 0 !important;
}
.topmargin2-md{
	margin-top: 0 !important;
}
.topmargin2-sm{
	margin-top: 0 !important;
}
.topmargin2-xs{
	margin-top: 2% !important;
}
.topmargin3-lg{
	margin-top: 0 !important;
}
.topmargin3-md{
	margin-top: 0 !important;
}
.topmargin3-sm{
	margin-top: 0 !important;
}
.topmargin3-xs{
	margin-top: 3% !important;
}
.topmargin4-lg{
	margin-top: 0 !important;
}
.topmargin4-md{
	margin-top: 0 !important;
}
.topmargin4-sm{
	margin-top: 0 !important;
}
.topmargin4-xs{
	margin-top: 4% !important;
}
.vdo-modal-dialog {
	width: 90% !important;
    margin: 30px auto !important;
}
.sm-top15{
	margin-top: 15px
}
.clear-sm{
	clear: none;
}
.get-access-btn a {
    font-size: 14px;
    color: #fff !important;
    width: 100%;
    display: block;
    float: right;
    margin: 0 auto;
    background: #00a651;
    padding: 12px;
    border-radius: 24px;
    text-align: center;
}	
.more-eduwrap-btn a{
	background: #00A651;
    float: left;
    padding: 7px 25px;
    margin-left: 12px;
    border-radius: 25px;
    color: #fff !important;
    font-size: 14px;
}	
.order-box{border-left:none;background:#fff;}	
.mobile-margin8{
	margin-top: 8%;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:100%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}
.cn-title{
	width: 100%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 10px 15px;
}
.parent-tutor{
	width: 50%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.level{
	width: 50%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.on-off-btns{
	width: 100%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 10px 15px;
}
.unit-part{
	width: 100%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.read-btn{
	width: 100%;
	float: left;
	padding: 20px 15px;
}
.rate-it-btn{
    width: 60%;
    float: left;
}
.title-part{
	width:100%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.desc-part{
	width:100%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.dl-btn{
	width: 100%;
	float: left;
	padding: 20px 15px;
}
.read-btn a, .dl-btn a{
	padding: 5px;
	border: 1px solid #00a651;
	color: #00a651 !important;
	border-radius: 15px;
	width: 100%;
	float: left;
	font-size: 13px;
	text-align: center;
}
.read-btn a:hover, .dl-btn a:hover{
	background: #00a651 !important;
	color: #fff !important
}
.all-btn{
	width: 100%;
	padding: 20px 15px;
	float: left;
}
.text-center-md,.text-center-sm,.text-center-xs{
	text-align: center;
}
.right-tab-lg{
	float: left !important;
}
.xspadding{
	padding-left: 15px !important;
}
.tabs-right{
	float: none;
	margin-bottom: 10px !important;
}
.hello-user{
	float: left;
    position: relative;
    top: 0;
}
.update-button{
  background: #00a651;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  -o-border: none;
  -ms-border: none;
}
.member-nav-tabs > li{
	float:left;
}
.member-nav-tabs > li > a{
  margin: 0px;
  line-height: 0.2;
  font-size: 13px;
  color: #5a6368 !important;
  font-weight: 600;
  padding: 18px 22px;
  border: 1px solid transparent
}
.member-nav-tabs > li > a:hover{background-color:#fff;color:#0a7aa7 !important;}
.member-nav-tabs > li.active > a,
.member-nav-tabs > li.active > a:hover,
.member-nav-tabs > li.active > a:focus{
  color: #0a7aa7 !important;
  cursor: default;
  box-shadow: none;
  font-weight: 600;
  border-top: 3px solid #0a7aa7;
}
.member-student{
  background: #0a7aa7;
  color: #fff;
  text-align: center;
  padding: 2px 9px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-teacher{
  background: #3baed8;
  color: #fff;
  text-align: center;
  padding: 2px 9px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-parent{
  background: #00a651;
  color: #fff;
  text-align: center;
  padding: 2px 9px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-affiliate{
  background: #e0711f;
  color: #fff;
  text-align: center;
  padding: 2px 9px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-type-dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: auto !important;
  right: 32.5% !important;
  border-left: none !important;
  z-index: 999999;
  display: none;
  float: left;
  min-width: 125px !important;
  padding: 0 !important;
  list-style: none;
  font-size: 14px !important;  
  border-radius: 3px;
}
.member-type-dropdown-menu a{
  padding: 6px 15px !important;
  border-bottom: 1px solid #ECECEC;
  text-align: center;
}
.member-type-dropdown-menu a:hover, .member-type-dropdown-menu a:focus{
  background-color: #0a7aa7 !important;
  color: #fff !important;
  box-shadow: none !important;
  border-top: none !important; 
  font-size: 14px !important;
}
#myTabContent h3{
    color: #9ca7ac !important;
    font-size: 15px;
    padding: 20px 10px;
    background: #EAEDEE;
    clear: both;
}
.member-title-name{
  font-size: 17px;
  color: #0a7aa7;
  margin: 7px 0 7px 0;
  font-weight: 600;
}
.followers{
    background: #fff;
    border: 1px solid #c4dfe9;
    padding: 8px 18px;
    width: 100%;
    float: left;
    margin-top: 14px;
    font-weight: 600;
    text-align: center;
    color: #0a7aa7;
}
.followers span{
    clear: both;
    display: block;
}
.xs8 {font-size: 8px;}.xs9 {font-size: 9px;}.xs10 {font-size: 10px;}.xs11 {font-size: 11px;}.xs12 {font-size: 12px;}.xs13 {font-size: 13px;}.xs14 {font-size: 14px;}.xs15 {font-size: 15px;}.xs16 {font-size: 16px;}.xs17 {font-size: 17px;}.xs18 {font-size: 18px;}.xs19 {font-size: 19px;}.xs20 {font-size: 20px;}.xs21 {font-size: 21px;}.xs23 {font-size: 23px;}.xs25 {font-size: 25px;}.xs27 {font-size: 27px;}.xs29 {font-size: 29px;}.xs31 {font-size: 31px;}.xs33 {font-size: 33px;}.xs35 {font-size: 35px;}.xs37 {font-size: 37px;}.xs39 {font-size: 39px;}.xs41 {font-size: 41px;}.xs43 {font-size: 43px;}.xs45 {font-size: 45px;}.xs47 {font-size: 47px;}.xs49 {font-size: 49px;}.xs51 {font-size: 51px;}

.right-saperator{
    border-right: none;
}
.shield-img{
	position: relative;z-index: 1;/*-1*/
}
.xs-text-center{text-align: center;}
.margnbtm{margin-bottom: 5%;}
.xsmargbtm{margin-bottom: 8%;}
.margxs5{margin-top:5%;}
.margsm5{margin-top:5%;}
.norightpad{padding-right: 15px !important;}
.editmargin{margin-top: -47px;}
#panel select{max-width:86px;padding: 5px;border: 1px solid #e1e1e1;text-align: center;width: 100%; color: #5a6368;}
.blocks a {
	padding: 1%;
	border-radius: 2px;
	color: #ff9100;
	font-weight: 400;
	color:#4a4949;
	width:100%;
	min-height: 160px;
	background-color: #fff;
	float: left;
	font-size: 13px;
	text-align: center;
	display: block;
	font-family: Open Sans;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-box-shadow: 0 0 12px 0px #E7E7E7;
	box-shadow: 0 0 12px 0px #E7E7E7;
}
}
@media(min-width:768px){
.profile-modal-dialog{
    width: 550px;
    margin: 100px auto;
    padding: 0 15px;
}
.affix-row{
	overflow: hidden;
	background: #dce1e2;
}
.topmargin1-lg{
	margin-top: 0 !important;
}
.topmargin1-md{
	margin-top: 0 !important;
}
.topmargin1-sm{
	margin-top: 1% !important;
}
.topmargin1-xs{
	margin-top: 0 !important;
}
.topmargin2-lg{
	margin-top: 0 !important;
}
.topmargin2-md{
	margin-top: 0 !important;
}
.topmargin2-sm{
	margin-top: 2% !important;
}
.topmargin2-xs{
	margin-top: 0 !important;
}
.topmargin3-lg{
	margin-top: 0 !important;
}
.topmargin3-md{
	margin-top: 0 !important;
}
.topmargin3-sm{
	margin-top: 3% !important;
}
.topmargin3-xs{
	margin-top: 0 !important;
}
.topmargin4-lg{
	margin-top: 0 !important;
}
.topmargin4-md{
	margin-top: 0 !important;
}
.topmargin4-sm{
	margin-top: 4% !important;
}
.topmargin4-xs{
	margin-top: 0 !important;
}
.vdo-modal-dialog {
	width: 70% !important;
    margin: 30px auto !important;
}
.sm-top15{
	margin-top: 15px
}
.clear-sm{
	clear: both;
}
.more-eduwrap-btn a{
	background: #00A651;
    float: left;
    padding: 7px 25px;
    margin-left: 20px;
    border-radius: 25px;
    color: #fff !important;
    font-size: 14px;
}	
.slide_tab{padding-top:8px;margin-bottom:-8px;}	
.order-box{border-left:none;background:#fff;}	
.mobile-margin8{
	margin-top: 0%;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:100%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}
.cn-title{
	width: 90%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.parent-tutor{
	width: 30%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.level{
	width: 20%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.on-off-btns{
	width: 50%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 30px 15px;
}
.unit-part{
	width: 46%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.title-part{
	width:33%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.desc-part{
	width:32%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.dl-btn{
	width: 25%;
	float: left;
	padding: 20px 15px;
}
.read-btn a, .dl-btn a{
	padding: 5px;
	border: 1px solid #00a651;
	color: #00a651 !important;
	border-radius: 15px;
	width: 100%;
	float: left;
	font-size: 13px;
	text-align: center;
}
.read-btn a:hover, .dl-btn a:hover{
	background: #00a651 !important;
	color: #fff !important
}
.read-btn{
	width: 22%;
	float: left;
	padding: 20px 15px;
}
.rate-it-btn{
    width: 28%;
    float: left;
}
.all-btn{
	width: 46%;
	padding: 20px 15px;
	float: left;
}
.text-center-md,.text-center-sm,.text-center-xs{
	text-align: left;
}
.right-tab-lg{
	float: right !important;
}
.xspadding{
	padding-left: 0px !important;
}
.tabs-right{
	float: right;
	margin-bottom: 10px !important;
}
.hello-user{
	float: left;
    position: relative;
    top: 0;
}
.update-button{
  background: #00a651;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  -o-border: none;
  -ms-border: none;
}
.member-nav-tabs > li{
	float:left;
}
.member-nav-tabs > li > a{
  margin: 0px;
  line-height: 0.2;
  font-size: 13px;
  color: #5a6368 !important;
  font-weight: 600;
  padding: 18px 8px;
  border: 1px solid transparent
}
.member-nav-tabs > li > a:hover{background-color:#fff;color:#0a7aa7 !important;}
.member-nav-tabs > li.active > a,
.member-nav-tabs > li.active > a:hover,
.member-nav-tabs > li.active > a:focus{
  color: #0a7aa7 !important;
  cursor: default;
  box-shadow: none;
  font-weight: 600;
  border-top: 3px solid #0a7aa7;
}
.member-student{
  background: #0a7aa7;
  color: #fff;
  text-align: center;
  padding: 2px 3px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-teacher{
  background: #3baed8;
  color: #fff;
  text-align: center;
  padding: 2px 3px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}	
.member-parent{
  background: #00a651;
  color: #fff;
  text-align: center;
  padding: 2px 3px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-affiliate{
  background: #e0711f;
  color: #fff;
  text-align: center;
  padding: 2px 3px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-type-dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: auto !important;
  right: 25% !important;
  border-left: none !important;
  z-index: 999999;
  display: none;
  float: left;
  min-width: 125px !important;
  padding: 0 !important;
  list-style: none;
  font-size: 14px !important;  
  border-radius: 3px;
}
.member-type-dropdown-menu a{
  padding: 6px 15px !important;
  border-bottom: 1px solid #ECECEC;
  text-align: center;
}
.member-type-dropdown-menu a:hover, .member-type-dropdown-menu a:focus{
  background-color: #0a7aa7 !important;
  color: #fff !important;
  box-shadow: none !important;
  border-top: none !important; 
  font-size: 14px !important;
}	
#myTabContent h3{
    color: #9ca7ac !important;
    font-size: 18px;
    padding: 20px 15px;
    background: #EAEDEE;
    clear: both;
}
.member-title-name{
  font-size: 18px;
  color: #0a7aa7;
  margin: 35px 0 7px 0;
  font-weight: 600;
}
.followers{
    background: #fff;
    border: 1px solid #c4dfe9;
    padding: 8px 18px;
    width: 100%;
    float: left;
    margin-top: 35px;
    font-weight: 600;
    text-align: center;
    color: #0a7aa7;
}
.followers span{
    clear: both;
    display: block;
}
.sm8 {font-size: 8px;}.sm9 {font-size: 9px;}.sm10 {font-size: 10px;}.sm11 {font-size: 11px;}.sm12 {font-size: 12px;}.sm13 {font-size: 13px;}.sm14 {font-size: 14px;}.sm15 {font-size: 15px;}.sm16 {font-size: 16px;}.sm17 {font-size: 17px;}.sm18 {font-size: 18px;}.sm19 {font-size: 19px;}.sm20 {font-size: 20px;}.sm21 {font-size: 21px;}.sm23 {font-size: 23px;}.sm25 {font-size: 25px;}.sm27 {font-size: 27px;}.sm29 {font-size: 29px;}.sm31 {font-size: 31px;}.sm33 {font-size: 33px;}.sm35 {font-size: 35px;}.sm37 {font-size: 37px;}.sm39 {font-size: 39px;}.sm41 {font-size: 41px;}.sm43 {font-size: 43px;}.sm45 {font-size: 45px;}.sm47 {font-size: 47px;}.sm49 {font-size: 49px;}.sm51 {font-size: 51px;}
.member-nav-tabs {
  margin-bottom: 0;
  clear: both;
  background: #fff;
  border-left: 1px solid #dadee0;
  border-bottom: 1px solid #dadee0;
  border-right: 1px solid #dadee0;
  padding: 0 15px 0 0;
}
.right-saperator{
    border-right: 1px solid #eaedee;
}
.has-clild{
	background: #eff2f3;
}
.affix-sidebar{
	padding-right:0 !important;
	font-size:small;
	padding-left: 0 !important;
	background: #dce1e2;
}  
.affix-row, .affix-container{
	height: 100%;
	margin-left: 0;
	margin-right: 0;    
	background: #eaedee;
}
.sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
}
.sidebar-nav .navbar{
	border-radius:0; 
	margin-bottom:0; 
	border:0;
}
.sidebar-nav .navbar ul {
	float: none;
	display: block;
}
#sidenav01{
	padding-bottom: 50px;
    background: #dce1e2;
}
.sidebar-nav .navbar li {
	float: none;
	display: block;
}
.sidebar-nav .navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
	background: #dce1e2;
}  
.sidebar-nav .navbar li a{
	color: #5a6368 !important;
	font-weight: 600;
}
.sidebar-nav .navbar li a:hover,.sidebar-nav .navbar li a:focus{
	color: #2789b0 !important;
}
.shield-img{
	position: relative;z-index: inherit;
}
.xs-text-center{text-align: left;}
.margnbtm{margin-bottom: 4%;}
.xsmargbtm{margin-bottom: 0%;}
.margxs5{margin-top:0%;}
.margsm5{margin-top:5%;}
.norightpad{padding-right: 0px !important;}
.editmargin{margin-top: -34px;}
#panel select{max-width:100px;padding: 5px 14px;border: 1px solid #e1e1e1;text-align: center; color: #5a6368;}
.blocks a {
	padding: 1%;
	border-radius: 2px;
	color: #ff9100;
	font-weight: 400;
	color:#4a4949;
	width:100%;
	min-height: 120px;
	float: left;
	font-size: 13px;
	background-color: #fff;
	text-align: center;
	display: block;
	font-family: Open Sans;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-box-shadow: 0 0 12px 0px #E7E7E7;
	box-shadow: 0 0 12px 0px #E7E7E7;
}
}
@media(min-width:992px){
.col-md-20,.col-md-half{float:left;}
.col-md-20{width:19.8% !important;}
.col-md-half{width:4.66666666% !important;}
.profile-modal-dialog{
    width: 500px;
    margin: 100px auto;
    padding: 0 15px;
}
.affix-row{
	overflow: hidden;
	background: #dce1e2;
}
.topmargin1-lg{
	margin-top: 0 !important;
}
.topmargin1-md{
	margin-top: 1% !important;
}
.topmargin1-sm{
	margin-top: 0 !important;
}
.topmargin1-xs{
	margin-top: 0 !important;
}
.topmargin2-lg{
	margin-top: 0 !important;
}
.topmargin2-md{
	margin-top: 2% !important;
}
.topmargin2-sm{
	margin-top: 0 !important;
}
.topmargin2-xs{
	margin-top: 0 !important;
}
.topmargin3-lg{
	margin-top: 0 !important;
}
.topmargin3-md{
	margin-top: 3% !important;
}
.topmargin3-sm{
	margin-top: 0 !important;
}
.topmargin3-xs{
	margin-top: 0 !important;
}
.topmargin4-lg{
	margin-top: 0 !important;
}
.topmargin4-md{
	margin-top: 4% !important;
}
.topmargin4-sm{
	margin-top: 0 !important;
}
.topmargin4-xs{
	margin-top: 0 !important;
}
.vdo-modal-dialog {
	width: 50% !important;
    margin: 30px auto !important;
}
.sm-top15{
	margin-top: 0px
}
.clear-sm{
	clear: none;
}
.get-access-btn a {
    font-size: 14px;
    color: #fff !important;
    width: 80%;
    display: block;
    float: right;
    margin: 0 auto;
    background: #00a651;
    padding: 12px;
    border-radius: 24px;
    text-align: center;
}
.more-eduwrap-btn a{
	background: #00A651;
    float: left;
    padding: 7px 25px;
    margin-left: 20px;
    border-radius: 25px;
    color: #fff !important;
    font-size: 14px;
}	
.slide_tab{padding-top:8px;margin-bottom:-8px;}	
.order-box{border-left:none;background:#fff;}	
.padding-orders{padding: 0px !important;}	
.p0{padding: 0px !important;}
.mobile-margin8{
	margin-top: 0%;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:48%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}
.cn-title{
	width: 54%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.parent-tutor{
	width: 20%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.level{
	width: 20%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.on-off-btns{
	width: 50%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 30px 15px;
}
.unit-part{
	width: 60%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.read-btn{
	width: 15%;
	float: left;
	padding: 20px 15px;
}
.rate-it-btn{
    width: 18%;
    float: left;
}
.title-part{
	width:38%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.desc-part{
	width:40%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.note-file{
	width: 18%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.dl-btn{
	width: 15%;
	float: left;
	padding: 20px 15px;
}
.read-btn a, .dl-btn a{
	padding: 5px;
	border: 1px solid #00a651;
	color: #00a651 !important;
	border-radius: 15px;
	width: 100%;
	float: left;
	font-size: 13px;
	text-align: center;
}
.read-btn a:hover, .dl-btn a:hover{
	background: #00a651 !important;
	color: #fff !important
}
.all-btn{
	width: 30%;
	padding: 20px 15px;
	float: left;
}
.text-center-md,.text-center-sm,.text-center-xs{
	text-align: left;
}
.right-tab-lg{
	float: right !important;
}
.xspadding{
	padding-left: 0px !important;
}
.tabs-right{
	float: right;
	margin-bottom: 10px !important;
}
.hello-user{
	float: left;
    position: absolute;
    top: 43px;
}
.update-button{
  background: #00a651;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  -o-border: none;
  -ms-border: none;
}
.member-nav-tabs > li{
	float:left;
}
.member-nav-tabs > li > a{
  margin: 0px;
  line-height: 0.2;
  font-size: 13px;
  color: #5a6368 !important;
  font-weight: 600;
  padding: 18px 22px;
  border: 1px solid transparent
}
.member-nav-tabs > li > a:hover{background-color:#fff;color:#0a7aa7 !important;}
.member-nav-tabs > li.active > a,
.member-nav-tabs > li.active > a:hover,
.member-nav-tabs > li.active > a:focus{
  color: #0a7aa7 !important;
  cursor: default;
  box-shadow: none;
  font-weight: 600;
  border-top: 3px solid #0a7aa7;
}
.member-student{
  background: #0a7aa7;
  color: #fff;
  text-align: center;
  padding: 2px 7px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-teacher{
  background: #3baed8;
  color: #fff;
  text-align: center;
  padding: 2px 7px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-parent{
  background: #00a651;
  color: #fff;
  text-align: center;
  padding: 2px 7px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-affiliate{
  background: #e0711f;
  color: #fff;
  text-align: center;
  padding: 2px 7px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-type-dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: auto !important;
  right: 25% !important;
  border-left: none !important;
  z-index: 999999;
  display: none;
  float: left;
  min-width: 125px !important;
  padding: 0 !important;
  list-style: none;
  font-size: 14px !important;  
  border-radius: 3px;
}
.member-type-dropdown-menu a{
  padding: 6px 15px !important;
  border-bottom: 1px solid #ECECEC;
  text-align: center;
}
.member-type-dropdown-menu a:hover, .member-type-dropdown-menu a:focus{
  background-color: #0a7aa7 !important;
  color: #fff !important;
  box-shadow: none !important;
  border-top: none !important; 
  font-size: 14px !important;
}
#myTabContent h3{
    color: #9ca7ac !important;
    font-size: 18px;
    padding: 20px 15px;
    background: #EAEDEE;
    clear: both;
}
.member-title-name{
  font-size: 18px;
  color: #0a7aa7;
  margin: 35px 0 7px 0;
  font-weight: 600;
}
.followers{
    background: #fff;
    border: 1px solid #c4dfe9;
    padding: 8px 12px;
    width: 100%;
    float: left;
    margin-top: 35px;
    font-weight: 600;
    text-align: center;
    color: #0a7aa7;
}
.followers span{
    clear: both;
    display: block;
}
.md8 {font-size: 8px;}.md9 {font-size: 9px;}.md10 {font-size: 10px;}.md11 {font-size: 11px;}.md12 {font-size: 12px;}.md13 {font-size: 13px;}.md14 {font-size: 14px;}.md15 {font-size: 15px;}.md16 {font-size: 16px;}.md17 {font-size: 17px;}.md18 {font-size: 18px;}.md19 {font-size: 19px;}.md20 {font-size: 20px;}.md21 {font-size: 21px;}.md23 {font-size: 23px;}.md25 {font-size: 25px;}.md27 {font-size: 27px;}.md29 {font-size: 29px;}.md31 {font-size: 31px;}.md33 {font-size: 33px;}.md35 {font-size: 35px;}.md37 {font-size: 37px;}.md39 {font-size: 39px;}.md41 {font-size: 41px;}.md43 {font-size: 43px;}.md45 {font-size: 45px;}.md47 {font-size: 47px;}.md49 {font-size: 49px;}.md51 {font-size: 51px;}
.member-nav-tabs {
  margin-bottom: 0;
  clear: both;
  background: #fff;
  border-left: 1px solid #dadee0;
  border-bottom: 1px solid #dadee0;
  border-right: 1px solid #dadee0;
  padding: 0 15px 0 70px !important;
}
.member-right-margin20{
	margin-right: 26px;
	float: left;
}
.right-saperator{
    border-right: 1px solid #eaedee;
}
.shield-img{
	position: relative;z-index: inherit;
}
.xs-text-center{text-align: left;}
.margnbtm{margin-bottom: 2%;}
.xsmargbtm{margin-bottom: 0%;}
.margxs5{margin-top:0%;}
.margsm5{margin-top:0%;}
.norightpad{padding-right: 0px !important;}
.editmargin{margin-top: -34px;}
#panel select{max-width:100px;padding: 5px 14px;border: 1px solid #e1e1e1;text-align: center; color: #5a6368;}
.blocks a {
	padding: 1%;
	border-radius: 2px;
	color: #ff9100;
	font-weight: 400;
	color:#4a4949;
	width:100%;
	min-height: 120px;
	background-color: #fff;
	float: left;
	font-size: 13px;
	text-align: center;
	display: block;
	font-family: Open Sans;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	-webkit-box-shadow: 0 0 12px 0px #E7E7E7;
	box-shadow: 0 0 12px 0px #E7E7E7;
}
}
@media (min-width:1200px){
.col-md-half, .col-md-half1,.col-lg-20{position:relative;min-height:1px;padding-right:15px !important;padding-left:15px !important;}
.col-lg-81 {width: 81.333333% !important;}
.col-lg-18{width: 18.666667% !important;}
.col-lg-22{width: 22% !important;}

.profile-modal-dialog{
    width: 422px;
    margin: 100px auto;
    padding: 0 15px;
}
.affix-row{
	overflow: hidden;
	background: #dce1e2;
}
.topmargin1-lg{
	margin-top: 1% !important;
}
.topmargin1-md{
	margin-top: 0 !important;
}
.topmargin1-sm{
	margin-top: 0 !important;
}
.topmargin1-xs{
	margin-top: 0 !important;
}
.topmargin2-lg{
	margin-top: 2% !important;
}
.topmargin2-md{
	margin-top: 0 !important;
}
.topmargin2-sm{
	margin-top: 0 !important;
}
.topmargin2-xs{
	margin-top: 0 !important;
}
.topmargin3-lg{
	margin-top: 3% !important;
}
.topmargin3-md{
	margin-top: 0 !important;
}
.topmargin3-sm{
	margin-top: 0 !important;
}
.topmargin3-xs{
	margin-top: 0 !important;
}
.topmargin4-lg{
	margin-top: 4% !important;
}
.topmargin4-md{
	margin-top: 0 !important;
}
.topmargin4-sm{
	margin-top: 0 !important;
}
.topmargin4-xs{
	margin-top: 0 !important;
}
.sm-top15{
	margin-top: 1px
}
.clear-sm{
	clear: none;
}
.all-btn{
	width: 20%;
	padding: 20px 15px;
	float: right;
}
.vdo-modal-dialog {
	width: 50% !important;
    margin: 30px auto !important;
}
.get-access-btn a {
    font-size: 14px;
    color: #fff !important;
    width: 80%;
    display: block;
    float: right;
    margin: 0 auto;
    background: #00a651;
    padding: 12px;
    border-radius: 24px;
    text-align: center;
}	
.more-eduwrap-btn a{
	background: #00A651;
    float: left;
    padding: 7px 25px;
    margin-left: 20px;
    border-radius: 25px;
    color: #fff !important;
    font-size: 14px;
}	
.slide_tab{padding-top:8px;margin-bottom:-8px;}	
.order-box{border-left:none;background:#fff;}	
.padding-orders{padding: 0px !important;}	
.p0{padding: 0px !important;}	
.mobile-margin8{
	margin-top: 0%;
}
.cn-title{
	width: 49%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.parent-tutor{
	width: 15%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.level{
	width: 10%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.on-off-btns{
	width: 22%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 30px 15px;
}
.teach-course{
	width: 25%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.teach-title{
	width: 26%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
.teach-img{
	width: 14%;
    float: left;
    font-size: 14px;
    color: #5a6368;
    padding: 20px 15px;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width:23%;
	margin:1%;
	display:none;
	float:left;
	overflow:hidden;
}
.unit-part{
	width: 68%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.title-part{
	width:40%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.desc-part{
	width:40%;
	float: left;
	font-size: 14px;
	color: #5a6368;
	padding: 20px 15px;
}
.read-btn a, .dl-btn a{
	padding: 5px;
	border: 1px solid #00a651;
	color: #00a651 !important;
	border-radius: 15px;
	width: 100%;
	float: left;
	font-size: 13px;
	text-align: center;
}
.read-btn a:hover, .dl-btn a:hover{
	background: #00a651 !important;
	color: #fff !important
}
.right-tab-lg{
	float: right !important;
}
.xspadding{
	padding-left: 0px !important;
}
.tabs-right{
	float: right;
	margin-bottom: 10px !important;
}
.hello-user{
	float: left;
    position: absolute;
    top: 56px;
}
.update-button{
  background: #00a651;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
  border: none;
  -webkit-border: none;
  -moz-border: none;
  -o-border: none;
  -ms-border: none;
}
.member-nav-tabs > li{
	float:left;
}
.member-nav-tabs > li > a{
  margin: 0px;
  line-height: 0.2;
  font-size: 13px;
  color: #5a6368 !important;
  font-weight: 600;
  padding: 18px 22px !important;
  border: 1px solid transparent
}
.member-nav-tabs > li > a:hover{background-color:#fff;color:#0a7aa7 !important;}
.member-nav-tabs > li.active > a,
.member-nav-tabs > li.active > a:hover,
.member-nav-tabs > li.active > a:focus{
  color: #0a7aa7 !important;
  cursor: default;
  box-shadow: none;
  font-weight: 600;
  border-top: 3px solid #0a7aa7;
}
.member-student{
  background: #0a7aa7;
  color: #fff;
  text-align: center;
  padding: 2px 6px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-teacher{
  background: #3baed8;
  color: #fff;
  text-align: center;
  padding: 2px 6px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-parent{
  background: #00a651;
  color: #fff;
  text-align: center;
  padding: 2px 6px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-affiliate{
  background: #e0711f;
  color: #fff;
  text-align: center;
  padding: 2px 6px !important;
  font-size: 11px;
  margin-right: 10px;
  float: left;
}
.member-type-dropdown-menu {
  position: absolute !important;
  top: 100% !important;
  left: auto !important;
  right: 25% !important;
  border-left: none !important;
  z-index: 999999;
  display: none;
  float: left;
  min-width: 125px !important;
  padding: 0 !important;
  list-style: none;
  font-size: 14px !important;  
  border-radius: 3px;
}
.member-type-dropdown-menu a{
  padding: 6px 15px !important;
  border-bottom: 1px solid #ECECEC;
  text-align: center;
}
.member-type-dropdown-menu a:hover, .member-type-dropdown-menu a:focus{
  background-color: #0a7aa7 !important;
  color: #fff !important;
  box-shadow: none !important;
  border-top: none !important; 
  font-size: 14px !important;
}
.member-title-name{
  font-size: 18px;
  color: #0a7aa7;
  margin: 35px 0 7px 0;
  font-weight: 600;
}
.followers{
    background: #fff;
    border: 1px solid #c4dfe9;
    padding: 8px 18px;
    width: 100%;
    float: left;
    margin-top: 35px;
    font-weight: 600;
    text-align: center;
    color: #0a7aa7;
}
.followers span{
    clear: both;
    display: block;
}
.right-background{
	background: #EAEDEE;
	padding-bottom: 25px;
}
.right-saperator{
    border-right: 1px solid #eaedee;
}

.affix-title{
	border-bottom: 1px solid #ecf0f1; 
	padding-bottom:10px;
}
.navbar-nav {
	margin: 0;
}
.navbar-collapse{
	padding: 0;
}
.sidebar-nav .navbar li a:hover {
	background-color: #eff2f3;
}
.sidebar-nav .navbar li a > .caret {
	margin-top: 8px;
}
.shield-img{
	position: relative;z-index: inherit;
}
.xs-text-center{text-align: left;}
.margnbtm{margin-bottom: 0.5%;}
.xsmargbtm{margin-bottom: 0%;}
.margsm5{margin-top:0%;}
.norightpad{padding-right: 0px !important;}
.editmargin{margin-top: -34px;}
#panel select{color:#5a6368;max-width:100px;padding: 5px 14px;border: 1px solid #e1e1e1;text-align: center;}
.blocks a {
	padding: 1%;
	border-radius: 0px;
	font-weight: 400;
	color:#5a6368 !important;
	width:100%;
	min-height: 165px;
	float: left;
	font-size: 13px;
	background-color: #fff;
	text-align: center;
	display: block;
	font-family: Open Sans;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	border:1px solid #dadee0;
}
}

@media only screen and (max-width: 800px) {
#no-more-tables table, 
#no-more-tables thead, 
#no-more-tables tbody, 
#no-more-tables th, 
#no-more-tables td, 
#no-more-tables tr { 
	display: block; 
}
#no-more-tables thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}
#no-more-tables tr { border: 1px solid #ccc; }
#no-more-tables td { 
	border: none;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding-left: 50%; 
	white-space: normal;
	text-align:left;
	font-size: 12px;
	color: #5a6368;
}
#no-more-tables td:before { 
	position: absolute;
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
	text-align:left;
	font-weight: bold;
}
#no-more-tables td:before { content: attr(data-title); }
}
.alert-success{
	display: none;
	position: fixed;
	bottom: 0px;
	right:15px;
	z-index: 9;
	font-size: 16px;
}
.control-btns{
	display: inline-block;
    padding: 5px 13px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #9ca7ac !important;
    border-radius: 12px;
    margin: 0 5px;
    color: #9ca7ac
}
.bottom-space{
	margin-bottom: 30px;
}
.report-tab li.active a{
	border-bottom: none !important;
}
.get-access a {
	font-size: 13px;
    color: #00a651 !important;
    width: 100%;
    display: block;
    margin: 0 auto;
    clear: both;
    background: #fff;
    padding: 12px;
    border: 1px solid #00a651;
    text-align: center;
    border-radius: 24px;

}
.get-access a:hover{background-color: #00a651;color:#fff!important;}

.get-access-fill a {
	font-size: 13px;
    color: #fff !important;
    width: 100%;
    display: block;
    margin: 0 auto;
    clear: both;
    background: #00a651;
    padding: 12px;
    border: 1px solid #00a651;
    text-align: center;
    border-radius: 24px;
}
.side-nav-title{
	background: #dce1e2 !important;
	color: #5A6368 !important;
}
.side-nav-title:hover,.side-nav-title:focus{
	background: #dce1e2 !important;
	color: #5a6368 !important;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 65px;
  height: 25px;
  padding: 3px;
  margin:0;
  border-radius: 18px;
  cursor: pointer;
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eaedee;
  border: 1px solid #dadee0;
  border-radius: inherit;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #3baed8;
  border: 1px solid #3baed8;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  background: #ffffff;
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}
.switch-input:checked ~ .switch-handle {
  left: 37px;
}
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}
.member-nav{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.member-nav > li{
  position:relative;
  display:block;
}
.member-nav > li > a{
  position:relative;
  display:block;
  padding:10px 15px;
}
.member-nav > li > a:hover,
.member-nav > li > a:focus{
  text-decoration:none;
  background-color:#eee;
}
.member-nav > li.disabled > a{
  color:#777;
}
.member-nav > li.disabled > a:hover,
.member-nav > li.disabled > a:focus{
  color:#777;
  text-decoration:none;
  cursor:not-allowed;
  background-color:transparent;
}
.member-nav .open > a,
.member-nav .open > a:hover,
.member-nav .open > a:focus{
  background-color:#eee;
  border-color:#337ab7;
}
.member-nav .nav-divider{
  height:1px;
  margin:9px 0;
  overflow:hidden;
  background-color:#e5e5e5;
}
.member-nav > li > a > img{
  max-width:none;
}
.member-nav > li > a:hover, .nav > li > a:focus{
  color: #fff; 
}
.tab-text{
  width: 100% !important;
  padding: 0 !important
}
.reset-pass a{
  float: right;
  background: #0a7aa7;
  text-align: center;
  color: #fff !important;
  font-size: 13px;
  margin-top: 5px;
  padding: 7px 20px;
  border-radius: 3px;
}
.tab-content-member > .tab-pane{
  display: none;
}
.tab-content-member > .active{
  background: #EAEDEE !important;
  border: none !important;
  display: block;
}
.inner-blue-title{
  color: #037aa6;
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0 20px 0;
}
.inner-blue-text{
  color: #037aa6;
  font-size: 16px;
  font-weight: 400;
}
.blue-text{
	color: #037aa6 !important;
}
.inner-green-title{
  color: #00a651;
  font-size: 16px;
  font-weight: 400;
}
.inner-red-title{
  color: #e0711f;
  font-size: 16px;
  font-weight: 400;
}

.content-inner .name-field{
  font-size: 14px;
  color: #5a6368;
  line-height: 2.5;
}
.bottom-spacing{
  margin-bottom: 15px;
}
.mob-no-selecttor{
  padding: 7px 8px !important;
  font-size: 13px !important;
  border-color: #e1e1e1 !important;
}
.member-address{
  height: 120px !important;
}
.edit-profile,.edit-education,.edit-experience{
  background: #0a7aa7;
  color: #fff;
  text-align: center;
  padding: 8px 20px;
  margin-left: 20px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
}
.enableEditProfile,.enableEditEducation, .enableEditExperience{
  display: none;
}
.info-title{
  font-size: 13px;
  color: #5a6368;
}
.info-desc{
  font-size: 13px;
  color: #5a6368;
}
.p-manage-block{
  padding: 15px 0;
}
.m-type-icon{
  background: #dce1e2;
  width: 35px;
  height: 35px;
  padding: 11px;
  border-radius: 100%;
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: #909ea3;
}
.m-type{
  font-size: 14px;
  color: #5a6368;
  margin: 4px 0 8px 0;
  text-align: center;
}
.request{
  text-align: center;
  margin-top: 15px;
}
.request a{
  color: #0a7aa7 !important;    
  text-align: center !important;
  font-size: 14px !important;
  text-decoration: underline !important;
}
.request a:hover{
  text-decoration: none !important;
}
.m-type-btn{
  background: #00a651;
  text-align: center;
  color: #fff !important;
  text-decoration: none;
  font-size: 13px;
  margin: 5px auto 0 auto;
  padding: 7px 20px;
  border-radius: 3px;
  width: 170px;
  display: block;
}
.m-type-btn:hover,.m-type-btn:focus{
  color: #fff !important;
}
.badge_member{
  display: inline-block;
  min-width: 24px;
  padding: 4px;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #0a7aa7;
  border-radius: 26%;
}
.member-dropdown-tab{
  margin: 0px !important;
  padding: 0px !important;
}
.member-dropdown-tab > li >a{
  padding: 6px 20px !important
}
.back-btn a{
  color: #9ca7ac !important;
  font-size: 12px;
  margin-top:2% !important;
}
.bs-example-tabs{
  clear: both;
}
.select-member-type{
  background: url("../../webfiles/images/member-type.png") no-repeat;
  width: 100%;
  background-size: cover;
  padding: 25px 0;
  margin-bottom: 0px !important;
}
.member-type-btn-default {
  color: #fff !important;
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  font-size: 13px !important;
  border-radius: 3px !important;
}
.member-type-btn-default:hover,.member-type-btn-default:focus{
  color: #fff !important;
}
.member-type-select-btn{
	width: 125px;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}
.member-drop-list{
	max-width: 125px;
	min-width: 125px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.lh03{
	line-height: 0.3 !important
}
.nav-tabs-member{
	background: transparent !important;
	border: 0px !important;
}
.member-type-btn-tutor {
  color: #fff !important;
  background-color: #00a651;
  border-color: #00a651;
  font-size: 13px;
  padding: 6px 20px !important;
  border-radius: 20px !important;
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
}
.member-type-btn-tutor:hover,.member-type-btn-tutor:focus{
  color: #fff !important;
}
.member-type-btn-group{
  margin-left: auto;
  margin-right: auto;
  display: block !important;
}
.member-name,.member-name strong{
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding-bottom: 10px;
}
.has-sub{
  border-left: 4px solid #3baed8;
}
.sidebar-nav li.has-sub a {
  background: #eff2f3 !important;
  color: #5a6368 !important;
  font-weight: 600;
}
.sidebar-nav li.has-sub ul li a{
  padding-left: 35px;
}
.sidebar-nav li.has-sub i{
  margin-top: 3px;
}
.sidebar-nav li.has-sub a:hover{
  color: #2789b0 !important;
  font-weight: 600;
}
.nav-list li a.sidebar-blue{
	color: #2789b0 !important;
  	font-weight: 700 !important;	
}
.no-eduwrap{
	display: none !important;
}
.member-profile-block{
  background: #f3fcff;
  float: left;
  margin-top: 20px;
  width: 100%;
  padding: 15px 0;
  border: 1px solid #dadee0;
}
.getaccess-block{
  background: #fff;
  float: left;
  margin-top: 20px;
  width: 100%;
  padding: 15px 0;
  border: 1px solid #dadee0;
}
.inner-cntnt-title{
	color: #5a6368 !important;
    font-size: 18px;
    padding: 20px 15px;
    background: #EAEDEE;
    clear: both; 
}
.content-inner .goal{
	font-size: 14px;
	color: #5a6368;
	padding-left: 15px;
	line-height: 2;
}
.member-img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: #f3fcff;
  -webkit-box-shadow: 0 0 5px 1px #e6eff3;
  box-shadow: 0 0 5px 1px #e6eff3;
}
.member-mbl-btn{
	border-color: #0a7aa7 !important;
	background: #0a7aa7 !important;
	border-radius: 0px !important;
}
.member-mbl-btn .icon-bar{
	background: #fff !important;
}
.nav-header-area{
	border-bottom: 2px solid #0a7aa7 !important;
}
.mobile-default-nav{
	background-color: #dce1e2 !important;
}
.sidebar-nav{
	width: 100%;
	height: 100%;
	background: #DCE1E2;
}
#free-x{
	min-height: 797px !important;
}
.rep-title{
	font-size: 15px;
	font-weight: 600;
	color: #5a6368;
	margin-top: 10px;
	padding-bottom: 5px;
}
.bottom-margin2{margin-bottom: 2px;}
.icn{
	font-size: 14px;
	color: #bccacf;
}
.member-icons-fb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    color: #fff !important;
    font-size: 13px;
    margin-right: 10px;
    background: #39599f;
    padding: 10px;
}
.member-icons-gplus {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    color: #fff !important;
    font-size: 13px;
    margin-right: 10px;
    background: #cc181e;
    padding: 10px;
}
.member-icons-tw {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    text-align: center;
    color: #fff !important;
    font-size: 13px;
    margin-right: 10px;
    background: #45b0e3;
    padding: 10px;
}
.member-icons-tw i,.member-icons-gplus i,.member-icons-fb i{
	line-height: 9px;
}
.member-icons-fb:hover,.member-icons-fb:focus ,.member-icons-gplus:hover,.member-icons-gplus:focus, .member-icons-tw:hover,.member-icons-tw:focus{
	color: #fff !important
}
.member-author-name {
    color: #0a7aa7 !important;
    font-size: 14px;
    font-weight: 600;
}
.req li{
	list-style: disc;
	font-size: 14px;
	color: #5a6368;
	margin-left: 20px;
    padding-left: 15px;
    padding-top: 5px;
}
#myTabContent .active{
	background: #EAEDEE;
	border: 0px;
}
.member-progress {
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.test-package-blocks a{
    background: #fff;
    padding: 15px 0;
    float: left;
    min-height: 100px;
    width: 100%;
    border: 1px solid #dadee0;
}
.trending-threads{
	clear: both;
	float: left;
	width: 100%
}
.course-online-report {
    background: #fff;
    padding: 15px 0;
    float: left;
    border-left: 6px solid #00a651;
    width: 100%;
    border-top: 1px solid #dadee0;
    border-right: 1px solid #dadee0;
    border-bottom: 1px solid #dadee0;
}
.report-chart-title{
	border-bottom: 1px solid #eaedee;
	padding-bottom: 10px;
	width: 100%;
}
.report-activity{
	background: #fff !important;
	border: none !important;
}
.report-dropdown{
	margin: auto !important;
    right: 0;
    left: 70px !important;
    width: 130px !important;
    min-width: 195px !important;
    padding: 4px;
    border: 1px solid #eee !important;
}
.report-applybtn{
	background: #0a7aa7;
    padding: 3px 10px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
}
.report-applybtn:hover,.report-applybtn:active{background:#0a7aa7 !important;color: #fff !important;}
.course-report-Video{
	background: #3baed8;
	padding: 10px 0;
	float: left;
	width: 100%;
	color: !fff !important;
	display: block;
}
.course-report-Audio{
	background: #81cdea;
	padding: 10px 0;
	float: left;
	width: 100%;
	color: !fff !important;
	display: block;
}
.course-report-PDF{
	background: #e0711f;
	padding: 10px 0;
	float: left;
	width: 100%;
	color: !fff !important;
	display: block;
}
.course-report-TEXT{
	background: #037aa6;
	padding: 10px 0;
	float: left;
	width: 100%;
	color: !fff !important;
	display: block;
}
.pVideo{
	border-color:#3baed8 !important;
}
.pAudio{
	border-color:#7bf6fb !important;
}
.pPDF{
	border-color:#e0711f !important;
}
.pTEXT{
	border-color:#037aa6 !important;
}
.white-text{
	color: #fff !important
}
.perc-completed{
	color: #5a6368 !important;
	font-weight: 600 !important;
	white-space: nowrap !important;
	text-align: center !important;
	top: 25px !important;
	z-index: 1 !important;
	display: block !important;
	width: 12em !important;
	font-size: 17px !important;
	line-height: 11em !important;
	position: absolute !important;
}
.prec-done{
	position: absolute !important;
    width: 100% !important;
    z-index: 1 !important;
    left: 0 !important;
    top: 0 !important;
    width: 5em !important;
    line-height: 6em !important;
    font-size: 0.2em !important;
    color: #fff !important;
    font-weight: 600 !important;
    display: block !important;
    text-align: center !important;
    white-space: nowrap !important;
}
.module-progress{
	background: #3baed8;
	color: #fff !important;
	padding: 5px 10px;
	font-size: 13px;
	width: 100%;
	float: left;
}
.read-btn a:hover,.read-btn a:focus{
	background: #00a651;
	color: #fff !important;
}
.read-btn-eduwrap a {
    padding: 8px;
    border: 1px solid #00a651;
    color: #00a651 !important;
    border-radius: 25px;
    width: 45%;
    font-size: 13px;
    text-align: center;
    display: block;
    clear: both;
    margin: 20px auto 0 auto;
}
.read-btn-eduwrap a:hover{background-color: #00a651;color:#fff!important;}
.order-saperate-block{
	background: #fff;
	clear:both;
	border: 1px solid #dadee0;
	width: 100%;
	float: left;
	margin-bottom: 25px;
}
.order-blocks-inner{
	border:none;
	padding:15px 0;
	float:left;
}
.order-blocks-inner{
	background: #fff !important;
    padding: 15px 0 !important;
    float: left !important;
    width: 100% !important;
    border-top: 1px solid #dadee0 !important;
    border-right: 1px solid #dadee0 !important;
}
.order-blocks-head{
	background: #eff2f3 !important;
    padding: 15px 0 !important;
    float: left !important;
    width: 100% !important;
    border-bottom: none !important;
    border-right: 1px solid #dadee0 !important;
}
.green-text-color{
	color: #00a651 !important;
}
.attempt-head{
	background: #0A7AA7;
	width: 100%;
	float: left;
	padding: 10px;
	color: #fff;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
}
.attempt-white{
	background: #fff;
	float: left;
	width: 100%;
	padding: 15px;
}
.progress-attempt {
    height: 10px;
    margin-top: 6px;
    overflow: hidden;
    background-color: #eaedee;
    border-radius: 0px;
}
.progress-custom{
	height: 15px !important;
	margin-top: 6px !important;
	margin-bottom: 0px !important;
	overflow: hidden !important;
	background-color: #eaedee !important;
	border-radius: 0px !important;
}
.check-all{
	padding: 10.5px 4px !important;
}
.check-box{
    padding: 2px 15px !important;
}
.dropdown_box{
 	margin: 0px !important;
    padding: 0px !important;
    min-width: 127px !important;
}
.btntrash{
   display: inline-block;
   color: #5a6368;
   padding: 5px 13px;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   border: 1px solid #9ca7ac !important;
   border-radius: 6px;
   font-size: 14px;
}
.btntrash:hover{
   background:#d1d8da;
}
.bottombordr{border-bottom: 2px solid #dadee0 !important;}
.bottombordr1{border-bottom: 1px solid #dadee0 !important;}
.left-padding{padding-left: 0px !important;}
.mail-report{
    width: 100%;
    min-height: 320px;
    padding-top: 0px !important;
    background: #ffffff;
    border: 1px solid #dadee0;
}
.pagination{
  display: inline-block;
  padding-left: 0;
  margin: 0px 0 !important;
  border-radius: 4px;
}
.checkbtnsize{
   width: 18px !important;
  height: 16px !important;
} 
.splitButtonInput[type="checkbox"] {
    margin: 0;
}
.btn_mailbox{
    display: inline-block;
    padding: 8px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #dadee0;
    border-radius: 0px;
}		
.all-mail label {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    margin-left: 4px;
}
.read-checkbox{background:#eaedee;font-weight:600;}
.checked-box{background:#def7ff;font-weight:600;}
.checkbox11{
	margin-top: 8px;
}
.checkbox11 input[type=checkbox] {
	display: none;
}
.checkbox11 label:before {
    border-radius: 0%
}
.checkbox11 input[type=checkbox]:checked + label:before {
	content: "\2713";
	font-size: 10px;
	color: #fff;
	border:1px solid #0A7AA7;
	text-align: center;
	font-weight: bold;
    line-height: 15px;
    background: #0A7AA7
}
.checkbox11 label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: 12px;
	padding-left: 25px;
	color: #0A7AA7 !important;
	font-weight: 500;
	font-size: 13px;
}
.checkbox11 label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #fff;
	border:1px solid #0A7AA7;
}
.clear-btn-new{
	width: 100%;
    background: #dddddd;
    padding: 6px;
    font-size: 13px;
    float: left;
    text-align: center;
    border-radius: 16px;
    border: 1px solid #9ca7ac;
}
.complete_profile a{
	border:1px solid #037aa6;
	background: #fff;
    color: #037aa6 !important;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 13px;
    border-radius: 20px;
    padding: 10px;
}
.complete_profile a:hover,.complete_profile a:active{color:#fff!important;background-color:#037aa6; }
.profile-view{    clear: both;
    background: #eff1f2;
    border-top: 0px;
    border: 1px solid #dadee0;
    display: block;
    border-top: none;
    font-size: 14px;
    padding: 15.5px;
    width: 100%;
    float: left;
}
.bottom-space6{margin-bottom: 6px;}
.bottom-space2{margin-bottom: 2px;}
.profile-news-feeds {
    background: #eff1f2;
    border-top: 0px;
    border: 1px solid #dadee0;
    display: block;
    font-size: 14px;
    padding: 15.5px;
    width: 100%;
    float: left;
    margin-top: 20px;
}
.bottom-mrgn{margin-bottom: 20px;}
.profile-view-btn a{
	background: #0a7aa7;
	color: #fff !important;
	text-align: center;
	width: 100% !important;
	float: left !important;
	font-size: 13px;
	border-radius: 20px;
	padding: 8px;
}
.profile-view-btn a:hover,.profile-view-btn a:focus{color: #fff !important;}
.profile-title-name{
	  font-size: 18px;
	  color: #0a7aa7;
	  margin: 14px 0 7px 0;
	  font-weight: 600;
}

.new-feeds-img{
	background: #fff;
    float: left;
    width: 100%;
    padding: 15px 15px 15px 20px;
    color: #555;
    font-size: 14px;
    border-left: 1px solid #dadee0;
    border-right: 1px solid #dadee0;
}
.dashboard-blog{
	background: #fff;
    float: left;
    width: 100%;
    padding: 15px 15px 15px 20px;
    color: #555;
    min-height: 338px;/*320px*/
    font-size: 14px;
    border: 1px solid #dadee0;
}
.grab-now-btn {
    display: inline-block;
    margin-left: 18px;
    padding: 0px 68px;
    margin-top: 20px;
    background: #17bc3a;
    color: #fff !important;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 3px;
    height: 42px;
}
.p4{padding: 4px;}
.slide_dashboard{color:#5a6368;}
.slide_dashboard:hover{background: #dadee0;cursor: pointer;}
.profile_blue{color: #0a7aa7;}



































#inner_content{
	margin-bottom: 30px;
}
.blocks a:focus {
	text-decoration: none;
	color: #666;
}
.blocks a p {
	font-size: 12px;
	color: #333;
	margin-top: 10px;
	font-family:Open Sans !important;
	font-weight: 300 !important;
}
.blocks a:hover {
	color: 1b9bff !important;
	text-decoration: none;
	color: #666;	
	border:1px solid #d1d8da;
}
.memberbutton {
	background-color: #f3f3f3;
	display: block;
	margin-top: 1%;
	border:1px solid #e1e1e1;
}
.memberbutton a {
	text-align: center;
	padding: 3%;
	display: block;
	width: 100%;
	color: #4a4949 !important;
	font-size: 13px !important;
}
.memberbutton:hover {
	text-decoration: none;
	background-color: #e1e1e1;
	border:1px solid #C3C2C2;
	color: #fff !important;
}
.topmargin05 {margin-top: 0.5%;}.topmargin1 {margin-top: 1%;}.topmargin2 {margin-top: 2%;}.topmargin3 {margin-top: 3%;}.topmargin4 {margin-top: 4%;}.topmargin5 {margin-top: 5%;}.topmargin6 {margin-top: 6%;}.topmargin7 {margin-top: 7%;}.topmargin8 {margin-top: 8%;}.topmargin9 {margin-top: 9%;}.topmargin10 {margin-top: 10%;}.topmargin11 {margin-top: 11%;}.topmargin12 {margin-top: 12%;}.topmargin13 {margin-top: 13%;}.topmargin14 {margin-top: 14%;}.topmargin15 {margin-top: 15%;}.topmargin18 {margin-top: 18%;}



/*************************Add css for member/tutor/question-bank Start************************************/
.inner_panel {
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	margin-top: 2%;
}
.inner_panel h4 {
	padding: 12px 0px 12px 0px;
	background: #7c95a0;
	color: #5a6368;
	font-size: 12px;
	margin-bottom: 10px;
	cursor: pointer;
	border: 1px solid #C3C3C3;
}
.inner_panel_nav {
	padding: 6px 10px;
	background: #0490E5;
	text-align: center;
	border-radius: 0px;
	max-width: 120px;
	color:#fff !important;
	float: right;
	margin-top: -7px;
}
.inner_panel_nav:hover {
	padding: 6px 10px;
	background: #0579C0;
	text-align: center;
	border-radius: 0px;
	-webkit-transition: background 0.5s ease-in-out;
   -moz-transition: background 0.5s ease-in-out;
   -ms-transition: background 0.5s ease-in-out;
   -o-transition: background 0.5s ease-in-out;
   transition: background 0.5s ease-in-out;
}
.inner_panel_nav1 {
	padding: 6px 5px;
	background: #0490E5;
	color: #fff !important;
	text-align: center;
	border-radius: 0px;
	max-width: 120px;
	float: right;
	margin-top: -7px;
}
.inner_panel_nav1:hover {
	padding: 6px 5px;
	background: #0579C0;
	text-align: center;
	color:#fff !important;
	border-radius: 0px;
	-webkit-transition: background 0.5s ease-in-out;
   -moz-transition: background 0.5s ease-in-out;
   -ms-transition: background 0.5s ease-in-out;
   -o-transition: background 0.5s ease-in-out;
   transition: background 0.5s ease-in-out;
}
.inn1 {
	background: #0a7aa7 !important;
}
.inn1:hover {
	background: #0a7aa7 !important;
}
.inn2 {
	background: #64bb5c !important;
}
.inn2:hover {
	background: #55a94d !important;
}
.inn3 {
	background: #666 !important;
}
.inn3:hover {
	background: #666 !important;
}
.inner_panel_nav a {
	color: #fff !important;
	font-size: 12px;
	font-weight: 500;
}
.inner_panel_nav1 a {
	color: #fff !important;
	font-size: 12px;
	font-weight: 600;
}
.inner_panel1 {
	width: 97%;
	float: right
}
.inner_panel1 h5 {
	padding: 12px 0px 12px 0px;
	background: #f3f3f3;
	color: #5a6368;
	font-size: 12px;
	margin-bottom: 10px;
	cursor: pointer
}
.rank_table_img {
	border: 3px solid #f3f3f3;
	width: 25px;
	height: 25px;
}
/*td > * {
	vertical-align : middle;
}*/
.lec_con {
	margin-left: 20px;
	float: right
}
.lec_con label {
	position: absolute;
	color: #F42121;
	font-size: 10px;
	font-weight: bold;
	margin-left: -12px;
	margin-top: -17px;
	padding: 5px;
}
#condiv_right h4
{
	font-size:13px !important;
}
.active-hd
{
	color:#fff !important; background-color:#505050 !important;
}
.active
{
	color:#fff !important;
}
.xdsoft_datetimepicker .active
{
	color:#333 !important; background-color:#FFFFFF  !important;
}
#cssmenu ul li a
{
	padding: 14px 10px !important;width: 100% !important;
}
.submit {
    background-color: #0a7aa7 !important;
    font-weight: normal !important;
    font-size: 14px !important;
    border: 0px;
    color: #ffffff !important;
    text-align: center;
    border-radius: 0px;
    -webkit-border-radius: 0px;float:none !important;
}
.close-btn-popup {
   	float: right;
    width: 33px !important;
    height: 33px !important;
    background: #fff;
    font-size: 18px;
    position: absolute;
    border-radius: 34px;
    border: 4px solid #dadee0;
    color: #e0711f;
    padding-top: 0px;
    z-index: 999999;
    right: -10px !important;
    top: -10px !important;
}
/*.form-control1
{
	float:none !important;
	display: initial !important;
}*/
/*******Add css for member/tutor/question-bank End************/
.date_input {
    width: 38%;
    background: url("https://eduncle-cdn.saglus.com/webfiles/images/cal-img/cal.png") no-repeat 95% 4px #fff;
    cursor: pointer;
    font-size: 13px;
    height: 32px;
    border:1px solid #dadee0;
}
.add-document-btn
{
	 background-color:#0a7aa7;padding:10px;color:#fff;cursor:pointer; float:right;
}
.tab-option-block{
	width:100%;
	border-bottom:2px solid #0a7aa7;
	float:left;
}
.nav-tabs > li {
    float: left;
 	margin-bottom: 0px !important;
}
.imgHover {
    width: 130px;
    background:#f3fcff;
    height: 130px;
    position:relative;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #d9eff7;
    margin: auto;
    display: block;
}
.upload-overlay{
	background-color: rgba(255,255,255,0.8);
	position: absolute;	
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	display: none;
	cursor: pointer;
	font-size: 13px;
	color: #5a6368;
	text-align: center;
}
.upload-overlay i{
	font-size: 30px;
	color: #00a651;
	margin-top: 40px;
    text-align: center;
    width: 100%;
}
.imgHover:hover .upload-overlay{
	display: block;
	opacity: 1;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.imgop {
  opacity:0.5;
  position: absolute;
  bottom:0;
  background: #000;
  color:#fff;
  border: 0px;
  width: 100%;
  height:18%;
}
.grab-now{
	background: url('../images/profile-view-demo.png') no-repeat center center;
	background-size: cover;
	width: 100%;
	float: left;
	padding: 40px 0;
	color: #fff;
	margin-top: 20px !important;
}
.profile-img-size{width:80px;height:80px;}

.report_div{
    width:100%;
    display:table;
    padding-top:0px;
      background: #f4f4f4;
    border:1px solid #dadee0;
  }
.btnTable_report{
    display: inline-block;
    padding: 8px 16px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border: 1px solid #9ca7ac !important;
    border-radius: 30px;
    font-size: 12px;
    background: #d1d8da;
}
.btnTable_report:hover{
  color: #5a6368;
}
.right_btn{
	border: 1px solid #00a651;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    background: #00a651;
}
.wrong_btn{
	border: 1px solid #db4800;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    background: #db4800;
}
.shape-text-report{
	color:#fff; font-size:12px; 
	position:relative; 
	right:-42px; 
	top:-20px; 
	white-space: nowrap;
	-ms-transform:rotate(90deg);
	-o-transform: rotate(360deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
}
.test_report_sticker{
	border:1px solid #dadee0;padding: 29px 9px;background: #fff;color:#5a6368;position:relative;margin-bottom: 20px;}
.floatl{float: left;}
.floatr{float: right;}
.pright{padding-right: 0px !important;}
.profile-padng{padding:40% 0px 0px 15px;}
.p13{padding: 13px !important;}

.memberpanel-indexbox{
	border: 8px solid #0b8eb6 !important;
    width: 100%;
    float: left;
    background: #fff !important;
    cursor: pointer;
    padding: 18px 18px 18px 18px;
}
.headerbg{
    background: url(https://eduncle-cdn.saglus.com/webfiles/images/login-panel.jpg) no-repeat #0482ab;
    position: fixed;
    width: 100%;
    clear: both;
    background-size: cover;
    height: 100%;
    float: left;
    overflow: auto;
}
.light-white{color: #fefefe;}
.memberpanel-indexbox .grayscale {
    filter: gray;
    -webkit-filter: grayscale(55%);
    -webkit-transition: all .6s ease; 
    -webkit-backface-visibility: hidden; 
}
.memberpanel-indexbox:hover .enter-btn-eduwrap {
    background-color: #00a651 !important;
    color: #fff !important;
}
.memberpanel-indexbox:hover .grayscale{
    filter: none;
    -webkit-filter: grayscale(0%);
}

.enter-btn-eduwrap {
    padding: 8px;
    border: 1px solid #00a651;
    color: #00a651 !important;
    border-radius: 25px;
    width: 45%;
    font-size: 13px;
    text-align: center;
    display: block;
    clear: both;
    margin: 20px auto 0 auto;
}
.enter-btn-eduwrap:hover{background-color: #00a651;color:#fff!important;}

@media screen and (max-width: 479px) {
  .member-nav-tabs > li {
    display: none;
    width: 23%;
  }
  .member-nav-tabs > li > a {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
    width: 100%;
    text-align: center;
    vertical-align: top;
  }
  .member-nav-tabs > li.active {
    width: 54%;
  }
  .member-nav-tabs > li.active:first-child {
    margin-left: 23%;
  }
  .member-nav-tabs > li.active, .member-nav-tabs > li.prev, .member-nav-tabs > li.next {
    display: block;
  }
  .member-nav-tabs > li.prev, .member-nav-tabs > li.next {
    /*-webkit-transform: scale(0.9);
    transform: scale(0.9);*/
  }
  .member-nav-tabs > li.next > a, .member-nav-tabs > li.prev > a {
    -webkit-transition: none;
    transition: none;
  }
  .member-nav-tabs > li.next > a .text, .member-nav-tabs > li.prev > a .text {
    display: none;
  }
  .member-nav-tabs > li.next > a:after, .member-nav-tabs > li.next > a:after, .member-nav-tabs > li.prev > a:after, .member-nav-tabs > li.prev > a:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .member-nav-tabs > li.prev > a:after {
    content: "\e079" ;
  }
  .member-nav-tabs > li.next > a:after {
    content: "\e080" ;
  }
  .member-nav-tabs > li.dropdown > a > .caret {
    display: none ;
  }
  .member-nav-tabs > li.dropdown > a:after {
    content: "\e114" ;
  }
  .member-nav-tabs > li.dropdown.active > a:after {
    display: none ;
  }
  .member-nav-tabs > li.dropdown.active > a > .caret {
    display: inline-block ;
  }
  .member-nav-tabs > li.dropdown .dropdown-menu.pull-xs-left {
    left: 0 ;
    right: auto ;
  }
  .member-nav-tabs > li.dropdown .dropdown-menu.pull-xs-center {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .member-nav-tabs > li.dropdown .dropdown-menu.pull-xs-right {
    left: auto;
    right: 0;
  }
}

/*table in Mobile Device*/
@media only screen and (max-width: 800px) {        
      #no-more-tables table, 
      #no-more-tables thead, 
      #no-more-tables tbody, 
      #no-more-tables th, 
      #no-more-tables td, 
      #no-more-tables tr { 
        display: block; 
      }
     
      /* Hide table headers (but not display: none;, for accessibility) */
      #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
     
      #no-more-tables tr { border: 1px solid #ccc; }
     
      #no-more-tables td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        white-space: normal;
        text-align:left;
        min-height: 46px;
        line-height: 2.5;
      }
     
      #no-more-tables td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        font-size: 12px;
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
      }
    
      #no-more-tables td:before { content: attr(data-title); }
      .table-responsive {
		    width: 100%;
		    margin-bottom: 15px;
		    overflow-y: hidden;
		    overflow-x: scroll;
		    -ms-overflow-style: -ms-autohiding-scrollbar;
		    border: 1px solid #ddd;
		    -webkit-overflow-scrolling: touch;
		}
    }

/*Course Curriculum 2-step Process*/

.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 16px;
    right: 112px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 20%;
    height: 1px;
    text-align: center;
    z-order: 0;
}
.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
    width: 20% !important;
}



/**********  *********
	Tutor Dashboard
**********  *********/
.dashboard-inner{
	background: #fff;
    padding: 15px 0;
    float: left;
    width: 100%;
    border: 1px solid #dadee0;
    -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.dashboard-inner:hover{
	-moz-transform: translateY(-7px);
	-webkit-transform: translateY(-7px);
	-o-transform: translateY(-7px);
	-ms-transform: translateY(-7px);
	transform: translateY(-7px);
	background-color: rgba(253, 250, 253, 0.5);
}
.dashboard-title{
	font-size: 14px;
	display: block;
	font-weight: bold;
	text-align: center !important;
	color: #037aa6 !important;
	text-transform: uppercase;
}
.dashboard-viewbtn a{
	background: #0a7aa7;
    color: #fff !important;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 13px;
    border-radius: 6px;
    padding: 13px;
    margin-top: 20px;
}
.dashboard-viewbtn a:hover{color: #fff !important;}
@media only screen and (max-width: 1200px) {        
    /* Force table to not be like tables anymore */
    #report_table table, 
    #report_table thead, 
    #report_table tbody, 
    #report_table th, 
    #report_table td, 
    #report_table tr { 
        display: block; 
    }
 
    /* Hide table headers (but not display: none;, for accessibility) */
    #report_table thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
 
    #report_table tr { border: 1px solid #ccc; }
 
    #report_table td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 38%; 
        white-space: normal;
        text-align:left;
        min-height: 46px;
    	line-height: 2.5;
    }
    #report_table td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    #report_table td:before { 
        content: attr(data-title);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 150px;
    }
}
.total-students{
    background: #3c505a;
    padding: 15px;
    color: #fff !important;
    float: left;
    width: 100%;
    margin-top: 20px !important;
}
.total-students .st-title{
    color: #fff !important;
    text-align: center !important;                            
    font-size: 18px;
    font-weight: normal;
}
.total-students .tot-number{
    font-size: 48px;
    text-align: center;
    color: #fff !important
}
.completed{
    float: left;
    width: 49%;
    color: #fff !important;
    text-align: center;
    border-right: 1px solid #fff;
    font-size: 14px;
}
.in-progress{
    float: left;
    width: 49%;
    color: #fff !important;
    text-align: center;
    font-size: 14px;
}
.heading-full{
    float: left !important;
    width: 100% !important;
}
.accordion-toggle{
    background: #eaedee;
    float: left;
    border: 1px solid #dadee0;
    border-radius: 3px;
    color: #a6b0b5 !important;
    padding: 4px 1px 3px 5px;
    text-align: center;
}
.new-file-type input[type="file"] {
    display: block;
}
.custom-file-upload {
    border: 1px solid #00a651;
    background: #00a651;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.rate-btn a {
    font-size: 12px;
    color: #fff !important;
    width: 100%;
    display: block;
    margin: 0 auto;
    clear: both;
    background: #00a651;
    padding: 0 6px;
    border: 1px solid #00a651;
    text-align: center;
    border-radius: 24px;
}
.h_iframe{
	min-height: 500px !important
}
.table-responsive {
	min-height: .01%; 
	overflow-x: auto;
} 
.nav-tabs>li>a:hover{
	border-color: 1px solid transparent !important;
}
.add-benefits{
    padding: 4px 6px;
    cursor: pointer;
    border: 1px solid #9ca7ac !important;
    font-size: 12px;
    float: left;
    background: #d1d8da;
    color: #5a6368 !important;
    border-radius: 15px;
}
.save-thumbnail {
    background: #037aa6;
    height: 40px;
    padding: 0px 26px;
    color: #ffffff;
    border-radius: 20px;
    margin: auto;
    font-size: 13px;
    border: 0;
}
#question-list-div{
	border-left: 1px solid #dadee0;
	border-right: 1px solid #dadee0;
	border-bottom: 1px solid #dadee0;
}
.error-icon{
    color: #dce1e2;
    font-size: 60px;
}
.profile-alert-modal{
    border: 0px !important;
    border-radius: 5px !important;
    -webkit-box-shadow: -5px 2px 15px rgba(175, 175, 175, 0.5) !important;
    box-shadow: -5px 2px 15px rgba(175, 175, 175, 0.5) !important;
}
.profile-alert-modal-header{
    border: 0 !important;
    padding: 10px !important;
}
.color-alert-msg{
    color: #9ca7ac;
}
.profile-popup-close{
    color: #adadad !important;
    font-size: 35px !important;
    font-weight: normal !important;
}
.close-button-white{
    color: #fff !important;
    font-size: 35px !important;
    font-weight: normal !important;
    opacity: 1 !important;
}
.table-bottom-margin-0{
    margin-bottom: 0px !important;
}
.custom-success-alert{
    background-color: #58ac65 !important;
    border: 1px solid #54a360 !important;
    color: #fff !important;
    font-size: 14px !important;
    border-radius: 0px !important;
}
.custom-incorrect-alert{
    background-color: #ff7373 !important;
    border: 1px solid #f96969 !important;
    color: #fff !important;
    font-size: 14px !important;
    border-radius: 0px !important;
}
.try-again{
    background: #fff;
    border: 1px solid #dadee0 !important;
    width: 110px;
    padding: 10px;
    color: #9ca7ac;
    border-radius: 20px;
    margin: auto;
    display: block;
    font-size: 14px;
    border: 0;
    margin-top: 20px;
}
.chart-relative{
    position: relative;
}
.createpkge_btn {
    width: 100%;
    background: #00a651;
    color: #fff;
    padding: 6px;
    border: 0px;
    margin-bottom: 3%;
    border-radius: 30px;
}
.member-nav-tabs {
  	margin-bottom: 0;
  	clear: both;
  	background: #fff;
  	border-left: 1px solid #dadee0;
  	border-bottom: 1px solid #dadee0;
  	border-right: 1px solid #dadee0;
  	float: left;
  	width: 100%;
}
.member-nav-tabs>li{
	position: relative;
}
.member-nav-tabs>li>a {
	position: relative;
	display: block;
	padding: 11px 15px;
	background: transparent;
}
.nav-tabs{
	border-bottom: 0px !important
}
.tab-content > .active{
	background: transparent;
	border: 0px !important;
}
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 4px !important;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('https://eduncle-cdn.saglus.com/webfiles/images/star.png') 0 -16px;
}
.attempt-select{
	border-color: #fff;background: #fff;color:#037aa6!important;
}
.no-resize-textarea{
	border: 1px solid #dadee0 !important;
    padding: 5px 10px !important;
    width: 100% !important;
    height: 150px !important;
    resize: none !important;
    background: #fff !important;
}
.btn-default-mail{color:#5a6368;background-color:#f3f3f3;border-color:#e1e1e1 !important;}

/*
 * imgAreaSelect default style
 */

.imgareaselect-border1 {
	background: url(border-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {  
}
.form-control{
    box-shadow: none !important;
    border-radius: 0px !important;
    color: #9ca7ac !important;
    font-size: 13px !important
}
.input-left-radius {
    border-top-left-radius: 25px !important;
    border-bottom-left-radius: 25px !important;
    background: #fff;
    color: #9ca7ac !important;
    display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.42857143;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-right-radius {
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    background: #fff;
}
.btn-group label.btn{
	padding: 5px !important;
}
/*.modal-open{
    overflow: hidden;
    position: fixed;
}*/
.modal-content{
    border-radius: 0px !important
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    vertical-align: middle;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle !important;
    border-top: 1px solid #ddd;
}
select.form-control {
	line-height: 28px;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover{
	background-color: #f5f5f5 !important;
}
.nav-tabs>li>a:hover{
	border-color: transparent !important;
}









/*******  REMOVE LATER AFTER CDN BOOTSTRAP.MIN.CSS UPDATE START  *********/
/*.modal-library {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    background: rgba(0,0,0,0.8);
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}*/
/*******  REMOVE LATER AFTER CDN BOOTSTRAP.MIN.CSS UPDATE END  *********/



/************  BOOTSTRAP CUSTOM CLASSES START ************/
/*.modal-open .modal{
	overflow-x:hidden !important;
	overflow-y:auto !important;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}*/
/************  BOOTSTRAP CUSTOM CLASSES END ************/
.clearable{
    background: #fff url(https://eduncle-cdn.saglus.com/webfiles/images/cross.gif) no-repeat right -10px center;
    border: 1px solid #dadee0;
    border-radius: 3px;
    transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	color: #fff !important;
    background-color: #0a7aa7 !important;
    border-color: #0a7aa7 !important;
    text-decoration: none !important;}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    border-radius: 0px !important;
    text-align: center;
    background-color: #00a651 !important;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
    background-image: none !important;
}
.progress-bar_format{
    border-radius: 0px !important
}