#cssmenu1,
#cssmenu1 ul,
#cssmenu1 ul li,
#cssmenu1 ul li a{margin:0;padding:0;border:0;list-style:none;line-height:1;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align:left !important;}
#cssmenu1{width:100%;font-family:Open Sans;color:#ffffff;float:left;border-left:1px solid #0A7AA7;}
#cssmenu1 ul ul{display:none;}
.align-right{float:right;}
@media(min-width:240px){#cssmenu1 > ul > li > a{padding:11px 10px;cursor:pointer;z-index:2;font-weight:normal;text-decoration:none;color:#505050 !important;background:#fff;}
}
@media(min-width:768px){#cssmenu1 > ul > li > a{padding:11px 10px;cursor:pointer;z-index:2;font-weight:normal;text-decoration:none;color:#505050 !important;background:#fff;}
}
@media(min-width:992px){#cssmenu1 > ul > li > a{padding:14px 10px;cursor:pointer;z-index:2;font-weight:normal;text-decoration:none;color:#505050 !important;background:#fff;}
}
@media(min-width:1200px){#cssmenu1 > ul > li > a{padding:14px 10px;cursor:pointer;z-index:2;font-weight:normal;text-decoration:none;color:#505050 !important;background:#fff;border-bottom:1px solid #eee;}
}
#cssmenu1 > ul > li > a:hover,
#cssmenu1 > ul > li.active > a,
#cssmenu1 > ul > li.open > a{background:#fff;border-bottom:1px solid #ECEAEA;width:100% !important;}
#cssmenu1 > ul > li.open > a{}
#cssmenu1 > ul > li:last-child > a,
#cssmenu1 > ul > li.last > a{width:100% !important;}
.holder1{width:100%;height:100%;position:absolute;top:0;right:0;}
.drop::after{width:100%;height:100%;}
.holder1::after,
.holder1::before{display:block;position:absolute;content:"";width:6px;height:6px;right:20px;z-index:10;}
.holder1::after{top:17px;border-top:2px solid #505050;border-left:2px solid #505050;}
#cssmenu1 > ul > li > a:hover > span::after,
#cssmenu1 > ul > li.active > a > span::after,
#cssmenu1 > ul > li.open > a > span::after{border-color:#eeeeee;}
.holder1::before{top:18px;border-top:2px solid;border-left:2px solid;border-top-color:inherit;border-left-color:inherit;}
#cssmenu1 ul ul li a{cursor:pointer;border-bottom:1px solid #ECEAEA;border-right:1px solid #E5E5E5;padding:10px 0px 10px 15px;z-index:1;text-decoration:none;color:#505050;background:#f3f3f3;}
#cssmenu1 ul ul li:hover > a,
#cssmenu1 ul ul li.open > a,
#cssmenu1 ul ul li.active > a{background:#0A7AA7;color:#fff !important;}
#cssmenu1 ul ul li:first-child > a{box-shadow:none;}
#cssmenu1 ul ul ul li:first-child > a{box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1);}
#cssmenu1 ul ul ul li a{padding-left:30px;}
#cssmenu1 > ul > li > ul > li:last-child > a,
#cssmenu1 > ul > li > ul > li.last > a{border-bottom:0;}
#cssmenu1 > ul > li > ul > li.open:last-child > a,
#cssmenu1 > ul > li > ul > li.last.open > a{border-bottom:1px solid #32373e;}
#cssmenu1 > ul > li > ul > li.open:last-child > ul > li:last-child > a{border-bottom:0;}
#cssmenu1 ul ul li.has-sub > div.drop::after{display:block;position:absolute;content:"";width:5px;height:5px;right:20px;z-index:10;top:11.5px;border-top:2px solid #eeeeee;border-left:2px solid #eeeeee;-webkit-transform:rotate(-135deg);-moz-transform:rotate(-135deg);-ms-transform:rotate(-135deg);-o-transform:rotate(-135deg);transform:rotate(-135deg);}
#cssmenu1 ul ul li.active > a::after,
#cssmenu1 ul ul li.open > a::after,
#cssmenu1 ul ul li > a:hover::after{border-color:#ffffff;}