.pop_first{
	padding:5px 5px 10px 5px;
}
.pop_logo{
	background:url(https://eduncle-cdn.saglus.com/webfiles/images/Popup_logo.jpg) no-repeat top center;
	width:39px;
	height:45px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	margin-top:5px;
}
.pop_download_btn1 {
    width: 100% !important;
    padding: 3% 0% !important;
    background-color: #00a651 !important;
    border: none !important;
    border-bottom: solid 2px #038b45 !important;
    margin: 0px 0px 5px 0px !important;
    text-align: center !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-decoration: none !important;
}
.form-spacing{
	height:8px;
}
.full_payment1{
	float:right;
}
.login_txt {
	font-size: 13px;
	padding: 0px;
	color: #555555;
}
.login_txt a {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color:#55B4DA !important;
}
.login_txt a:hover {
	font-size: 14px;
	font-weight: bold;
	color:#55B4DA !important;
	text-decoration: underline !important;
}
.bottom_links a {
	font-size: 13px;
	text-decoration: none;
	color: #555555;
	font-weight: 600;
	clear: both;
}
.bottom_links a:hover {
	font-size: 13px;
	text-decoration: none;
	color: #0a7aa7;
	clear: both;
}
.popup_txt_filed {
	display: block;
	width: 100%;
	height: 25px;
	color: #555555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #dadee0;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	margin-top: 8px;
}
.pop_download_btn {
	width: 100% !important;
	padding:3% 0% !important;
	background-color: #00a651 !important;
	border:none !important;
	border-bottom: solid 2px #038b45 !important;
	margin:0px 0px 5px 0px !important;
	text-align: center !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-decoration: none !important;
}
.pop_download_btn:hover,.pop_download_btn:focus {
	width: 100% !important;
	padding:3% 0% !important;
	background-color: #00a651 !important;
	border:none !important;
	border-bottom: solid 2px #038b45 !important;
	margin:0px 0px 5px 0px !important;
	text-align: center !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

.line{
	border-top: solid 1px #3d849f;
	height:1px;
	padding-bottom:7px;
}
.title_txt{
	color:#FFFFFF;
	font-size:27px;
	padding-bottom:5px;
}
.titlesub_txt{
	color:#FFFFFF;
	font-size:17px;
	padding-bottom:72px;
}
.pop_icon1{
	background: url(https://eduncle-cdn.saglus.com/webfiles/images/pop_icon1.png) no-repeat;
	padding-left: 40px;
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom: 18px;
}
.pop_icon2{
	background: url(https://eduncle-cdn.saglus.com/webfiles/images/pop_icon2.png) no-repeat;
	padding-left: 40px;
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom: 18px;
}
.pop_icon3{
	background: url(https://eduncle-cdn.saglus.com/webfiles/images/pop_icon3.png) no-repeat;
	padding-left: 40px;
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom: 18px;
}
.pop_icon4 {
	background: url(https://eduncle-cdn.saglus.com/webfiles/images/pop_icon4.png) no-repeat;
	padding-left: 40px;
	color: #FFFFFF;
	font-size: 16px;
	margin-bottom:27px;
}
.pop_socail_link{
	color: #FFFFFF;
	font-size: 14px;
}
.pop_design_position{
	width: 100%;
	float: left;
	display:block;
	/*margin-top: 30px;*/
}
.pop_fb:hover {
    padding: 9px 11px;
    border-radius: 100px;
    border: solid 1px #FFFFFF;
    background-color: #3b5998;
    font-size:10px !important;
    color:#FFFFFF;
}
.pop_gp {
    padding: 9px 9px;
    border-radius: 100px;
    border: solid 1px #FFFFFF;
    font-size:10px !important;
    color:#FFFFFF;
}
.pop_gp:hover {
    padding: 9px 9px;
    border-radius: 100px;
    border: solid 1px #FFFFFF;
    background-color: #dd4e40;
    font-size:10px !important;
    color:#FFFFFF;
}
.pop_tw,.pop_fb{
    padding: 9px 11px;
    border-radius: 100px;
    border: solid 1px #FFFFFF;
    font-size:10px !important;
    color:#FFFFFF;
}
.pop_tw:hover {
    padding: 9px 11px;
    border-radius: 100px;
    border: solid 1px #FFFFFF;
    background-color: #46c7f4;
    font-size:10px !important;
    color:#FFFFFF;
}
select.form-control{
    line-height: 28px;
}
.pop_soc_fb{
	padding: 12px 18px;
	background-color: #3b5998;
	color:#ffffff;
	font-size: 16px !important;
	margin-left: 8px;
    text-align: center;
}
.pop_soc_gp{
	padding:12px 13px;
	background-color: #dd4e40;
	color:#ffffff;
	font-size: 16px !important;
}
.main_exip_pop_area {
	padding: 5px 5px !important;
	background:none;
	float: left;
	background: #fff
}
.exit_pop_area {
	background:url('https://eduncle-cdn.saglus.com/webfiles/images/exit-top_bar.jpg') #2a9490 no-repeat;
	/*padding: 5px;*/
	background-size: cover;
	width: 100%;
	margin-left: auto;
	float: left;
	z-index: 99;
}
.exit_pop_title {
	color: #FFFFFF;
	font-weight: bold;
}
.exit_pop_sub_title {
	color: #FFFFFF;
	font-weight: bold;
}
.pop_gift {
	margin-top:-85px;	
	background: url('https://eduncle-cdn.saglus.com/webfiles/images/pop_gift.png') no-repeat top right;
	width: 132px !important;
	height: 139px;
	z-index: 9;
	}
.exit_sub_txt {
	color: #5a6368;
	font-weight: 600;
	text-indent:10px;
	padding-top:8px;
}
.exit_pop_space {
	padding: 15px;
}
.exit_form_spacing {
	padding-bottom: 5px;
}
.free_today_image {
	position: absolute;
	left:-1px;
	z-index: 1;
	margin-top:-15px;
}
.free_today_image1 {
	position: relative;
	z-index: 1;
	margin-left:-26px;
}

 @media (min-width:320px) {
	.lightbox .box {
		position: relative;
		padding:0px;
		width:90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		background-color: #ffffff;
		margin-top: 30px;
	}
	.rights-margin{
		margin-top: 8px;
		float: left;
		width: 100%;
	}
	.popup-form-modal-body{
        position: relative;
        padding:0px;
        width:90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        left:-10px;
    }
	.title_txt{
	  color:#FFFFFF;
	  font-size:20px;
	  padding-bottom:5px;
	}
	.titlesub_txt{
	  color:#FFFFFF;
	  font-size:14px;
	  padding-bottom:0px;
	}
	.padding-connect{
		padding-top: 102px;
	}
	.pop_second{
		padding: 28px 0px 24px 0px;
		background:url(https://eduncle-cdn.saglus.com/webfiles/images/pop_background.jpg) no-repeat bottom right;
		background-size:cover;
		margin-top:5px;
		min-height: 0px;
	}
	.content-height-popup-3-point{
    	min-height: 0px;
    }
    .content-height-popup-4-point{
    	min-height: 0px;
    }
}
 @media (min-width:768px)
 {
 .lightbox .box {
        position: relative;
        padding:0px;
        width:58%;/*64%*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
        margin-top: 30px;
    }
    .rights-margin{
		margin-top: 23px;
		float: left;
		width: 100%;
	}
    .popup-form-modal-body{
        position: relative;
        padding:0px;
        width:92%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .padding-connect{
		padding-top: 100px;
	}
	.titlesub_txt{
	  color:#FFFFFF;
	  font-size:14px;
	  padding-bottom:57px;
	}
	.pop_second{
		padding: 28px 25px 24px 25px;
		background:url(https://eduncle-cdn.saglus.com/webfiles/images/pop_background.jpg) no-repeat bottom right;
		background-size:cover;
		margin-top:5px;
		min-height: 478px;
	}
	.title_txt{
	  color:#FFFFFF;
	  font-size:20px;
	  padding-bottom:5px;
	}
	.content-height-popup-3-point{
    	min-height: 308px;
    }
    .content-height-popup-4-point{
    	min-height: 180px;
    }
 }
 @media (min-width:992px)
 {
    .popup-form-modal-body{
	    position: relative;
	    padding:0px;
	    width:65%;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
    }
    .rights-margin{
		margin-top: 19px;
		float: left;
		width: 100%;
	}
    .padding-connect{
		padding-top: 123px;
	}
	.titlesub_txt{
	  color:#FFFFFF;
	  font-size:14px;
	  padding-bottom:57px;
	}
	.pop_second{
		padding: 28px 25px 24px 25px;
		background:url(https://eduncle-cdn.saglus.com/webfiles/images/pop_background.jpg) no-repeat bottom right;
		background-size:cover;
		margin-top:5px;
		min-height: 478px;
	}
	.title_txt{
	  color:#FFFFFF;
	  font-size:24px;
	  padding-bottom:5px;
	}
	.content-height-popup-3-point{
    	min-height: 298px;
    }
    .content-height-popup-4-point{
    	min-height: 180px;
    }
 }
 @media (min-width:1200px)
 {
    .popup-form-modal-body{
	    position: relative;
	    padding:0px;
	    width:65%;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
    }
    .rights-margin{
		margin-top: 18px;
		float: left;
		width: 100%;
	}
    .content-height-popup-3-point{
    	min-height: 303px;
    }
    .content-height-popup-4-point{
    	min-height: 228px;
    }
    .padding-connect{
		padding-top: 165px;
	}
	.titlesub_txt{
	  color:#FFFFFF;
	  font-size:14px;
	  padding-bottom:57px;
	}
	.pop_second{
		padding: 28px 25px 24px 25px;
		background:url(https://eduncle-cdn.saglus.com/webfiles/images/pop_background.jpg) no-repeat bottom right;
		background-size:cover;
		margin-top:5px;
		min-height: 495px;/*478*/
	}
	.title_txt{
	  color:#FFFFFF;
	  font-size:27px;
	  padding-bottom:5px;
	}
 }



.pop_bg{
	background: #fff;
	padding: 0;
	float: left;
}
.popup-form-modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	display: none;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: rgba(0, 0,0, 0.8);
}
.entry-close-btn-popup {
	float: right !important;
	width: 35px !important;
	height: 35px !important;
	background:#0379a5 !important;
	font-size: 16px !important;
	position: absolute !important;
	border-radius: 34px !important;
	border: 4px solid #FFFFFF !important;
	color: #FFFFFF !important;
	padding-top: 0px !important;
	margin-top: -28px !important;
	z-index: 999999 !important;
	right: 23px !important;
	top: 52px !important;
	margin-right:-30px !important;
	font-weight:normal !important;
	cursor: pointer !important;
}
.exit-popup-close{
	float: right;
	width: 35px;
	height: 35px;
	background:#0379a5;
	font-size: 16px;
	position: absolute;
	border-radius: 34px;
	border: 4px solid #FFFFFF;
	color: #FFFFFF;
	padding-top: 0px;
	margin-top: -28px;
	z-index: 999999;
	right: 23px !important;
	top: 15px !important;
	margin-right:-30px;
	font-weight:normal;
}
