.mid-mat img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#wrapper.toggled {
	padding-right: 300px;
}
.testheaderfull {
  	background: #f3f3f3 !important;
  	width: 100%;
  	border-bottom: 1px solid #e1e1e1 !important;
  	padding: 0.8% 0;
  	min-height:49px;
}
#page-content-wrapper{
	/*overflow: auto;*/
}
#prevPage{cursor: pointer;display: block;}
#nxtPage{cursor: pointer;display: block;}
.w300{font-weight:300;}.w400{font-weight:400;}.w500{font-weight:500;}.w600{font-weight:600;}.w700{font-weight:700;}.w800{font-weight:800;}.w900{font-weight:900;}

.dropdown-toggle{border-top:0px;border-bottom:0px;background:#ececec;color:#7e7e7e;}

.dropdown-toggle:hover,.dropdown-toggle:focus > i{color:#7e7e7e  !important}
.top-right-box{position:absolute;right:0}
.user_img {
  	border: 1px double #e1e1e1;
  	padding: 3px 5px;
  	float:left;
  	background:#ececec;
  	margin-right:8px;
}
.notifycart_text {
	display: inline-block;
	font-size: 18px !important;
	position: relative;
	font-weight: bold;
	top: 0px !important;
	line-height: 1;
	color: #4E9847;
}
.text-top-margin{margin-top: 0px;}

#sidebar-wrapper li img {
	cursor: pointer;
}
#wrapper.toggled #sidebar-wrapper {
	width: 300px;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -320px;
}
.notify {
  	background:#0a7aa7;
  	position:absolute;
  	top:-10px;
  	padding:3px 4px 3px 4px;
  	left:25px;
  	font-size:9px;
}
.userround {
  	border: 1px double #e1e1e1;
  	border-radius: 50px;
  	padding: 4px;
}
.paddupdown {
  	padding-top: 2%;
  	padding-bottom: 2%;
  	padding-left: 0px !important;
  	float: left;
  	width: 100%;
}
.newsignup a {
  	padding: 5% 3%;
  	display: block;
  	color: #fff !important;
  	font-family: Open Sans;
  	font-size: 14px;
  	text-align: center;
  	background-color: #54a84c;
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-ms-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}
.newsignup a:hover {
	text-decoration: none;
	color: #fff !important;
	background-color: #54CB49;
}
.lh19{line-height:1.9;}
a{color:#4a4949 !important;text-decoration:none;}
a:hover{color:#0a7aa7 !important;text-decoration:none;}

.topmargin05 {margin-top: 0.5%;}.topmargin1 {margin-top: 1%;}.topmargin2 {margin-top: 2%;}.topmargin3 {margin-top: 3%;}.topmargin4 {margin-top: 4%;}.topmargin5 {margin-top: 5%;}.topmargin6 {margin-top: 6%;}.topmargin7 {margin-top: 7%;}.topmargin8 {margin-top: 8%;}.topmargin9 {margin-top: 9%;}.topmargin10 {margin-top: 10%;}.topmargin11 {margin-top: 11%;}.topmargin12 {margin-top: 12%;}.topmargin13 {margin-top: 13%;}.topmargin14 {margin-top: 14%;}.topmargin15 {margin-top: 15%;}.topmargin18 {margin-top: 18%;}
.padding0{padding:0px !important;}

@media(min-width:240px) {
	.xs8 {font-size: 8px;}.xs9 {font-size: 9px;}.xs10 {font-size: 10px;}.xs11 {font-size: 11px;}.xs12 {font-size: 12px;}.xs13 {font-size: 13px;}.xs14 {font-size: 14px;}.xs15 {font-size: 15px;}.xs16 {font-size: 16px;}.xs17 {font-size: 17px;}.xs18 {font-size: 18px;}.xs19 {font-size: 19px;}.xs20 {font-size: 20px;}.xs21 {font-size: 21px;}.xs23 {font-size: 23px;}.xs25 {font-size: 25px;}.xs27 {font-size: 27px;}.xs29 {font-size: 29px;}.xs31 {font-size: 31px;}.xs33 {font-size: 33px;}.xs35 {font-size: 35px;}.xs37 {font-size: 37px;}.xs39 {font-size: 39px;}.xs41 {font-size: 41px;}.xs43 {font-size: 43px;}.xs45 {font-size: 45px;}.xs47 {font-size: 47px;}.xs49 {font-size: 49px;}.xs51 {font-size: 51px;}
	.xslemarg8{margin-top:0px !important;}
	.paddingtopxs8{padding-top:8%}
	.paddingtopxs13{padding-top:19%;}
	.soundpadd{padding:.5% 0 0 12px;margin:0}
	.fullscr{padding:.5% 0 0 39px;margin:0;}
	.paddingxs5{padding:0 5px !important;}
	.xsmarg20{margin-top:0% !important;}
	.head-toggle-box{width:58px;float:left;display:inline-block}
	.usrrightmarg {
	  margin-top:-8px;
	}
	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border-right: 1px solid #e1e1e1;
		border-left: 1px solid #e1e1e1;
		border-bottom: 0px;
		border-top: 0px;
		white-space: nowrap;
		padding: 7px 3px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 0px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}
}
.lh0{line-height:0%;}.lh50{line-height:50%;}.lh60{line-height:60%;}.lh70{line-height:70%;}.lh80{line-height:80%;}.lh90{line-height:90%;}.lh100{line-height:100%;}.lh110{line-height:110%;}.lh120{line-height:120%;}.lh130{line-height:130%;}.lh140{line-height:140%;}.lh150{line-height:150%;}.lh160{line-height:160%;}.lh170{line-height:170%;}.lh180{line-height:180%;}.lh190{line-height:190%;}.lh200{line-height:200%;}


@media(min-width:320px) {
	.xsmargtop4{}		
	.xsmargtop0{}	
	.xs8 {font-size: 8px;}.xs9 {font-size: 9px;}.xs10 {font-size: 10px;}.xs11 {font-size: 11px;}.xs12 {font-size: 12px;}.xs13 {font-size: 13px;}.xs14 {font-size: 14px;}.xs15 {font-size: 15px;}.xs16 {font-size: 16px;}.xs17 {font-size: 17px;}.xs18 {font-size: 18px;}.xs19 {font-size: 19px;}.xs20 {font-size: 20px;}.xs21 {font-size: 21px;}.xs23 {font-size: 23px;}.xs25 {font-size: 25px;}.xs27 {font-size: 27px;}.xs29 {font-size: 29px;}.xs31 {font-size: 31px;}.xs33 {font-size: 33px;}.xs35 {font-size: 35px;}.xs37 {font-size: 37px;}.xs39 {font-size: 39px;}.xs41 {font-size: 41px;}.xs43 {font-size: 43px;}.xs45 {font-size: 45px;}.xs47 {font-size: 47px;}.xs49 {font-size: 49px;}.xs51 {font-size: 51px;}
	.submit-answer{margin-left:0%;width:100%;margin-bottom: 10px;}
	.study_social{padding-top:3%;border-bottom: 1px solid #f3f3f3;height:49px}
	.head-toggle-box{width:53px;float:left;display:inline-block}
	#bot-panel-mid img {margin-left: 2%;margin-right: 2%;}
	.nav>li>a {
		padding: 10px 20px !important;
		font-size: 18px;
	}
	.qust-options{
		width:280px !important;
		height:320px !important; 
		overflow-y:scroll !important;
	}
	.seekbar-section{
		position:fixed;
		width:100%;
		bottom:0;
		left:0;
		right: 0;
		padding:10px 5px;
		background-color:#5e5e5e;
		opacity:0.8;
		height:32px;
		z-index: 999;
		float: left;
		clear: both;
	}
	.xslemarg8{margin-top:0px !important;}
	.paddingtopxs8{padding-top:8%}
	.paddingtopxs13{padding-top:32%;}
	.soundpadd{padding:.5% 0 0 12px;margin:0}
	.fullscr{padding:2.5% 0 0 0px;margin:0;}
	.paddingxs5{padding:0 5px !important;}
	.xsmarg20{margin-top:0% !important;}
	.usrrightmarg {
	  margin-top:-8px;
	}
	#sidebar-wrapper {
		width: 0px;
		z-index: 1000;
		position: fixed;
		right: 300px;
		height: 100%;
		margin-right: -300px;
		overflow-y: hidden;
		background: #ececec;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		border-left:1px solid #e1e1e1;
	}
	.wrapper_normal{
		padding-left: 0;
		-webkit-transition: all 5s ease;
		-moz-transition: all 5s ease;
		-o-transition: all 5s ease;
		transition: all 5s ease;	
	}
	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border-right: 0px solid #e1e1e1;
		border-left: 1px solid #e1e1e1;
		border-bottom: 0px;
		border-top: 0px;
		white-space: nowrap;
		padding: 7px 3px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 0px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}
	.lecture-header {
	  		background: #ececec !important;
	  		width: 100%;
	  		border-bottom: 1px solid #e1e1e1 !important;
	  		padding:0;
	  		min-height:46px;
	}	
		
	.trophy a{
		background:#fff;
		padding:10px 2px;
		width:100%;
		color:#7e7e7e !important;
		font-size:18px;
		float:left;
		text-align:center;    
		min-height: 44px;
		border-left:1px solid #e1e1e1;
	}
	.trophy a:hover{
		background:#e1e1e1;
		color:#7e7e7e !important;
	}
	.head_signup{
		border-top:0px;
		border-bottom:0px;
		background:#ECECEC;
		color:#7e7e7e;
		padding:7px 7px;
		min-height: 44px;
	}
	.c-hamburger span {
	   	display: block;
	    position: absolute;
	    top: 22px;
    	left: 10px;
	    right: 20px;
	    height: 3px;
	    background: #7e7e7e;
	}
	.tg-small {
	    display: block;
	    position: relative;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
		padding: 21px 30px 21px 23px;
		min-height:45px;
	    font-size: 0;
	    text-indent: -9999px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    box-shadow: none;
	    border-radius: none;
	    border: none;
	    cursor: pointer;
	    -webkit-transition: background .3s;
	    transition: background .3s
	}
}
@media(min-width:768px) {
	.xsmargtop4{margin-top: 1px !important;}		
	.xsmargtop0{margin-top:0px !important;}	
	.sm8 {font-size: 8px;}.sm9 {font-size: 9px;}.sm10 {font-size: 10px;}.sm11 {font-size: 11px;}.sm12 {font-size: 12px;}.sm13 {font-size: 13px;}.sm14 {font-size: 14px;}.sm15 {font-size: 15px;}.sm16 {font-size: 16px;}.sm17 {font-size: 17px;}.sm18 {font-size: 18px;}.sm19 {font-size: 19px;}.sm20 {font-size: 20px;}.sm21 {font-size: 21px;}.sm23 {font-size: 23px;}.sm25 {font-size: 25px;}.sm27 {font-size: 27px;}.sm29 {font-size: 29px;}.sm31 {font-size: 31px;}.sm33 {font-size: 33px;}.sm35 {font-size: 35px;}.sm37 {font-size: 37px;}.sm39 {font-size: 39px;}.sm41 {font-size: 41px;}.sm43 {font-size: 43px;}.sm45 {font-size: 45px;}.sm47 {font-size: 47px;}.sm49 {font-size: 49px;}.sm51 {font-size: 51px;}
	.submit-answer{margin-left:60%;width:40%;margin-bottom: 10px;}
	.study_social{padding-top:1%;border-bottom: 1px solid #f3f3f3;height:49px}
	.head-toggle-box{width:64px/*64*/;float:left;display:inline-block}
	#bot-panel-mid img {margin-left: 4%;margin-right: 4%;}
	.nav>li>a {
		padding: 10px 27px !important;
		font-size: 18px;
	}
	.qust-options{
		width:280px !important;
		height:400px !important; 
		overflow-y:scroll !important;
	}
	.paddingtop8{padding-top: 8%;}
	.seekbar-section{
		position:fixed;
		width:61%;
		bottom:0;
		padding:10px 5px;
		background-color:#5e5e5e;
		opacity:0.8;
		height:32px;
	}
	.xslemarg8{margin-top:0px !important;}
	.paddingtopxs8{padding-top:2%;}
	.paddingtopxs13{padding-top:0%;}
	.soundpadd{padding:.5% 0 0 12px;margin:0}
	.fullscr{padding:.5% 0 0 4px;margin:0;}
	.xsmarg20{margin-top:0%!important;}
	.paddingxs5{padding:0 5px !important;}

	.wrapper_normal{
		padding-right: 300px;
		padding-left: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;	
	}
	.wrapper_full_scr {
		padding-left: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;	
	}
	#wrapper.toggled {
		padding-right: 0;
	}
	#sidebar-wrapper {
		width: 300px;
		z-index: 1000;
		position: fixed;
		right: 300px;
		height: 100%;
		margin-right: -300px;
		overflow-y: hidden;
		background: #ececec;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		border-left:1px solid #e1e1e1;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}
	#page-content-wrapper {
		padding: 0px;
		position: relative;
	}
	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
	.usrrightmarg {
	  	margin-right: 0px !important;
	  	margin-top: -5px;
	}
	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border-right: 1px solid #e1e1e1;
		border-left: 1px solid #e1e1e1;
		border-bottom: 0px;
		border-top: 0px;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 0px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}
	.lecture-header {
	  	background: #ececec !important;
	  	width: 100%;
	  	border-bottom: 1px solid #e1e1e1 !important;
	  	padding:0;
	  	min-height:50px;
	}
	.trophy a{background:#fff;padding:7px 2px;width:100%;color:#7e7e7e !important;font-size:23px;float:left;text-align:center;    min-height: 49px;border-left:1px solid #e1e1e1}
	.trophy a:hover{background:#e1e1e1;color:#7e7e7e !important;}
	.head_signup{border-top:0px;border-bottom:0px;background:#ECECEC;color:#7e7e7e;padding: 10px;min-height: 49px;}
	.c-hamburger span {
	    display: block;
	    position: absolute;
	    top: 25px;
	    left: 20px;
	    right: 20px;
	    height: 3px;
	    background: #7e7e7e;
	}
	.tg-small {
	    display: block;
	    position: relative;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
		padding: 21px 30px;
		min-height:45px;
	    font-size: 0;
	    text-indent: -9999px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    box-shadow: none;
	    border-radius: none;
	    border: none;
	    cursor: pointer;
	    -webkit-transition: background .3s;
	    transition: background .3s
	}
}
@media(min-width:992px) {
	.xsmargtop4{margin-top: 1px !important;}	
	.xsmargtop0{margin-top:0px !important; }	
	.md8 {font-size: 8px;}.md9 {font-size: 9px;}.md10 {font-size: 10px;}.md11 {font-size: 11px;}.md12 {font-size: 12px;}.md13 {font-size: 13px;}.md14 {font-size: 14px;}.md15 {font-size: 15px;}.md16 {font-size: 16px;}.md17 {font-size: 17px;}.md18 {font-size: 18px;}.md19 {font-size: 19px;}.md20 {font-size: 20px;}.md21 {font-size: 21px;}.md23 {font-size: 23px;}.md25 {font-size: 25px;}.md27 {font-size: 27px;}.md29 {font-size: 29px;}.md31 {font-size: 31px;}.md33 {font-size: 33px;}.md35 {font-size: 35px;}.md37 {font-size: 37px;}.md39 {font-size: 39px;}.md41 {font-size: 41px;}.md43 {font-size: 43px;}.md45 {font-size: 45px;}.md47 {font-size: 47px;}.md49 {font-size: 49px;}.md51 {font-size: 51px;}
	.submit-answer{margin-left:60%;width:40%;margin-bottom: 10px;}
	.study_social{padding-top:1%;border-bottom: 1px solid #f3f3f3;height:49px}
	.head-toggle-box{width:64px;float:left;display:inline-block}
	#bot-panel-mid img {margin-left: 4%;margin-right: 4%;}
	.nav>li>a {
		padding: 10px 27px !important;
		font-size: 18px;
	}
	.qust-options{
		width:280px !important;
		height:400px !important; 
		overflow-y:scroll !important;
	}
	.paddingtop8{padding-top: 8%;}
	.seekbar-section{
		position:fixed;
		width:70%;
		bottom:0;
		padding:10px 5px;
		background-color:#5e5e5e;
		opacity:0.8;
		height:32px;
	}
	.xslemarg8{margin-top:0px !important;}
	.paddingtopxs8{padding-top:0%;}
	.paddingtopxs13{padding-top:0%;}
	.paddingxs5{padding:0 5px !important;}
	.soundpadd{padding:.5% 0 0 43px;margin:0}
	.fullscr{padding:.5% 0 0 5px;margin:0;}
	.xsmarg20{margin-top:0%!important;}
	.usrrightmarg {
	  margin-right: 0px !important;
	}
	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border-right: 1px solid #e1e1e1;
		border-left: 1px solid #e1e1e1;
		border-bottom: 0px;
		border-top: 0px;
		white-space: nowrap;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 0px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}
	.lecture-header {
	  	background: #ececec !important;
	  	width: 100%;
	  	border-bottom: 1px solid #e1e1e1 !important;
	  	padding:0;
	  	min-height:50px;
	}
	.trophy a{background:#fff;padding:7px 2px;width:100%;color:#7e7e7e !important;font-size:22px;float:left;text-align:center;    min-height: 49px;border-left:1px solid #e1e1e1}
	.trophy a:hover{background:#e1e1e1;color:#7e7e7e !important;}
	.head_signup{border-top:0px;border-bottom:0px;background:#ECECEC;color:#7e7e7e;padding: 10px 12px;min-height: 49px;}
	.c-hamburger span {
	    display: block;
	    position: absolute;
	    top: 23px;
	    left: 20px;
	    right: 20px;
	    height: 3px;
	    background: #7e7e7e;
	}
	.tg-small {
	    display: block;
	    position: relative;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
		padding: 21px 30px;
		min-height:45px;
	    font-size: 0;
	    text-indent: -9999px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    box-shadow: none;
	    border-radius: none;
	    border: none;
	    cursor: pointer;
	    -webkit-transition: background .3s;
	    transition: background .3s
	}
}
@media(min-width:1200px) {
	.xsmargtop4{margin-top: 1px !important;}	
	.xsmargtop0{margin-top:0px !important;}
	.lg8 {font-size: 8px;}.lg9 {font-size: 9px;}.lg10 {font-size: 10px;}.lg11 {font-size: 11px;}.lg12 {font-size: 12px;}.lg13 {font-size: 13px;}.lg14 {font-size: 14px;}.lg15 {font-size: 15px;}.lg16 {font-size: 16px;}.lg17 {font-size: 17px;}.lg18 {font-size: 18px;}.lg19 {font-size: 19px;}.lg20 {font-size: 20px;}.lg21 {font-size: 21px;}.lg23 {font-size: 23px;}.lg25 {font-size: 25px;}.lg27 {font-size: 27px;}.lg29 {font-size: 29px;}.lg31 {font-size: 31px;}.lg33 {font-size: 33px;}.lg35 {font-size: 35px;}.lg36 {font-size: 36px;}.lg37 {font-size: 37px;}.lg39 {font-size: 39px;}.lg41 {font-size: 41px;}.lg43 {font-size: 43px;}.lg45 {font-size: 45px;}.lg47 {font-size: 47px;}.lg49 {font-size: 49px;}.lg51 {font-size: 51px;}
	.submit-answer{margin-left:60%;width:40%;margin-bottom: 10px;}
	.head-toggle-box{width:64px;float:left;display:inline-block}
	.xslemarg8{margin-top:0px !important;}
	.paddingtop8{padding-top: 2%;}
	.qust-options{
		width:280px !important;
		height:400px !important; 
		overflow-y:scroll !important;
	}
	.seekbar-section{
		position:fixed;
		width:78%;
		bottom:0;
		left: 0;
		padding:10px 5px;
		background-color:#5e5e5e;
		opacity:0.8;
		height:32px;
	}
	#bot-panel-mid img {margin-left: 4%;margin-right: 4%;}
	.nav>li>a {
		padding: 10px 25px !important;
		font-size: 18px;
	}
	.study_social{padding-top:1%;border-bottom: 1px solid #f3f3f3;height:49px}
	.paddingtopxs8{padding-top:1%;}
	.paddingtopxs13{padding-top:0%;}
	.paddingxs5{padding:0 5px !important;}
	.soundpadd{padding:.5% 0 0 43px;margin:0}
	.fullscr{padding:.5% 0 0 0px;margin:0;}
	.xsmarg20{margin-top:0% !important;}
	.usrrightmarg {
	  margin-right: 0px !important;
	}
	.btn {
		display: inline-block;
		margin-bottom: 0;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-image: none;
		border-right: 1px solid #e1e1e1;
		border-left: 1px solid #e1e1e1;
		border-bottom: 0px;
		border-top: 0px;
		white-space: nowrap;
		padding: 6px 12px;
		width:100%;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 0px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none
	}
	.lecture-header {
	  	background: #ececec !important;
	  	width: 100%;
	  	border-bottom: 1px solid #e1e1e1 !important;
	  	padding:0;
	  	min-height:50px;
	}
	.trophy a{background:#fff;padding:12px 2px;width:100%;color:#7e7e7e !important;font-size:18px;float:left;text-align:center;    min-height: 49px;border-left:1px solid #e1e1e1}
	.trophy a:hover{background:#e1e1e1;color:#7e7e7e !important;}
	.head_signup{border-top:0px;border-bottom:0px;background:#ECECEC;color:#7e7e7e;padding: 9px 12px;min-height: 49px;}
	.c-hamburger span {
	    display: block;
	    position: absolute;
	    top: 25px;
	    left: 20px;
	    right: 20px;
	    height: 3px;
	    background: #7e7e7e;
	}
	.tg-small {
	    display: block;
	    position: relative;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
		padding: 21px 30px;
		min-height:45px;
	    font-size: 0;
	    text-indent: -9999px;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    box-shadow: none;
	    border-radius: none;
	    border: none;
	    cursor: pointer;
	    -webkit-transition: background .3s;
	    transition: background .3s
	}
}

.seekbar-section-full{
	position:fixed;
	width:100%;
	bottom:0;
	padding:10px 5px;
	background-color:#5e5e5e;
	opacity:0.8;
	height:32px;
}
.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #ececec !important;
	border-left:1px solid #E2E0E0;
	border-right:1px solid #E2E0E0;
	border-bottom:1px solid #E2E0E0;
}
.nav-tabs {
	 min-height: 49px;
}
.nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1.42857143;    
	border-radius: 0px !important;
	color: #c6c6c6 !important;
	border-left:1px solid #E2E0E0;
	border-right:1px solid #E2E0E0;
	border-bottom:1px solid #E2E0E0;
	background:#ececec;
	min-height: 49px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #4f4f4f !important;
	background-color: #ececec;
}
.submit {
	background-color: #ff9100;
	width:50%;
	height: 38px;
	font-weight: bold;
	float: right;
	border:0px;
	color: #fff;
	border-bottom: 3px solid #be6f07;
	text-align: center;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}
.top-mat {
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #f3f3f3;
}
.top-mat1 {
	height: 60px;
	background: #f3f3f3;
}
.mid-mat {
	padding: 5px;
	background: #fff;
	color: #4a4949;
	overflow: auto;
}
.bot-mat {
	height: 100%;
	background: #fff;
	z-index: 999;
}
.icons_margin a{padding:2% 3%;line-height: 3;color:#4E9847 !important;margin-left:2px;font-size:18px;}
.icons_margin a:hover{color:#0a7aa7 !important}
.mainpanel {
	padding: 0px;
	margin: 0px;
	padding-right: 0px;
}
.mainpanel h3 {
	margin: 0px !important;
	float:left;
	width:100%;
	cursor:pointer;
	font-size: 14px;
	font-weight: 500;
	line-height:1.4;
}
.title{width:90%;float:left;font-size: 13px;}
.toggle-img{width:10%;float:left;}

.mainpanel li {
	list-style-type: none;
	background: #cecece;
}
.panel {
	padding: 0px;
	margin: 0px;
}
.innerpanel {
	padding: 15px 5px;
	background: #ececec;
	font-size: 12px;
	color: #ff9100;
	text-transform:uppercase;
	padding-left: 5px;
	min-height: 58px;
	line-height: 1.5;
}
.panel1 {
	padding: 0px;
	margin: 0px;
}
.innerpanel1 {
	padding: 15px 5px;
	background: #F1F1F1 !important;
	border-top:1px solid #4fbe4d;
	font-size: 12px;
	color: #4a4949;
	min-height: 58px;
	line-height: 1.5;
}
.panel2 {
	padding: 0px;
	margin: 0px;
}
.innerpanel2 {
	padding: 15px 5px 15px 15px;
	background: #e1e1e1;
	font-size: 12px;
	color: #5a6368;
}
.panel3 {
	padding: 0px;
	margin: 0px;
}
.innerpanel3 {
	padding: 15px 5px 15px 15px;
	font-size: 12px;
	color: #5a6368 !important;
	background: #cecece;
}
.current-lecture:before{
    content:"";
    display:inline-block;
	position: relative;
	left: -15px;
	top:3px;
    border:7px solid #4f4f4f;
    border-color:transparent transparent transparent #4f4f4f;
}
.lec_con {
	margin-left: 10px;
	float: right;
}
.lec_con label {
	color: #b63b4d;
	font-size: 10px;
	font-weight: bold;
}
.mid-mat pre {
	background: none;
	border: 0px;
	font-size: 14px;
	width: 100%;
	margin:20px auto 50px auto;
	padding:35px;
	background:#fff;
	border-radius:0px;
	font-family: Open Sans;
	line-height:1em  !important;
	white-space: inherit;text-align: justify !important;
}
.showlec {
	padding: 2px;
	border: 1px solid #E2E0E0;
}
.panel4 {
	padding-left: 15px;
}
textarea.notebook {
	font-family: Open Sans;
	font-weight: 600;
	width: 100%;
	padding: 5px 5px;
	resize: vertical;
	font-size: 11px !important;
	line-height: 24px;
	-webkit-appearance: none;
	border-radius: 0;
	background:url(<?php echo $webfiles;?>images/notebook.png) !important;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	position:absolute;
}
.check {
	background-color: #4E9847;
	color: #fff;
	border: 0px;
	width: 100%;
	height: 35px;
	font-size: 13px;
	position:absolute;
	bottom:0;
	left:0;
}
.check:hover {
	background-color: #42803C;
	color: #fff;
}
#form1 textarea {
	font-family: Open Sans;
	font-weight: 600;
	width: 95%;
	padding: 5px 5px;
	resize: vertical;
	font-size: 11px !important;
	line-height: 24px;
	-webkit-appearance: none;
	outline: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}
.des {
	color: #4a4949;
	font-family: Open Sans;
	font-size: 11px !important;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 5px;
	margin: 5px;
	background: url(https://eduncle-cdn.saglus.com/webfiles/images/send.png) no-repeat;
}
.rep {
	color: #999;
	font-family: Open Sans;
	font-size: 11px !important;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 25px;
	padding-left: 5px;
	margin: 5px;
	background: #fff;
	text-align: right;
	background: url(https://eduncle-cdn.saglus.com/webfiles/images/reply.png) right no-repeat;
}
#form2 h3 {
	margin: 0px;
}
.wrong {
	border: 1px solid #fff;
	color: #F75353;
	box-shadow: 0px 0px 5px .5px #c1c1c1;
	background-image: url("https://eduncle-cdn.saglus.com/webfiles/images/X.png");
	background-repeat: no-repeat;
	background-position: 98% 50%;
	font-weight: bold
}
.right {
	border: 1px solid #fff;
	color: #55bb36;
	box-shadow: 0px 0px 5px .5px #c1c1c1;
	background-image: url("https://eduncle-cdn.saglus.com/webfiles/images/correct.png");
	background-repeat: no-repeat;
	background-position: 98% 50%;
	font-weight: bold
}
.ans_yog {
	padding: 12px 10px;
	border: 1px solid #E6E6E6;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	clear: both;
}
.nope {
	box-shadow: 0px 0px 5px 1px #c1c1c1;
}
#message {
	color: #ff9100;
	font-size: 14px;
	text-align: center;
	font-weight: 600
}
.btn-link:hover {
	text-decoration: none;
}
.btn-link:focus {
	text-decoration: none;
}
#solution {
	border: 1px solid #f3f3f3;
	padding: 10px;
}
#pit {
	margin: 0 !important
}
.bot-mat-chenage {
	position: absolute !important;
	display: block;
	width: 60% !important;
	bottom: 0;
	min-width: 450px;
}
.spdText {
	border: none;
	font-size: 14px;
	line-height: 30px;
	font-style: italic;
	margin-right: 10px;
}
.sound {
	background: url(<?php echo $webfiles;?>images/control.png) no-repeat -92px -30px;
	float: left;
	padding: 0px;
}
.sound2 {
	background: url(<?php echo $webfiles;?>images/control.png) no-repeat -92px -60px !important;
	padding: 0px;
}
.muted {
	background: url(<?php echo $webfiles;?>images/control.png) no-repeat -92px 0 !important;
	padding: 0px;
}
.btnFS {
	background:url(<?php echo $webfiles;?>images/control.png) no-repeat -44px 0;
	padding: 0px;
}
.btnFS1 {
	background:url(<?php echo $webfiles;?>images/control.png) no-repeat -44px -30px;
	padding: 0px;
}
.darkgraycolor{color:#5a6368;}


.footersocialiconfb a{display: inline-block; width: 25px; height: 26px;background: #314a87;color:#fff !important; text-align: center;  border-radius: 15px; -webkit-border-radius: 15px; padding-top: 0; font-size: 14px;}
.footersocialiconfb a:hover,.footersocialiconfb a:focus{color:#fff !important;background:#2A3F73;}

.footersocialicongp a{display: inline-block; width: 25px; height: 26px;background: #dd4b39;color:#fff !important; text-align: center;  border-radius: 15px; -webkit-border-radius: 15px; padding-top: 0; font-size: 14px;}
.footersocialicongp a:hover,.footersocialicongp a:focus{color:#fff !important;background:#ba3f30;}

.footersocialicontw a{display: inline-block; width: 25px; height: 26px;background: #22bbf4;color:#fff !important; text-align: center;  border-radius: 15px; -webkit-border-radius: 15px; padding-top: 0; font-size: 14px;}
.footersocialicontw a:hover,.footersocialicontw a:focus{color:#fff !important;background:#1991be;}

.footersocialiconyt a{display: inline-block; width: 25px; height: 26px;background: #d72a25;color:#fff !important; text-align: center;  border-radius: 15px; -webkit-border-radius: 15px; padding-top: 0; font-size: 14px;}
.footersocialiconyt a:hover,.footersocialiconyt a:focus{color:#fff !important;background:#c12521;}

.footersocialiconfb a i,
.footersocialicongp a i,
.footersocialicontw a i,
.footersocialiconyt a i,
.footersocialiconli a i{
	line-height: 26px;
}
.time {
	width: 10%;
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
	color: #4a4949;
	  margin-top: 3px;
}
.init {
	background: url(https://eduncle-cdn.saglus.com/webfiles/images/Play.png) no-repeat 50% 50% !important;
	cursor: pointer;
}


.previous a{background-color:#939598;padding:3%;color:#fff !important;margin-top:3%;width:100%;float:left;text-align:center;}
.previous a:hover,.previous a:focus{background-color:#7B7D80;text-decoration:none;color:#fff;}
.savenext a{background-color:#00a651;padding:2% 3%;color:#fff !important;margin-top:3%;width:100%;float:left;text-align:center;}
.savenext a:hover,.savenext a:focus{background-color:#00a651;text-decoration:none;color:#fff !important;}

.numbergreen a{display:block;border-radius:3px;text-align:center;color:#fff !important;min-width: 36px;min-height: 27px;padding: 0 5px;line-height:2;margin:5px;float:left;}
.numbergreen a:hover,.number tr td a:focus{text-decoration:none;color:#fff;}

.numberdarkgreen a{display:block;border-radius:3px;background-color:#fa6f57;border:1px solid #da5d47;text-align:center;color:#fff !important;width: 36px;min-height: 30px;line-height:2;}
.numberdarkgreen a:hover,.number tr td a:focus{text-decoration:none;color:#fff !important;background-color:#da5d47;}

.numberblue a{display:block;border-radius:3px;background-color:#009be0;border:1px solid #0386c0;text-align:center;color:#fff !important;width: 36px;min-height: 30px;line-height:2;}
.numberblue a:hover,.number tr td a:focus{text-decoration:none;color:#fff !important;background-color:#0386c0}

.numberoffwhite a{display:block;border-radius:3px;background-color:#c6c8ca;border:1px solid #a9adb1;text-align:center;color:#fff !important;width: 36px;min-height: 30px;line-height:2;}
.numberoffwhite a:hover,.number tr td a:focus{text-decoration:none;color:#fff !important;background-color:#a9adb1;}

.answered a{background-color:#1ab1aa;display:block;min-width: 30px; min-height: 15px;}
.notanswered a{background-color:#009be0;display:block;min-width: 30px; min-height: 15px;}
.marked1 a{background-color:#fa6f57;display:block;min-width: 30px; min-height: 15px;}
.notattemped a{background-color:#c6c8ca;display:block;min-width: 30px; min-height: 15px;}

.bordersaperate{border-bottom:1px solid #e1e1e1;margin:5% 0;clear:both;}
.goli{
	list-style:disc;
	margin-left:16px;
}
#myCarousel,.carousel-inner, .item {
	height: 100%;
	overflow:hidden;
	background:#fff
} 
#textdata {
	height: 100%;
	overflow-y:auto;
	background:#fff
} 
.mid-mat{
	background-image:url(<?php echo $webfiles;?>images/study-bg.png);
    background-size: contain;
}
#myCarousel .carousel-inner .item{
	font-family: Open Sans !important;	
	text-align: justify !important;
	background-image:url(<?php echo $webfiles;?>images/study-bg.png);
    background-size: contain;
	overflow-x: hidden;
}
#myCarousel .carousel-inner .item p{
	font-family: Open Sans !important;
	margin:0 !important;
	color:#4a4949 !important;
	font-size:14px !important;	
	line-height:20px !important;
  	text-align: justify !important;
    margin-bottom: 10px !important;  
}
#myCarousel .carousel-inner .item{
	font-family: Open Sans !important;
	color:#4a4949 !important;
	font-size:14px !important;	
	text-align: justify !important;
}
#myCarousel .carousel-inner .item u{
	font-family: Open Sans !important;
	color:#4a4949 !important;
	font-size:14px !important;
	text-decoration:underline !important;
	text-align: justify !important;
}
#myCarousel .carousel-inner .item table, tr, td{
	font-family: Open Sans !important;
	color:#4a4949 !important;
	font-size:14px !important;	
	text-align: justify !important;
}
#myCarousel .carousel-inner .item h1{font-family: Open Sans !important;font-size:24px !important;text-align: justify !important;}
#myCarousel .carousel-inner .item h2{font-family: Open Sans !important;font-size:20px !important;text-align: justify !important;}
#myCarousel .carousel-inner .item h3{font-family: Open Sans !important;font-size:16px !important;text-align: justify !important;}
#myCarousel .carousel-inner .item h4{font-family: Open Sans !important;font-size:12px !important;text-align: justify !important;}


.calc{
	width:50%;margin:0 auto;border:1px solid #0a7aa7;padding:3px;padding-right:0px;
}
.calc table{
	width:100%;
}
.display {
	color: #000;
	padding: 5px;
	font-family:Open Sans;
	width: 98%;
	font-size:14px;
	font-weight:bold;
	border:1px solid #f3f3f3;background:#f3f3f3;margin-bottom:5px
}
.btn_C {
	color: #000;
	font-family: Open Sans;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	width:50px;height:30px;border:1px solid #f3f3f3;
}

.btnequals {
	color: #000;
	font-family: Open Sans;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	width:50px;height:80px;border:1px solid #0a7aa7;
}
.btnEnter {
	color: #000;
	font-family:Open Sans;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	width:50px;height:58px;border:1px solid #0a7aa7;
}

.btnAC {
	color: #000;
	font-family: Open Sans;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	width:50px;height:30px;border:1px solid #0a7aa7;
}
.btndlt {
	color: #000;
	font-family: Open Sans;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	width:50px;height:30px;border:1px solid #0a7aa7;
}

.btnplus {
	color: #000;
	font-family: Open Sans;
	font-size:14px;
	font-weight:bold;
	padding:5px 10px;
	width:50px;height:30px;border:1px solid #f3f3f3;
}
.calc_hide{
	display:none;	
}
.update-box{
	width: 50px;
	text-align:center;
	background-color: hsla(0,0%,100%,.09);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset, 0 1px 0 hsla(0,0%,100%,.05);
    color: hsl(0,0%,95%);
}
.presentation-icon a{
	float:right;margin: 0 15px;
}




/**************  Toggle Button CSS Start *************/
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
	padding: 21px 26px;
	min-height:49px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s
}
.c-hamburger:focus {
    outline: 0
}
.c-hamburger span::after,
.c-hamburger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #7e7e7e;
    content: ""
}
.c-hamburger--htla.is-active span::after,
.c-hamburger--htla.is-active span::before,
.c-hamburger--htra.is-active span::after,
.c-hamburger--htra.is-active span::before {
    width: 50%
}
.c-hamburger span::before {
    top: -6px
}
.c-hamburger span::after {
    bottom: -6px
}
.c-hamburger--rot {
    background-color: #28aadc
}
.c-hamburger--rot span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}
.c-hamburger--rot.is-active {
    background-color: #166888
}
.c-hamburger--rot.is-active span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}
.c-hamburger--htla {
    background-color: #32dc64
}
.c-hamburger--htla span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}
.c-hamburger--htla span::before {
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    -webkit-transition: -webkit-transform .3s, width .3s, top .3s;
    transition: transform .3s, width .3s, top .3s
}
.c-hamburger--htla span::after {
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    -webkit-transition: -webkit-transform .3s, width .3s, bottom .3s;
    transition: transform .3s, width .3s, bottom .3s
}
.c-hamburger--htla.is-active {
    background-color: #18903c
}
.c-hamburger--htla.is-active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.c-hamburger--htla.is-active span::before {
    top: 0;
    -webkit-transform: translateX(38px)translateY(4px)rotate(45deg);
    -ms-transform: translateX(38px)translateY(4px)rotate(45deg);
    transform: translateX(38px)translateY(4px)rotate(45deg)
}
.c-hamburger--htla.is-active span::after {
    bottom: 0;
    -webkit-transform: translateX(38px)translateY(-4px)rotate(-45deg);
    -ms-transform: translateX(38px)translateY(-4px)rotate(-45deg);
    transform: translateX(38px)translateY(-4px)rotate(-45deg)
}
.c-hamburger--htra {
    background-color: #ff9650
}
.c-hamburger--htra span {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}
.c-hamburger--htra span::before {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform .3s, width .3s, top .3s;
    transition: transform .3s, width .3s, top .3s
}
.c-hamburger--htra span::after {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transition: -webkit-transform .3s, width .3s, bottom .3s;
    transition: transform .3s, width .3s, bottom .3s
}
.c-hamburger--htra.is-active {
    background-color: #e95d00
}
.c-hamburger--htra.is-active span {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
.c-hamburger--htra.is-active span::before {
    top: 0;
    -webkit-transform: translateX(-8px)translateY(4px)rotate(-45deg);
    -ms-transform: translateX(-8px)translateY(4px)rotate(-45deg);
    transform: translateX(-8px)translateY(4px)rotate(-45deg)
}
.c-hamburger--htra.is-active span::after {
    bottom: 0;
    -webkit-transform: translateX(-8px)translateY(-4px)rotate(45deg);
    -ms-transform: translateX(-8px)translateY(-4px)rotate(45deg);
    transform: translateX(-8px)translateY(-4px)rotate(45deg)
}
.c-hamburger--htx {
    background-color: #ECECEC;
}
.c-hamburger--htx span {
    -webkit-transition: background 0s .3s;
    transition: background 0s .3s
}
.c-hamburger--htx span::after,
.c-hamburger--htx span::before {
    -webkit-transition-duration: .3s, .3s;
    transition-duration: .3s, .3s;
    -webkit-transition-delay: .3s, 0s;
    transition-delay: .3s, 0s
}
.c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform
}
.c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform
}
.c-hamburger--htx.is-active {
    background-color: #ECECEC;
}
.c-hamburger--htx.is-active span {
    background: 0 0
}
.c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.c-hamburger--htx.is-active span::after,
.c-hamburger--htx.is-active span::before {
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s
}
.o-grid__item {
    padding: 24px
}		
/**************  Toggle Button CSS End *************/

.prev_btn{
	margin-top: -4px;
    padding: 4px 8px 4px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: hsla(0,0%,100%,.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.prev_btn:hover{
	background-color: hsla(0,0%,0%,.12);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset, 0 0 1px hsla(0,0%,100%,.15) inset, 0 1px 0 hsla(0,0%,100%,.05);
}
.settings_btn{
	margin-top: -3px;
    padding: 2px 6px 2px;
    border: 1px solid transparent;
    border-radius: 2px;
    color: hsla(0,0%,100%,.8);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.settings_btn:hover{
	background-color: hsla(0,0%,0%,.12);
    background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
    background-clip: padding-box;
    border: 1px solid hsla(0,0%,0%,.35);
    border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
    box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset, 0 0 1px hsla(0,0%,100%,.15) inset, 0 1px 0 hsla(0,0%,100%,.05);
}
#t1{
	position: absolute !important;
    top: 49px;
    bottom: 0px;
    min-height: 600px !important;
    width: 100%;
}
.test-bg-overlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, .65);
}
.overlay-in-btn1 {
    font-size: 14px;
    position: absolute;
    top: 25%;
    left: 22%;
    z-index: 999999;
    width: 45%;
    display: block;
    float: right;
    margin: 0 auto;
    background: #fff;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}
.grey-price-product{
    color: #9ca7ac;
    width: 100%;
    margin: auto;
}

@media only screen and (max-width: 768px){
	.overlay-in-btn1 {
	    font-size: 14px;
	    position: absolute;
	    top: 25%;
	    left: 10%;
	    right: 10%;
	    z-index: 999999;
	    width: 80%;
	    display: block;
	    float: right;
	    margin: 0 auto;
	    background: #fff;
	    padding: 12px;
	    border-radius: 10px;
	    text-align: center;
	}
}