@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/*
	Project Name: Eduncle.com/Community
	Version : 1.0
	Author : 
*/

/*=================================================
	COMMUNITY CSS INDEX
	=========
	1. Community Header CSS
		a) Learn Tab CSS
		b) Teach Tab CSS
		c) Logo CSS
		d) Find Everything CSS //has separate section
		e) Search Bar CSS
		f) Cart CSS
		g) Login CSS
		h) Join Eduncle CSS
	2. Learn/Teach Menu
	3. Select Box
	4. Community Listing Page
	5. My Community Page
	6. Course Name Section
	7. Tab/Content Section
	8. Activity Tab Content
	9. Pending Request Tab Content
	10. Members Tab Content
	11. Find Everything Content
	12. My All Communities Page
	13. Community Detail Discussion Page
	14. Community Home Page
	15. Community Single Thread Page
	16. Community Ask Question Popup
	17. Search Question Popup
	18. Social Side Icons
	19.	Search Bridge Page
	20. Product List/Grid
	21. Product Store Page
	22. Added Classes for Search Bridge




	Last Section => Media Queries
=================================================*/





body{
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Open Sans;
	background: #fff;
	font-size: 14px;
	color: #303b41
}
*{
	font-family: Open Sans;
}
/* Hide default behavior of IE to show cross sign in input when type something */
input::-ms-clear {
    width: 0px;
    height: 0px;
}

/*========== Begin New Header ==========*/
.headerBlue{
	background: #037aa6;
	width: 100%;
}
.tabLearn{
	background: #43a7db;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	float: left;
	padding: 9px 21px;
	cursor: pointer;
}
.learnSprite{
	width: 32px;
    height: 32px;
    background: url(../images/spriteImage.png) -31px -136px;
}
.tabTeach{
	background: #0099d2;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	float: left;
	padding: 9px 21px;
	cursor: pointer;
}
.teachSprite{
	width: 38px;
    height: 32px;
    background: url(../images/spriteImage.png) -61px -136px;
}
.paddingXs15 {
    padding: 0px !important;
    margin: 0px !important;
}
.findEverything{
	color: #fff;
	font-size: 14px;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}
#custom-search-input{
	margin-top: 15px;
	max-width: 420px;
}
#custom-search-input .search-query{
	border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.searchButton {
    color: #fff;
    background-color: #e0711f;
    border-color: #e0711f !important;
    display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.searchButton:hover,.searchButton:focus {
    color: #fff !important;
    background-color: #e0711f;
    border-color: #e0711f !important;
    outline:  none !important;
    box-shadow: none !important;
}
.cartLogin{
	position: relative;
	margin-top: 21px;
	float: left;
}
.cartLogin a{
	color: #fff;
	font-size: 14px;
}
.cartLogin a:hover,.cartLogin a:focus{
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}
.loginXs a{
	margin-top: 11px;
	float: left;
	color: #fff;
	font-size: 21px;
}
.loginXs a:hover,.loginXs a:focus{
	color: #fff;
	font-size: 21px;
}
.badgeCart {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #df701f;
    border-radius: 10px;
    right: -11px;
    top: -11px;
}
/* Join Eduncle */
.joinEduncle{
	margin-top: 21px;
}
.joinEduncle a{
	background: #e0711f;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	text-align: center;
	padding: 10px;
}
.joinEduncle a:hover,.joinEduncle a:focus{
	color: #fff;
	text-decoration: none;
	background: #d46c1f;
}
/*========== End New Header ==========*/



/*========== Begin Learn/Teach Menu ==========*/
#navigatorLearn, #navigatorTeach {
  	width: 320px;
  	height: 100%;
  	overflow-y: auto;
  	overflow-x: hidden;
  	position: fixed;
  	top: 0;
  	bottom: 0;
  	left: -320px;
  	background: #3ba0d6;
  	float: left;
  	z-index: 10;
}
#headerSidebarNavigation {
  	width: 320px;
  	height: 100%;
  	display: block;
  	margin: 0;
  	padding: 0;
}
.tabLearnFirst:first-child {
  	width: 320px;
  	height: 64px;
  	border-bottom: 1px solid #037aa5;
  	display: block;
  	position: relative;
}
.bgnav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 1;
    display: none;
    opacity: .5;
}
.tabLearMenuLogo{
	position: absolute;
	right: 30px;
	top: 13px;
	color: #fff;
	/*width: 70px;*/
	height: 40px;
	display: -webkit-flex;
	display: table;
	-webkit-align-items: center;
	align-items: center;
}
.tabLearMenuLogo embed{
	margin-top: 5px;
}
.tabLearMenuLogo div{
	-webkit-flex: 1;
	flex: 1;
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
}
.tabLearMenuLogo:hover,.tabLearMenuLogo:focus{
	text-decoration: none;
	color: #fff;
	cursor: default;
}
.tabCloseIconLearn,.tabCloseIconTeach{
	position: absolute;
    left: 15px;
    top: 22px;
    font-size: 16px;
    color: #fff;
}
.tabCloseIconLearn:hover,.tabCloseIconLearn:focus{
	color: #fff;
	text-decoration: none;
}
.tabCloseIconTeach:hover,.tabCloseIconTeach:focus{
	color: #fff;
	text-decoration: none;
}
.sideMenuTab {
  	width: 320px;
  	height: auto;
  	display: block;
}
.noLeftPadding{
	padding-left: 0px !important
}
.sideMenuTab a p{
	font-size: 18px;
	color: #fefefe;
	text-align: left;
	font-weight: 300;
	margin-bottom: 0px !important;
}
.sideMenuTab a span{
	font-size: 13px;
	color: #86d5ff;
	text-align: left;
	display: block;
}
.sideMenuTab a{
  	font-size: 18px;
  	padding: 12px 12px 12px 0;
  	width: 100%;
  	float: left;
}
.sideMenuTab a:hover {
  	background: #037aa5;
}
.OrderBadge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #df701f;
    border-radius: 10px;
    right: 15px;
    top: 17px;
}
#navigatorTeach::-webkit-scrollbar {
    width: 8px;
}
#navigatorTeach::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(4,144,195,0.3);
}
#navigatorTeach::-webkit-scrollbar-thumb {
  	background-color: #037aa6;
  	outline: 1px solid #037aa6;
}
/*========== End Learn/Teach menu ==========*/


/*========== Begin Select Box ==========*/
/*.custom-dropdown-toggle{
	border: 1px solid #dedede !important;
	padding: 10px 14px !important;
	outline: none !important;
	box-shadow: none !important;
	font-size: 14px !important;
	text-align: left !important;
	color: #303b41 !important;
	border-radius: 4px !important;
	background-image: -moz-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
  	background-image: -webkit-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
  	background-image: -ms-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
}
.custom-dropdown-toggle:hover.custom-dropdown-toggle:focus{
	border: 1px solid #dedede !important;
	padding: 10px 14px !important;
	outline: none !important;
	font-size: 14px !important;
	box-shadow: none !important;
	color: #5a6368 !important;
	background-image: -moz-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
  	background-image: -webkit-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
  	background-image: -ms-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%);
}*/
.custom-dropdown-menu{
	border: 1px solid #dadee0 !important;
	margin-top: -1px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}
.myCommunitySearch{
	box-shadow: none;
	height: 40px;
	width: 100%;
	padding: 0 10px;
	line-height: 1.2;
	border: 1px solid #dadee0;
	border-radius: 3px;
}
.dropdownScrollable{
	height: 300px;
	overflow-y: auto;
}
.custom-caret{
	color: #5a6368 !important;
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.caret-up{
	border-bottom: 6px dashed !important;
	border-right: 5px solid transparent !important;
	border-left: 5px solid transparent !important;
}
/*========== End Select Box ==========*/




/*========== Begin Community Listing Page ==========*/
.communityBanner {
    background: url(../images/communityBanner.png) no-repeat center center #fff;
    background-size: cover;
    width: 100%;
    clear: both;
    padding: 48px 0;
}
.communityBanner h2{
	color: #e0711f;
	font-weight: 600;
}
.communityBanner p{
	color: #303b41;
	font-size: 16px;
}
.memberCounter{
	margin-top: 50px;
}
.memberCounter .icon-members,.icon-discussion{
	font-size: 50px;
	float: left;
}
.countText{
	display: block;
	font-size: 14px;
	color: #303b41;
	padding-left: 15px;
}
.countNumber{
	display: block;
	font-size: 18px;
	color: #303b41;
	font-weight: 600;
	padding-left: 15px;
}
.customSearchForm {
    margin:0;
    margin-top: 45px;
    padding: 0;
}
.customSearchForm .search-query {
    padding-right: 55px;
    padding-left: 15px;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid #dadee0;
    width: 100%;
    height: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 2px 5px 10px 0px #dadee0;
	box-shadow: 2px 5px 10px 0px #dadee0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.customSearchForm .search-query:hover,.customSearchForm .search-query:focus{
	-webkit-box-shadow: 2px 5px 10px 0px #e9ebec;
	box-shadow: 2px 5px 10px 0px #e9ebec;
}
.searchBig{
	position: relative;
}
.customSearchForm .searchbutton {
    border: 0;
    background: none;
    padding: 2px 5px;
    /*margin-top: 2px;*/
    position: absolute;
    height: 60px;
    right: 10px;
    color: #848e92;
    font-size: 24px;
    top: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.search-query:focus + button {
    z-index: 3;   
}
.allCategoriesColorBullets{
	height: 250px;
	overflow: auto;
}
.listDiscSize{
	width: 8px;
    height: 8px;
    border-radius: 50%;
    float: left;
    margin: 6px 11px 6px 0px;
}
.disc1{
	background: #2ecc71;
}
.disc2{
	background: #3498db;
}
.disc3{
	background: #9b59b6;
}
.disc4{
	background: #1abc9c;
}
.disc5{
	background: #34495e;
}
.disc6{
	background: #f1c40f;
}
.disc7{
	background: #e67e22;
}
.disc8{
	background: #e74c3c;
}
.disc9{
	background: #95a5a6;
}
.singleCommunityBlock a{
	background: #fff;
	border-radius: 3px;
	border: 1px solid #dadee0;
	padding: 15px;
	color: #303b41;
	width: 100%;
	float: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.singleCommunityBlock a:hover,.singleCommunityBlock a:focus{
	text-decoration: none;
	-webkit-box-shadow: 0px 7px 20px -4px #dadee0;
	box-shadow: 0px 7px 20px -4px #dadee0;
	-moz-transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
}
.communityListImg{
	width: 55px;
	height: 55px;
	border-radius: 50%;
	display: block;
}
.communityName{
	color: #037aa6;
	font-size: 14px;
	margin: 10px 0;
	text-align: center;
}
/*========== End Community Listing Page ==========*/



/*========== Begin Community Footer ==========*/
.footer_member {
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    left: 0;
    bottom: 0;
    border-top: 1px solid #e1e1e1;
    background-color: #fff;
    color: #5a6368 !important;
    padding: 13px 0;
    text-align: center;
    margin-top: 15px;
}
.whitecolor {
    color: #fff !important;
}
.footersocialiconfb a {
    display: inline-block;
    width: 25px;
    height: 26px;
    background: #314a87;
    color: #fff !important;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-top: 3px;
    font-size: 14px;
}
.footersocialiconfb a:hover, .footersocialiconfb a:focus {
    color: #fff !important;
    background: #2A3F73;
}

.footersocialicongp a {
    display: inline-block;
    width: 25px;
    height: 26px;
    background: #dd4b39;
    color: #fff !important;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-top: 3px;
    font-size: 14px;
}
.footersocialicongp a:hover,
.footersocialicongp a:focus {
    color: #fff !important;
    background: #ba3f30;
}

.footersocialicontw a {
    display: inline-block;
    width: 25px;
    height: 26px;
    background: #22bbf4;
    color: #fff !important;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-top: 3px;
    font-size: 14px;
}
.footersocialicontw a:hover,
.footersocialicontw a:focus {
    color: #fff !important;
    background: #1991be;
}

.footersocialiconli a {
    display: inline-block;
    width: 25px;
    height: 26px;
    background: #0077B5;
    color: #fff !important;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-top: 0;
    font-size: 14px;
}
.footersocialiconli a:hover,.footersocialiconyt a:focus{color:#fff !important;background:#01679c;}
.footersocialiconli a i{
    line-height: 26px;
}
.footersocialiconyt a {
    display: inline-block;
    width: 25px;
    height: 26px;
    background: #d72a25;
    color: #fff !important;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-top: 3px;
    font-size: 14px;
}
.footersocialiconyt a:hover,
.footersocialiconyt a:focus {
    color: #fff !important;
    background: #c12521;
}

.footersocialicontw a {
    display: inline-block;
    width: 25px;
    height: 26px;
    background: #22bbf4;
    color: #fff !important;
    text-align: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding-top: 3px;
    font-size: 14px;
}
/*========== End Community Footer ==========*/





/*========== Begin My Community Page ==========*/

/* Begin Top Breadcrumbs */
.custom-breadcrumb{
	padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
}
.custom-breadcrumb li{
	display: inline-block;
	font-size: 12px;
	font-weight: 600
}
.custom-breadcrumb li span{
	font-size: 9px;
}
.custom-breadcrumb li.active{
	color: #848e92;
}
.custom-breadcrumb li a{
	text-decoration: none;
	color: #303b41;
}
.custom-breadcrumb li a:hover,.custom-breadcrumb li a:focus{
	text-decoration: underline;
}
/* End Begin Top Breadcrumbs */



/* Begin Course Name Section */
.courseNameSection h3{
	margin-top: 8px;
}
.courseNameSection h3 a{
	font-size: 22px;
	color: #1e2528;
}
.courseNameSection h3 a:hover{
	text-decoration: none;
}
.courseNameSection h3 .showRating{
	font-size: 14px;
	color: #e0711f;
	margin-left: 10px;
	display: inline-block;
}
.courseNameSection h3 .totalRating{
	font-size: 14px;
	color: #848e92;
	margin-left: 10px;
	display: inline-block;
}
.courseNameSection h5 span{
	color: #848e92;
	font-size: 14px;
}
.inviteSection{
	width: 185px;
	margin-right: auto;
	margin-left: auto;
}
.inviteSection p{
	color: #303b41;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.inviteSection .inviteBtn a{
	color: #fff;
	background: #00a651;
	border-radius: 3px;
	padding: 10px;
	text-align: center;
	width: 185px;
	float: left;
	position: relative;
	z-index: 1
}
.inviteSection .inviteBtn a span{
	font-size: 10px;
}
.inviteSection .inviteBtn a:hover,.inviteSection .inviteBtn a:focus{
	text-decoration: none;
	background: #05984d;
}
/* End Course Name Section */


/* Begin Tab/Content Section */
.minusMargin32{
	margin-top: -32px;
}
.custom-nav-tabs{
	border-bottom: 1px solid #dadee0 !important;
}
.custom-nav-tabs>li>a{
    color: #848e92 !important;
    font-size: 18px;
    border: none !important;
}
.custom-nav-tabs>li.active>a:hover{
	border-bottom: 6px solid #00a651 !important;
}
.custom-nav-tabs>li.active>a{
	border: none !important;
	color: #303b41 !important;
    cursor: default !important;
    background-color: #fff !important;
    border-bottom-color: transparent !important;
    border-bottom: 6px solid #00a651 !important;
}
.custom-nav-tabs>li>a:hover{
	background: #fff !important;
	border-color : transparent !important;
}
.custom-nav-tabs>li>a:focus{
	background: #fff !important;
	border-bottom: 6px solid #00a651 !important;
}
.tab-content{
	padding: 10px 0;
}


/* Begin Activity tab content */
.allActivity span a{
	color: #037aa6;
	font-size: 14px;
	line-height: 3;
}
ul.questionList {
    list-style: none;
    padding:0;
    margin-top:0px;
}
.questionList li { 
    padding-left: 1.5em; 
    /*text-indent: -.7em;*/
    font-size: 14px;
}
.questionList li a{
	color: #303b41;
	font-size: 14px;
	text-decoration: none;
}
.questionList li a:hover{
	color: #303b41;
	font-size: 14px;
	text-decoration: none;
}
.questionList li:nth-child(1):before {
    content: "\2022";
    color: #e0711f;
    font-size: 18px;
}
.questionList li:nth-child(2):before {
    content: "\2022";
    color: #3baed8;
    font-size: 18px;
}
.questionList li:nth-child(3):before {
    content: "\2022";
    color: #00a651;
    font-size: 18px;
}
.communityPostMarginBottom{
	margin-bottom: 30px;
}
.communityPost{
	margin-top: 8px;
	margin-bottom: 10px;
	margin-left: 6px;
}
/* End Activity tab content */



/* Begin Pending Request Tab Content */
.searchSmall {
    position: relative;
}
.search-query-small {
    padding-right: 40px;
    padding-left: 15px;
    margin-bottom: 0;
    border-radius: 3px;
    border: 1px solid #dadee0;
    width: 100%;
    height: 41px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.searchSmall button {
    border: 0;
    background: none;
    padding: 2px 5px;
    /*margin-top: 2px;*/
    position: absolute;
    height: 41px;
    right: 10px;
    color: #b8c0c3 !important;
    font-size: 18px;
    top: 0;
    right: 0;
    margin-bottom: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.tableOptions{
	overflow-x: auto;
}
.tableOptions table>tbody>tr>td{
	font-size: 12px;
}
.tableOptions tr.headingBackground{
	background: #f2f5f6;
}
.tableOptions tr.headingBackground td{
	border-top: none !important;
	font-size: 12px;
	color: #848e92;
	padding: 15px 8px;
}
.borderBottom{
	border-bottom: 1px solid #dadee0;
}
.borderBottom td{
	padding: 20px 8px !important;
}
/*.tableOptions td.Title{
	border-top: none !important;
	font-size: 14px;
	color: #848e92;
}*/
.tableOptions{
	border: none !important;
}
.tableOptions td{
	border: none !important;
	font-size: 14px;
	color: #303b41
}
span.allQuestions{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -458px -15px;
    display: inline-block;
}
span.questionSolved{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -139px -15px;
    display: inline-block;
}
span.questionUnsolved{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -120px -15px;
    display: inline-block;
}
span.questionsByMe{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -60px -15px;
    display: inline-block;
}
.saperateCheckboxWithRadius input[type=checkbox] {
    display: none;
}
/*.saperateCheckboxWithRadius label {
    margin-bottom: 10px;
}*/
.saperateCheckboxWithRadius label:before {
    border-radius: 0;
}
.saperateCheckboxWithRadius input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 10px;
    color: #fff;
    border: 1px solid #43a7db;
    text-align: center;
    font-weight: bold;
    line-height: 15px;
    background: #43a7db;
    border-radius: 4px;
    padding-top: 2px;
}
.saperateCheckboxWithRadius label {
    display: block; /*inline-block*/
    cursor: pointer;
    margin-bottom: 0px;
    /*position: relative;*/
    color: #303b41;
    font-weight: 400;
    font-size: 13px;
}
.saperateCheckboxWithRadius label:before {
    content: "";
    display: block; /*inline-block*/
    width: 20px;
    height: 20px;
    margin: auto;
    /*position: absolute;
    left: 0;*/
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #dadee0;
    border-radius: 4px;
}




/*ul.userDetail{
	padding-left: 0px;
}
ul.userDetail li{
    padding: 15px 0 4px 52px;
    list-style: none;
    font-weight: 600; 
}*/
/*ul.singleUserDetail{
	padding-left: 0px;
}
ul.singleUserDetail li{
    padding: 20px 0 30px 52px;
    list-style: none;
    font-weight: 600;
    background-size: 10px;
    border-radius:50%; 
}*/



.singleUserDetail{
	display: table;
	margin-bottom: 20px;
}
.userImage{
	display: table-cell;
	vertical-align: middle;
}
.userImage img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
}
.userTxt{
	display: table-cell;
	vertical-align: middle;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle !important;
}
.customPagging{
	margin: 0px !important;
}
.customPagging li a {
    border: 1px solid #dedede !important;
    padding: 10px 14px !important;
    outline: none !important;
    box-shadow: none !important;
    text-align: left !important;
    color: #303b41 !important;
    background: rgb(247,247,247) !important;
    background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 100%) !important;
    background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%) !important;
    background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 );
}
.page-item.active .page-link {
	background: -moz-linear-gradient(top,  rgba(225,228,230,1) 0%, rgba(237,239,240,0) 39%, rgba(239,241,242,0) 46%, rgba(255,255,255,0) 100%) !important;
	background: -webkit-linear-gradient(top,  rgba(225,228,230,1) 0%,rgba(237,239,240,0) 39%,rgba(239,241,242,0) 46%,rgba(255,255,255,0) 100%) !important;
	background: linear-gradient(to bottom,  rgba(225,228,230,1) 0%,rgba(237,239,240,0) 39%,rgba(239,241,242,0) 46%,rgba(255,255,255,0) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e4e6', endColorstr='#00ffffff',GradientType=0 ) !important;
}
.customPagging li:first-child a i{
	padding-left: 2.5px;
}
.customPagging li:last-child a i{
	padding-left: 2.5px;
}
.pullLeftXs{
	float: right;
}
/* #End Pending Request Tab Content */



/* #Begin Members Tab Content */
/*.slideThree {
    width: 32px;
    height: 19px;
    background: #00a651;
    margin: 0px auto;
    border-radius: 50px;
    position: relative;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px #00a651, 0px 1px 0px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: inset 0px 1px 1px #00a651, 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px #00a651, 0px 1px 0px rgba(255, 255, 255, 0.2);
}*/
/*.slideThree:after {
    content: 'OFF';
    font: 8px/27px Open Sans;
    color: #4a4949;
    position: absolute;
    right: 4px;
    top: -3px;
    z-index: 0;
    font-weight: bold;
}
.slideThree:before {
    content: 'ON';
    font: 8px/27px Open Sans;
    color: #fff;
    position: absolute;
    left: 5px;
    top: -3px;
    z-index: 0;
    font-weight: bold;
}*/
/*.slideThree label {
    display: block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    background: #fcfff4;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}
.slideThree input[type=checkbox] {
    display: none
}
.slideThree input[type=checkbox]:checked + label {
    left: 15px;
}*/


.switchOnOff {
  	position: relative;
  	display: inline-block;
  	width: 38px;
  	height: 22px;
}
.switchOnOff input {display:none;}
.sliderOnOff {
  	position: absolute;
  	cursor: pointer;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	border:1px solid #e4e6e8;
  	background-color: #ccc;
  	-webkit-transition: .4s;
  	transition: .4s;
}
.sliderOnOff:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .sliderOnOff {
  	background-color: #00a651;
}
input:focus + .sliderOnOff {
  	box-shadow: 0 0 1px #00a651;
}
input:checked + .sliderOnOff:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
  	transform: translateX(13px);
}
.sliderOnOff.round {
  	border-radius: 34px;
}
.sliderOnOff.round:before {
  	border-radius: 50%;
}
.actionBtnWidth90{
	min-width: 90px;
}
/* #End Members Tab Content */

/* End Tab/ContentSection */





/* #Begin Find Everything Content */
.findNavContainer {
    position: fixed;
    top: 0px; 
    right: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden; 
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); 
    -webkit-overflow-scrolling: touch; 
}
.findNavContainer.is-visible {
    visibility: visible; 
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); 
}
.findIsActive .icon-menu .line-3 {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-45deg);
    transform: translateY(-8px) translateX(0) rotate(-45deg);
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu .findMenuItem { 
    border-top: 1px solid #419ccc; 
}
.nav-menu > .findMenuItem:last-child { 
    border-bottom: 1px solid #419ccc; 
}
.nav-menu .menu-link {
    display: block; 
    text-decoration: none;
    padding: 0.50rem 1rem;
}
.menuIcons{
	display: table;	
}
.menuIcons span{
	display: table-cell;
	padding: 0 5px;
	vertical-align: middle;
}
.menuIcons span.medicalIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -219px -15px;
}
.menuIcons span.managementIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -201px -15px;
}
.menuIcons span.engineeringIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -241px -15px;
}
.menuIcons span.bankingIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -181px -15px;
}
.menuIcons span.lectureshipIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -260px -15px;
}
.menuIcons span.railwayIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -281px -15px;
}
.menuIcons span.mastersIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -301px -15px;
}
.menuIcons span.sscIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -362px -15px;
}
.menuIcons span.lawIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -341px -15px;
}
.menuIcons span.civilIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -381px -15px;
}
.menuIcons span.academicIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -401px -15px;
}
/* 1. Menu items with dropdowns appear clickable */
.findMenuHasDropdown {
    cursor: pointer;
}
/*.arrowDropdownIcon{
	position: relative;
}
.arrowDropdownIcon:before{
	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 14px;
    position: absolute;
    right: 8px;
    top: 35px;
}*/

/* 1. Parent menu links inlined so you can toggle the dropdown */
.findMenuHasDropdown > .menu-link { display: inline-block; }

/* 1. Add an icon to menu items that have sub menus */
/*.findMenuHasDropdown:after {
    font-size: 22px;
    position: absolute;
    top: 0px;
    right: 1rem;
    bottom: 0;
    content: "+";
    color: #222;
}*/
.findMenuHasDropdown:first-child:after {
    font-size: 22px;
    position: absolute;
    display: none;
    top: 0px;
    right: 1rem;
    bottom: 0;
    content: "+";
    color: #222;
}
.findMenuHasDropdown.findIsActive:after { 
    content: "\2013";
}
.findNavDropdown {
    display: none;
    background-color: #c0c0c0;
}
.findMenuHasDropdown.findIsActive > .findNavDropdown { 
    display: block; 
}
.findNavDropdown .findMenuItem { 
    border-color: #dadee0; 
    background: #43a7db
}
.findNavDropdown .findNavDropdown .findMenuItem {
    background-color: #43a7db;
    border-color: #419ccc;
}
.findNavDropdown .findNavDropdown .findMenuItem a{
    color: #fff;
    font-size: 14px;
}

@media (min-width: 768px) {
	.staticPosition{
	    position: static;
	}
	.findNav,
	.findNavContainer,
	.findNavContainer.is-visible {
	    position: absolute;
	    top: auto;
	    left: auto;
	    z-index: 2;
	    width: 100%;
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	}
	.findNavContainer,
	.findNavContainer.is-visible {
	    visibility: visible;
	    height: auto;
	    min-height: 0;
	    overflow-y: visible;
	}
	.findNavToggle { 
		display: none; 
	}
	.nav-menu > .findMenuItem,
	 .nav-menu > .findMenuItem.findIsActive {
	    display: inline-block; 
	    background-color: transparent;
	    border: 0;
	}
	.nav-menu > .findMenuItem:last-child { 
	    border: 0; 
	}
	.nav-menu .findMenuItem {
	    -webkit-transition: background-color 0.15s ease-in-out,  color 0.15s ease-in-out;
	    transition: background-color 0.15s ease-in-out,  color 0.15s ease-in-out;
	}
	.findMenuHasDropdown:after { 
		content: "" !important; 
	}
	.findNavDropdown {
	    display: block;
	    opacity: 0;
	    position: absolute;
	    top: 71px; /*100%*/
	    width: 200px;
	    margin: 0;
	    border-radius: 5px;
	    padding: 5px 0px 5px 0px;
	    background-color: #fff;
	    border: 1px solid #43a7db;
	    visibility: hidden;
	    -webkit-transition: visibility 0s linear 0.25s,  opacity 0.25s linear;
	    transition: visibility 0s linear 0.25s,  opacity 0.25s linear;
	}
	.findMenuHasDropdown:hover > .findNavDropdown {
	    visibility: visible;
	    opacity: 1;
	    -webkit-transition-delay: 0s;
	    transition-delay: 0s;
	    /*min-height: 374px;*/
	}
	.findNavDropdown .findMenuItem { 
	    border: 0; 
	}
	.findNavDropdown .findMenuItem:hover { 
		background: #0099d2;
	    -webkit-transition: all 0.1s ease-in-out;
	    -moz-transition: all 0.1s ease-in-out;
	    -ms-transition: all 0.1s ease-in-out;
	    -o-transition: all 0.1s ease-in-out;
	    transition: all 0.1s ease-in-out; 
	}
	.findMenuItem a{
	    font-size: 14px;
	    color: #fff;
	}
	.findNavDropdown .findMenuItem a:hover,
	 .findNavDropdown .findNavDropdown .findMenuItem a:hover { 
	    color: #fff;
	    -webkit-transition: all 0.1s ease-in-out;
	    -moz-transition: all 0.1s ease-in-out;
	    -ms-transition: all 0.1s ease-in-out;
	    -o-transition: all 0.1s ease-in-out;
	    transition: all 0.1s ease-in-out; 
	    font-size: 14px;
	}
	.findNavDropdown .findMenuItem ul li a{
	    color: #fff !important;
	    font-size: 14px;
	    border-left: none !important;
	}
	.findNavDropdown .findMenuItem ul li a:hover{
	    color: #fff !important;
	    font-weight: 14px;
	    border-left: none !important;
	}
	.findNavDropdown .findNavDropdown,
	 .findNavDropdown .findNavDropdown .findMenuItem { 
	    background-color: #43a7db; 
	}
	.findNavDropdown .findNavDropdown,
	.findNavDropdown .findNavDropdown .findMenuItem:hover { 
	    color: #fff; 
	}
	.findNavDropdown .findNavDropdown {
	    z-index: 9998;
	    top: -1px;
	    left: 100%;
	    border: none;
	}
}
@media (max-width: 767px){
    .staticPosition{
        position: relative;
    }
}
.closeFindMenu{
	padding: 8px;
    font-size: 14px;
    color: #fff
}
.closeFindMenu:hover,.closeFindMenu:focus{
	text-decoration: none;
	color: #fff
}
.arrowFindEverything {
	/*position: relative;*/
	background: #43a7db;
}
.arrowFindEverything:after {
	bottom: 100%;
	left: 12%;
	top: -20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #43a7db;
	border-width: 10px;
	margin-left: -10px;
}
/* #End Find Everything Content */
/*========== End My Community Page ==========*/




/*========== #Begin My All Communities Page ==========*/
.starRatings{
	font-size: 14px;
	color: #e0711f;
	margin-left: 10px;
	display: inline-block;
}
.greenBottomBorder{
	color: #00a650;
	border-bottom: 1px dashed #00a650;
	text-align: center;
	width: 45px;
}
.numRedBtn{
	width: 30px;
	height: 30px;
	background: #df701f;
	display: inline-block !important;
	color: #fff !important;
	font-size: 12px !important;
	border-radius: 50% !important;
}
.numBlueBtn{
	width: 30px;
	height: 30px;
	background: #3cadd9;
	display: inline-block !important;
	color: #fff !important;
	font-size: 12px !important;
	border-radius: 50% !important;
}
.numGreenBtn{
	width: 30px;
	height: 30px;
	background: #02a552;
	display: inline-block !important;
	color: #fff !important;
	font-size: 12px !important;
	border-radius: 50% !important;
}
.btn-circle {
    text-align: center !important;
    padding: 6px 0 !important;
    font-size: 12px !important;
    line-height: 1.428571429 !important;
    border-radius: 15px !important;
}
/*========== #End My All Communities Page ==========*/





/*========== #Begin Community Detail Discussion Page ==========*/
.singleCommunityName h3 a {
    font-size: 18px;
    color: #037aa6;
}
.singleCommunityName h3 a {
    text-decoration: none;
}
.singleCommunityName h3 {
    margin-top: 0px;
}
.totalRating {
    font-size: 14px;
    color: #848e92;
    margin-left: 10px;
    display: inline-block;
}
ul.threadTitle {
    padding-left: 35px;
    margin-bottom: 25px;
    position: relative;
}
.threadImage{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	left: 39px;
}
.answerPosted > ul > li{
	list-style: disc
}
.answerPosted > ol > li{
	list-style: num;
}
ul.threadTitle a{
	color: #303b41;
}
ul.threadTitle > li {
    padding: 10px 0 4px 52px;
    list-style: none;
    font-size: 18px;
}
ul.relatedDisscussion{
	margin-bottom: 0;
	padding-left: 0;
}
.relatedDisscussion li{
	list-style: none;
	position: relative;
	margin-bottom: 15px;
	list-style-position: inside;
    padding: 0px 0  0px 30px;
    text-indent: -2em;
}
.relatedDisscussion .relatedCloseThread{
	position: absolute;
	left: 2px;
	top: 3px;
	background: url('../images/closeThread.png') no-repeat;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}
.relatedDisscussion .relatedOpenThread{
	position: absolute;
	left: 2px;
	top: 3px;
	background: url('../images/openThread.png') no-repeat;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
}
.relatedDisscussion a{
	padding-left: 28px;
}
.related-Dis{
	width : 45px;
	height: 45px;
	border-radius: 50px;
}
ul.threadDetail{
	margin: 0;
	padding: 0;
}
ul.threadDetail li{
	display: inline-block;
	color: #303b41;
	font-size: 14px;
	padding: 0px 22px 0px 0px;
	position: relative;
}
ul.threadDetail li:nth-child(3){
	display: inline-block;
	color: #037aa6;
	font-size: 14px;
	padding: 0px 22px 0px 0px;
}
ul.threadDetail li:nth-child(1):before{
	content: ". ";
	font-size: 28px;
	color: #9ca7ac;
	position: absolute;
	display: none;
	top: -18px;
	left: -10px;
}
ul.threadDetail li:nth-child(4){
	font-size: 14px;
	color: #848e92;
}
ul.threadDetail li:nth-child(4):before{
	content: ". ";
	font-size: 28px;
	color: #9ca7ac;
	position: absolute;
	display: none;
	top: -18px;
	left: -10px;
}
ul.threadDetail li:before{
	content: ". ";
	font-size: 28px;
	color: #9ca7ac;
	position: absolute;
	top: -18px;
	left: -10px;
}
ul.threadDetail span{
	color: #0379a6;
	font-size: 13px;
}
.communityMember{
	position: absolute;
	width: 20px;
	height: 20px;
	color: #fff;
	background: #00a651;
	border: 1px solid #fff;
	text-align: center;
	padding: 1px 1px 1px 2px;
	top: 5px;
	left: 62px;
	border-radius: 50%;
	font-size: 10px;
	font-weight: 800;
}
.closeThread{
	position: absolute;
	left: 2px;
	top: 17px;
	background: url('../images/closeThread.png') no-repeat;
	width: 25px;
	height: 25px;
}
.openThread{
	position: absolute;
	left: 2px;
	top: 17px;
	background: url('../images/openThread.png') no-repeat;
	width: 25px;
	height: 25px;
}
/*.relatedTitle{
	background: url('../images/relatedProducts.png') no-repeat;
	padding: 2px 0 10px 32px;
	list-style: none;
	font-weight: 400;
	font-size: 14px;
}*/
/*.relatedArticles{
	background: url('../images/relatedArticles.png') no-repeat;
	padding: 2px 0 10px 32px;
	list-style: none;
	font-weight: 400;
	font-size: 14px;
}*/
/*.moderators{
	background: url('../images/moderators.png') no-repeat;
	padding: 0px 0 10px 32px;
	list-style: none;
	font-weight: 400;
	font-size: 14px;
}*/
/*.memberThumb{
	background: url('../images/totalMembersSmall.png') no-repeat;
	padding: 0px 0 10px 32px;
	list-style: none;
	font-weight: 400;
	font-size: 14px;
}*/
.aboutProduct{
	padding-left: 28px;
	margin-top: 12px;
	margin-bottom: 15px;
	float: left;
	width: 100%;
	float: left;
	clear: both;
}
.productImage{
	float: left;
	margin-right: 10px;
}
.aboutDtl a{
	font-size: 14px !important;
	color: #037aa6 !important;
}
.aboutDtl a:hover{
	font-size: 14px !important;
	color: #037aa6 !important;
}
.rupeeMrp{
	color: #848e92;
	font-size: 12px;
	text-decoration: line-through;
}
.actualPrice{
	color: #303b41;
	font-size: 12px;
}
.offPrice{
	font-size: 12px;
	color: #00a651;
}
.bottomSaperator{
	border-bottom: 1px solid #dadee0;
	margin-bottom: 30px;
	margin-top: 15px;
	clear: both;
}
.moderatorMemberImg{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	float: left;
	margin-right: 15px;
}
.grabNow{
	background: url('../images/grabBgImage.png') no-repeat;
	background-size: cover;
	background-position: 100% 100%;
	width: 100%;
	padding: 30px;	
	clear: both;
	margin-top: 30px;
	float: left;
}
.grabNow p{
	font-size: 14px;
	color: #fff;
	text-align: center;
}
/*========== #End Community Detail Discussion Page ==========*/





/*========== #Begin Community Home Page ==========*/
.articleImage{
	border-radius: 3px
}
.articleHeading18{
	color: #1e2528;
	margin: 10px 0 5px 0px;
	font-size: 18px;
}
.articleHeading18:hover,.articleHeading18:focus{
	color: #1e2528;
	margin: 10px 0 5px 0px;
}
.carousel-control.right, .left{
	background-image: none !important;
}
.itemBackground{
	background: url('../images/carouselBackground.png') no-repeat;
	background-size: cover;
}
.itemBackground .item{
	padding: 30px 150px;
}
.itemBackground p{
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-style: italic;
	margin-top: 10px;
}
.itemBackground .carousel-caption{
	position: static;
	color: #fff;
	font-weight: 600;
	text-shadow: none;
	font-size: 14px;
}
.testimonialUser{
	width: 85px !important;
	height: 85px !important;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #1eafe2;
	border-radius: 50%;
	clear: both;
}
.titleHeadingIcon{
	display: table;
	font-size: 18px;
}
.sidebarHeadingIcon{
	display: table;
	font-size: 14px;
}
.sidebarHeadingIcon span, .titleHeadingIcon span{
	display: table-cell;
	vertical-align: middle;
	line-height: 1px;
}
.titleHeadingIcon .featuredIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) 0px -15px;
}
.sidebarHeadingIcon .featuredIcon{
	width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) 0px -15px;
}
.titleHeadingIcon .articleTitle {
    width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -99px -16px;
}
.sidebarHeadingIcon .relatedArticles {
    width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -99px -16px;
}
.sidebarHeadingIcon .moderators {
    width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -79px -16px;
}
.sidebarHeadingIcon .memberThumb {
    width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -59px -16px;
}
.sidebarHeadingIcon .relatedTitle {
    width: 20px;
    height: 20px;
    background: url(../images/spriteImage.png) -319px -16px;
}
/*========== #End Community Home Page ==========*/





/*========== #Begin Community Single Thread Page ==========*/
.tripleDotOption{
	color: #848e92;
	font-size: 18px;
}
.tripleDotOption:focus{
	box-shadow: none !important;
}
.optionsDropdown li{
	padding: 0px !important;
	font-size: 14px !important;
}
ul.shareSocial{
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
}
ul.shareSocial li{
	display: table-cell !important;
	vertical-align: middle !important;
	padding: 0 15px !important;
	text-align: center;
}
ul.shareSocial li a{
	font-size: 14px !important;
	text-align: center !important;
	color: #848e92 !important
}
ul.shareSocial li:nth-child(1){
	border-right: 1px solid #dadee0
}
.fbColor{
	color: #39599f;
}
.gpColor{
	color: #cc181e;
}
.twColor{
	color: #45b0e3;
}
.ytColor{
	color: #db2724;
}
.navbar-right{
	margin-right: 0px !important
}
.editorInline{
	width: 100%;
	position: relative;
	border: 1px solid #dadee0;
	height: 130px;
}
.editorInlineArrow {
	position: relative;
	background: #fff;
}
.editorInlineArrow:after {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #dadee0;
	border-width: 10px;
	margin-top: -10px;
}
.editorInline textarea{
	border-color: transparent;
	width: 100%;
	height: 128px;
	padding: 5px 15px;
	color: #9ca7ac
}
.editorOptionArea{
	background: #f4f6f7;
	width: 100%;
	position: absolute;
	bottom: 0
}
.editorOptionButtons{
	padding: 12px;
	border: 0px;
	background: #f4f6f7;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.editorOptionButtons:hover{
	padding: 12px;
	border: 0px;
	background: #dadee0;
}

/*========== #End Community Single Thread Page ==========*/






/*========== #Begin Community Ask Question Popup ==========*/
.askQuestion{
	color: #3e505a;
	font-size: 24px;
	font-weight: 600;
	margin-top: 35px;
	margin-bottom: 10px;
}
.inputTitle{
	font-size: 14px;
	color: #303b41;
	margin-bottom: 5px;
}
.form-control, textarea{
	border-radius: 2px;
	border: 1px solid #dadee0;
}
.postingRules{
	background: #fcfee9;
	padding: 20px 15px;
}
.answerIcon {
    background: url('../images/answerIcon.png') no-repeat;
    padding: 2px 0 10px 32px;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
}
.ruleCounter {
    margin-left: 0;
    padding-left: 50px;
    list-style-type: none;
}
.ruleCounter li {
    counter-increment: step-counter;
    padding-bottom: 15px;
    list-style-position: inside;
    text-indent: -2em
}
.ruleCounter li::before {
    content: counter(step-counter);
    margin-right: 5px;
    font-size: 80%;
    background-color: #ccf0fe;
    color: #017aa7;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 50%;
}
.tagInput{
	height: 50px;
}
/*========== #End Community Ask Question Popup ==========*/



/*========== #Begin Search Question Popup ==========*/
.findText{
	color: #9ca7ac;
	font-size: 18px;
}
.askText{
	color: #e0711f;
	font-size: 18px;
	cursor: pointer;
	text-decoration: underline;
}
.modalCrossButton .close{
	padding-top: 15px;
	padding-right: 15px;
}
.askSearchPopup{
	width: 95%;
}
/*========== #End Search Question Popup ==========*/





/*========== #Begin Social Side Icons ==========*/
.socialSideLinks {
	position: fixed;
  	top: 25%;
  	left: 0;
  	padding: 0;
  	list-style: none;
  	z-index: 99;
}
.socialSideLinks li a {
	display: block;
	padding: 15px 10px;
	color: #fff;
	text-align: center;
	font-size: 18px;
}
.socialSideLinks li a.fbBackground{
	background: #39599f
}
.socialSideLinks li a.gpBackground{
	background: #cc181e
}
.socialSideLinks li a.twBackground{
	background: #45b0e3
}
.socialSideLinks li a img {
	display: block;
	max-width:40px;
  	padding: 10px;
  	-webkit-transition:  background .2s ease-in-out;
  	-moz-transition:  background .2s ease-in-out;
  	-o-transition:  background .2s ease-in-out;
  	transition:  background .2s ease-in-out;
}
/*========== #End Social Side Icons ==========*/





/*========== #Begin Search Bridge Page ==========*/
.font18{
	font-size: 18px !important;
}
.searchSliderArea{
	/*width: 100%;
	height: auto;*/
	display: block;
	padding-bottom: 15px;
	border-bottom: 1px solid #dadee0
}
/*.sliderSingleItem{
	width: auto;
	height: auto;
	float: left;
	margin-right: 15px;
	display: inline-block;
	background: #fff;
}*/
.sliderSingleItem h5{
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 2px;
}
.sliderSingleItem .starStudents,.priceSection{
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	/*width: 100%;*/
}
.owl-prev,.owl-next{
	position: absolute;
	top: 30%;
	background: #fff;
	width: 50px;
	height: 50px;
	padding: 15px;
	border-radius: 50%;
	webkit-box-shadow: 0px 7px 10px 2px #c1c1c1;
	box-shadow: 0px 7px 10px 2px #c1c1c1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.owl-prev:hover{
	background: #00a651;
	color: #fff
}
.owl-next:hover{
	background: #00a651;
	color: #fff
}
.owl-prev{
	left: 0;
}
.owl-next{
	right: 0;
}
.owl-prev i{
	left: 18px;
	position: absolute;
	font-size: 24px;
	top: 13px;
}
.owl-next i{
	right: 20px;
	position: absolute;
	font-size: 24px;
	top: 13px;
}
/*========== #End Search Bridge Page ==========*/





/*========== #Begin Product List/Grid ==========*/
.filter-panel {
    border-radius: 0px;
    clear: both;
    float: left;
    width: 100%;
}
.clickable {
    cursor: pointer;
}
.filter-title {
    color: #303b41;
    font-size: 14px;
    font-weight: 600;
}
.panel-body {
    clear: both;
    padding: 15px 15px 7px 15px;
}
.clickable .filter-icon {
    background: #fff;
    display: inline-block;
    color: #848e92;
    padding: 2px 1px 2px 2px;
    font-size: 11px;
    border: 1px solid #848e92;
    border-radius: 3px;
}
.filter-checkbox {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
}
.checkbox input[type=checkbox] {
    display: none;
}
.checkbox label {
    margin-bottom: 10px;
}
.checkbox label:before {
    border-radius: 0;
}
.checkbox input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 10px;
    color: #fff;
    border: 1px solid #43a7db;
    text-align: center;
    font-weight: bold;
    line-height: 14px;
    background: #43a7db
}
.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px !important;
    margin-right: 15px;
    color: #303b41;
    font-weight: 500;
    font-size: 14px;
}
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border: 1px solid #dadee0;
    border-radius: 4px;
}
.filter-count {
    color: #848e92;
    font-size: 13px;
    float: right;
    padding-right: 15px;
}
.range-input {
    width: 62px;
    height: 40px;
    font-size: 13px;
    color: #5a6368;
    border: 1px solid #dbdfe1;
    padding-left: 2px;
    margin-top: -11px;
	border-radius: 4px;
}
.itemList{
    padding-top: 15px;
}
.itemList.listGroupItem{
    float: none;
    width: 100%;
    background-color: #fff;
}
.itemList.listGroupItem .listGroupImage{
    margin-right: 15px;
}
.itemList.listGroupItem .productCaption{
    padding: 0px 9px 0px 9px;
}
.itemList.listGroupItem:before, .itemList.listGroupItem:after{
    display: table;
    content: " ";
}
.itemList.listGroupItem img{
    float: left;
}
.itemList.listGroupItem:after{
    clear: both;
}
.listGroupItem-text{
    margin: 0 0 0px;
}
.inlineLeft{
    display: inline-block;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.listDesc,.hideInList{
    display: none;
}
.popularTags{
	padding: 5px;
	background: #f2f5f6;
	border: 1px solid #dadee0;
	color: #303b41;
	font-size: 12px;
	float: left;
	margin-bottom: 5px;
	margin-right: 5px;
	border-radius: 4px;
	cursor: pointer;
}
.popularTags:hover{
	background: #e4ebed;
}
.filterArea{
	width: auto;
	margin-right: 15px;
	display: inline-block;
}
.filterName{
	line-height: 25px;
	margin-right: 10px;
	color: #303b41;
	font-weight: 600;
}
.filterArea span{
	float: left;
}
.selectedFilter{
	position: relative;
	padding: 3px 5px;
	background: #f2f5f6;
	border: 1px solid #dadee0;
	color: #303b41;
	font-size: 12px;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 3px;
	border-radius: 4px;
	cursor: pointer;
}
.selectedFilter .filterRange{
	margin-right: 20px;
	color: #303b41;
}
.selectedFilter i{
	position: absolute;
	right: 5px;
	top: 5px;
	color: #b7bfc3;
}
.userBtn{
    display: table;
    width: 100%;
    background: transparent;
    border: 0;
    color: #fff;
    margin-top: 13px;
}
.userBtn:hover,.userBtn:focus{
    text-decoration: none;
    color: #fff;
}
.userBtn span{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.userBtn span img{
    margin: 0px;
}
.userBtn i{
    font-size: 18px;
    color: #fff !important;
}
.userDropdownUl{
	top: 67px !important;
	right: 17px !important;
	border-radius: 0px;
}
.userDropdownUl li a{
	color: #303b41;
	font-size: 14px;
}
.userrName{
	width: 125px;
	padding-right: 10px;
}
.userThumbnaill, .userThumbnaill img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 15px;
}
.dropArrow{
	width: 21px;
}
.xsUserImg{
	width: 24px;
	height: 24px;
	border-radius: 50%
}
.xsDropdownUser{
	left: -128px !important;
	border-radius: 0px !important;
}
.xsDropdownUser li a{
	width: 100%;
	margin: 0;
	font-size: 14px;
}
.xsDropdownUser li a:hover,.xsDropdownUser li a:focus{
	width: 100%;
	margin: 0;
	font-size: 14px;
}
/*========== #End Product List/Grid ==========*/



















/*=======Buttons Sizes Start=======*/
.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none; 
    box-shadow: none;
}
.btn.active, .btn:active{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn{
	padding: 9px 12px;
}
.default{
    text-align: left;
    color: #303b41;
    background-image: -moz-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
    border: 1px solid #dadee0 !important;
}
/*.default:hover, .default:focus, .default:active{
	background: #e6e6e6;
	color: #303b41;
}*/
.btn-group-lg>.btn, .btn-lg{
	padding: 12px 12px !important;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 5px;
}
.btn-group-sm>.btn, .btn-sm{
	padding: 5px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}
.btn-group-xs>.btn, .btn-xs{
	padding: 0px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px
}
/*=======Buttons End=======*/



/*===Buttons Colors Start===*/
.btnDarkBlue{
	background: #037aa6;
	color: #fff;
	border-color: #037aa6;
}
.btnDarkBlue:hover,.btnDarkBlue:focus{
	background: #006185;
	color: #fff;
	border-color: #006185;
}
.btnRed{
	background: #e0711f;
	color: #fff;
	border-color: #e0711f;
}
.btnRed:hover,.btnRed:focus{
	background: #c75500;
	color: #fff;
	border-color: #c75500;
}
.btnLightBlue{
	background: #43a7db;
	color: #fff;
	border-color: #43a7db;
}
.btnLightBlue:hover,.btnLightBlue:focus{
	background: #0092d2;
	color: #fff ;
	border-color: #0092d2;
}
.btnGreen{
	background: #00a651;
	color: #fff;
	border-color: #00a651;
}
.btnGreen:hover,.btnGreen:focus{
	background: #008440;
	color: #fff;
	border-color: #008440;
}
.red{
	color: #fff;
	background-color: #e7505a;
	border-color: #e7505a;
}
.red:hover, .red:focus{
	color: #fff;
	background-color: #e12330;
}
.blue{
	color: #fff;
	background-color: #3598dc;
	border-color: #3598dc;
}
.blue:hover, .blue:active, .blue:focus{
	color: #fff ;
	background-color: #217ebd;
	border-color: #1f78b5;
}
.green{
	color: #fff;
	background-color: #32c5d2;
	border-color: #32c5d2;
}
.green:hover, .green:active, .green:focus{
	color: #fff;
	background-color: #26a1ab;
	border-color: #2499a3;
}
.yellow{
	color: #fff;
	background-color: #c49f47;
	border-color: #c49f47;
}
.yellow:hover, .yellow:active, .yellow:focus{
	color: #fff;
	background-color: #a48334;
	border-color: #9c7c32;
}
.purple{
	color: #fff;
	background-color: #8E44AD;
	border-color: #8E44AD;
}
.purple:hover{
	color: #fff;
	background-color: #703688;
	border-color: #6a3381;
}
.dark{
	color: #fff;
	background-color: #2f353b;
	border-color: #2f353b;
}
.dark:hover{
	color: #fff;
	background-color: #181c1f;
	border-color: #141619;
}
.red-mint{
	color: #fff;
	background-color: #e43a45;
	border-color: #e43a45;
}
.red-mint:hover{
	color: #fff;
	background-color: #cf1c28;
	border-color: #c61b26;
}
.blue-hoki{
	color: #fff;
	background-color: #67809F;
	border-color: #67809F;
}
.blue-hoki:hover{
	color: #fff;
	background-color: #526781;
	border-color: #4e627b;
}
.green-haze{
	color: #FFF;
    background-color: #44b6ae;
    border-color: #44b6ae;
}
.green-haze:hover{
	color: #FFF;
    background-color: #36918b;
    border-color: #338983;
}
.yellow-mint{
	color: #fff;
    background-color: #c5b96b;
    border-color: #c5b96b;
}
.yellow-mint:hover{
	color: #fff;
    background-color: #b6a747;
    border-color: #aea044;
}
.purple-sharp{
    color: #fff;
    background-color: #796799;
    border-color: #796799;
}
.purple-sharp:hover{
	color: #fff;
    background-color: #61527b;
    border-color: #5c4e75;
}
.grey-mint{
    color: #FFF;
    background-color: #525e64;
    border-color: #525e64;
}
.grey-mint:hover{
    color: #FFF;
    background-color: #3b4448;
    border-color: #363e42;
}
.btn.btn-outline.default{
	border-color: #303b41;
    color: #303b41;
    background: 0 0;
}
.btn.btn-outline.default:hover{
	border-color: #e1e5ec;
    color: #666;
    background: #e1e5ec;
}
.btn.btn-outline.red{
	border-color: #e7505a;
    color: #e7505a;
    background: 0 0;
}
.btn.btn-outline.red:hover{
	border-color: #e7505a;
    color: #fff;
    background-color: #e7505a;
}
.btn.btn-outline.blue{
	border-color: #3598dc;
    color: #3598dc;
    background: 0 0;
}
.btn.btn-outline.blue:hover{
	border-color: #3598dc;
    color: #fff;
    background-color: #3598dc;
}
.btn.btn-outline.green{
	border-color: #32c5d2;
    color: #32c5d2;
    background: 0 0;
}
.btn.btn-outline.green:hover{
	border-color: #32c5d2;
    color: #fff;
    background: #32c5d2;
}
.btn.btn-outline.yellow{
	border-color: #c49f47;
    color: #c49f47;
    background: 0 0;
}
.btn.btn-outline.yellow:hover{
	border-color: #c49f47;
    color: #fff;
    background: #c49f47;
}
.btn.btn-outline.purple{
	border-color: #8E44AD;
    color: #8E44AD;
    background: 0 0;
}
.btn.btn-outline.purple:hover{
	border-color: #8E44AD;
    color: #fff;
    background: #8E44AD;
}
.btn.btn-outline.dark{
	border-color: #2f353b;
    color: #2f353b;
    background: 0 0;
}
.btn.btn-outline.dark:hover{
	border-color: #2f353b;
    color: #fff;
    background: #2f353b;
}
.btn.btn-outline.red-mint{
	border-color: #e43a45;
	color:#e43a45;
	background: 0 0;
}
.btn.btn-outline.red-mint:hover{
	border-color: #e43a45;
	color: #fff;
	background: #e43a45;
}
.btn.btn-outline.blue-hoki{
	border-color: #67809F;
	color:#67809F;
	background: 0 0;
}
.btn.btn-outline.blue-hoki:hover{
	border-color: #67809F;
	color: #fff;
	background: #67809F;
}
.btn.btn-outline.green-haze{
	border-color: #44b6ae;
	color: #44b6ae;
	background: 0 0;
}
.btn.btn-outline.green-haze:hover{
	border-color: #44b6ae;
	color: #fff;
	background: #44b6ae;
}
.btn.btn-outline.yellow-mint{
	border-color: #c5b96b;
	color: #c5b96b;
	background: 0 0;
}
.btn.btn-outline.yellow-mint:hover{
	border-color: #c5b96b;
	color: #fff;
	background: #c5b96b;
}
.btn.btn-outline.purple-sharp{
	border-color: #796799;
	color: #796799;
	background: 0 0;
}
.btn.btn-outline.purple-sharp:hover{
	border-color: #796799;
	color: #fff;
	background: #796799;
}
.btn.btn-outline.grey-mint{
	border-color: #525e64;
	color: #525e64;
	background: 0 0;
}
.btn.btn-outline.grey-mint:hover{
	border-color: #525e64;
	color: #fff;
	background: #525e64;
}
.btn.btn-outline.btnDarkBlue{
	border-color: #006185;
	color: #006185;
	background: 0 0;
}
.btn.btn-outline.btnDarkBlue:hover{
	border-color: #006185;
	color: #fff;
	background: #006185;
}
.btn.btn-outline.btnGreen{
	border-color: #00a651;
	color: #00a651;
	background: 0 0;
}
.btn.btn-outline.btnGreen:hover{
	border-color: #00a651;
	color: #fff;
	background: #00a651;
}
.btn.btn-outline.btnLightBlue{
	border-color: #43a7db;
	color: #43a7db;
	background: 0 0;
}
.btn.btn-outline.btnLightBlue:hover{
	border-color: #43a7db;
	color: #fff;
	background: #43a7db;
}
.btn.btn-outline.btnRed{
	border-color: #e0711f;
	color: #e0711f;
	background: 0 0;
}
.btn.btn-outline.btnRed:hover{
	border-color: #e0711f;
	color: #fff;
	background: #e0711f;
}
.btn.btnDarkBlue-stripe {
    border-left: 4px solid #006185!important;
}
.btn.btnGreen-stripe{
	border-left: 4px solid #00a651!important;
}
.btn.btnLightBlue-stripe{
	border-left: 4px solid #43a7db!important;
}
.btn.btnRed-stripe{
	border-left: 4px solid #e0711f!important;
}
.btn.red-stripe{
	border-left: 4px solid #e7505a !important;
}
.btn.blue-stripe{
	border-left: 4px solid #3598dc !important;
}
.btn.green-stripe{
	border-left: 4px solid #32c5d2 !important;
}
.btn.yellow-stripe{
	border-left: 4px solid #c49f47 !important;
}
.btn.purple-stripe{
	border-left: 4px solid #8E44AD !important;
}
.btn.dark-stripe{
	border-left: 4px solid #2f353b !important;
}
.btn.red-mint-stripe{
	border-left: 4px solid #e43a45 !important;
}
.btn.blue-hoki-stripe{
	border-left: 4px solid #67809F !important;
}
.btn.green-haze-stripe{
	border-left: 4px solid #44b6ae !important;
}
.btn.yellow-mint-stripe{
	border-left: 4px solid #c5b96b !important;
}
.btn.purple-sharp-stripe{
	border-left: 4px solid #796799 !important;
}
.btn.grey-mint-stripe{
	border-left: 4px solid #525e64 !important;
}
.btn-icon-only {
    height: 38px;
    width: 38px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.btn-circle {
    border-radius: 25px!important;
    overflow: hidden;
}
.font-red{
	color: #e7505a;
}

/*===Buttons Colors End===*/




/*========== #Begin All Buttons ==========*/

/*.btn{
	padding: 9px 14px !important;
}
.btn:focus{
	padding: 9px 14px !important;
	outline: 0px !important;
	box-shadow: none !important;
	
}
.btn-default{
    text-align: left;
    color: #303b41;
    background-image: -moz-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
    background-image: -webkit-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
    background-image: -ms-linear-gradient( 90deg, rgb(248,248,248) 0%, rgb(255,255,255) 100%) !important;
    border: 1px solid #dadee0 !important;
}

.btn-default:hover, .btn-default:focus, .btn-default:active{
	background: #e6e6e6;
	color: #303b41;
	box-shadow: none;
}

.btn-group-lg>.btn, .btn-lg{
	padding: 12px 12px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 4px;
}

.btn-group-sm>.btn, .btn-sm{
	padding: 5px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-group-xs>.btn, .btn-xs{
	padding: 0px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px
}


.btn-lg{
	font-size: 14px;
	padding: 14px 14px;
}
.btn-md{
	font-size: 14px;
	padding: 9px 14px;
}
.btn-sm{
	font-size: 14px;
	padding: 4px 14px;
}
.btn-xs{
	font-size: 12px;
	line-height: 1.5;
	padding: 0px 14px;
}


.btnDefault{
    padding: 10px 14px;
}
.btnDarkBlue{
	background: #037aa6;
	color: #fff;
	border-color: #037aa6;
}
.btnDarkBlue:hover,.btnDarkBlue:focus{
	background: #006185;
	color: #fff;
	border-color: #006185;
}
.btnRed{
	background: #e0711f;
	color: #fff;
	border-color: #e0711f;
}
.btnRed:hover,.btnRed:focus{
	background: #c75500;
	color: #fff;
	border-color: #c75500;
}
.btnOrange{
	background: #df701f;
	color: #fff
}
.btnOrange:hover,.btnOrange:focus{
	background: #c75500;
	color: #fff !important;
	box-shadow: none;
}
.btnLightBlue{
	background: #43a7db;
	color: #fff;
	border-color: #43a7db;
}
.btnLightBlue:hover,.btnLightBlue:focus{
	background: #0092d2;
	color: #fff ;
	border-color: #0092d2;
}
.btnGreen{
	background: #00a651;
	color: #fff;
	border-color: #00a651;
}
.btnGreen:hover,.btnGreen:focus{
	background: #008440;
	color: #fff;
	border-color: #008440;
}
.ghostGreenBorder{
	background: #fff;
	color: #00a651;
	border: 1px solid #00a651;
}
.ghostGreenBorder:hover, .ghostGreenBorder:focus{
	background: #00a651;
	color: #fff;
	box-shadow: none;
}*/
.btnWidth180{
	width: 180px;
	margin: auto;
	display: block;
}
.askQuestionButton{
	width: 80%;
	display: block;
	margin: auto;
}
/*========== #End All Buttons ==========*/






/*========Added Classes for Search Bridge Start========*/
.ui-menu-divider{
	display: none !important;
}
.searchAll{
	color: #303b41;
	font-size: 14px;
	border-top: none !important;
	border:1px solid #dadee0 !important;
	box-shadow: 0px 0px 10px #d2d2d2;
	-moz-box-shadow: 0px 0px 10px #d2d2d2;
	-webkit-box-shadow: 0px 0px 10px #d2d2d2;
	-ms-box-shadow: 0px 0px 10px #d2d2d2;
	background-color: #fff !important;
	width: 380px;
	overflow: hidden;
}
.searchAll a{
	padding: 2px 1.2em !important;
	text-decoration: none !important;
	color: #00a651;
	clear: both;
}
.iconDiscussion{
	background: url('../images/msgIcon.png') no-repeat 12px !important;
}
.iconArticles{
	background: url('../icons/iconArticles.png') no-repeat 12px center !important;
}
.iconProducts{
	background: url('../icons/iconProducts.png') no-repeat 12px center !important;
}
.iconDiscussion, .iconArticles, .iconProducts{
	padding: 0 0 0 34px !important;
    list-style: none;
    font-weight: 500;
    color: #abb4b8 !important;
    clear: both;
    font-size: 14px !important;
    margin: 10px 0 6px;
    border-bottom: 1px solid #dadee0;
}
.relatedSearch{
	padding: 10px 0 0 10px !important;
    list-style: none;
    font-weight: 500;
    color: #abb4b8 !important;
    font-size: 14px !important;
    border-bottom: 1px solid #dadee0;
}
.fixedPosition{
	position: fixed;
}
textarea.form-control{
	height: 200px;
}
.searchIcon{
	background: url('../icons/iconNext.png') no-repeat right 13px !important;
	float: right;
	margin-right: 10px;
}
.searchIcon a{
	color: #037aa6 !important;
	font-weight: 600 !important;
	float: right;
	text-decoration: none;
}
.searchIcon a:hover,.searchIcon a:focus{
	color: #037aa6 !important;
	font-weight: 600 !important;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: none;
	background: transparent;
	color: #43A7DB;
	text-decoration: none;
}
.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px 1.4em;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{
    margin: 0px !important
}
.ui-autocomplete-term {color: #848e92 !important; }

/*========Added Classes for Search Bridge End========*/



.disscMembers{
	width: 100%;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 15px;
}
.disscUser{
	margin-bottom: 15px;
	padding: 5px 0;
}
.disscUser:hover{
	background: #f5f5f5
}
.answerPosted img{ 
	max-width:100% !important; 
} 















@media (max-width: 320px){
	.margin-left-right{
		margin: 0 5px;
	}
	/* Logo class for mobile */
	.logoHeader{
		float: left;
	    background: url(../images/mobile-logo.png) no-repeat center center;
	    margin-top: 4px;
	    width: 32px;
	    height: 36px;
	    margin-left: 10px;
	}
	.tabLearn{
		width: 50%;
		background: #43a7db;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		float: left;
		cursor: pointer;
	}
	.tabTeach{
		width: 50%;
		background: #0099d2;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		float: left;
		cursor: pointer;
	}
	.findEverything{
		line-height: 50px;
		float: left;
	}
	#custom-search-input{
		margin-top: 10px;
		display: none;
	}
	.paddingXs15 {
	    padding: 0 15px !important;
	    margin: 0px !important;
	}
	.countText{
		display: block;
		font-size: 14px;
		color: #303b41;
		padding-left: 0px;
	}
	.countNumber{
		display: block;
		font-size: 18px;
		color: #303b41;
		font-weight: 600;
		padding-left: 0px;
	}
	.courseNameSection h3 .showRating{
		font-size: 14px;
		color: #e0711f;
		margin-left: 0px;
		margin-top: 10px;
		display: block;
	}
	.courseNameSection h3 .totalRating{
		font-size: 14px;
		color: #848e92;
		margin-left: 0px;
		margin-top: 10px;
		display: inline-block;
	}
	.communityPost{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.col-xs-12{
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.minusMargin32{
		margin-top: 10px;
	}
	.custom-nav-tabs>li>a{
	    color: #848e92 !important;
	    font-size: 14px;
	    padding: 10px 7px !important;
	    border: none !important;
	}
	.findNavContainer {
	    background: #fff;
	}
	.findNavDropdown .findMenuItem {
	    border-color: #3e9ed2;
    	background: #44ace4;
	}
	.arrowFindEverything{
		display: none;
	}
	.arrowFindEverything:after{
		display: none;
	}
	.search-query{
		border-radius: 0px !important;
		width: 288px !important;
	}
	.searchButton {
	    background-color: transparent;
	    border-color: transparent;
	    position: absolute;
	    left: -35px;
	    color: #c6cdd1 !important;
	    top: 0px;
	    border: none;
	}
	.searchButton:hover,.searchButton:focus {
	    color: #c6cdd1 !important;
	    background-color: transparent;
	    border-color: transparent !important;
	    outline:  none !important;
	    box-shadow: none !important;
	}
	#custom-search-input{
		margin-top: -37px;
		position: relative;
		max-width: 100%;
	}
	.footerxs {
	    text-align: center !important;
	}
	.itemBackground{
		background: url('../images/carouselBackground.png') no-repeat;
		background-size: cover;
		padding: 30px 30px;
	}
	.editorOptionButtons{
		padding: 3px;
		font-size: 12px;
		border: 0px;
		background: #f4f6f7;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	/*.arrowDropdownIcon:before{
		content: "\f105";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		font-size: 14px;
	    position: absolute;
	    right: 8px;
	    top: 35px;
	    display: none;
	}*/
	.filter-show{
        display: none;
    }
    .searchAll{
		width: 288px;
		overflow: hidden;
	}
	.pullLeftXs{
		float: left;
	}
	.textCenterXs{
		text-align: center;
	}
	.communityQuestions>li> a{
		padding: 10px 20px !important;
	}
	.btn-group-lg>.btn, .btn-lg{
		padding: 12px 12px !important;
	    font-size: 14px;
	    line-height: 1.3333333;
	    border-radius: 5px;
	}
	.mobile-left-padding0{
		padding-left: 0px !important;
	}
	.xs8 {
        font-size: 8px;
    }
    .xs9 {
        font-size: 9px;
    }
    .xs10 {
        font-size: 10px;
    }
    .xs11 {
        font-size: 11px;
    }
    .xs12 {
        font-size: 12px;
    }
    .xs13 {
        font-size: 13px;
    }
    .xs14 {
        font-size: 14px;
    }
    .xs15 {
        font-size: 15px;
    }
    .xs16 {
        font-size: 16px;
    }
    .xs17 {
        font-size: 17px;
    }
    .xs18 {
        font-size: 18px;
    }
    .xs19 {
        font-size: 19px;
    }
    .xs20 {
        font-size: 20px;
    }
    .xs21 {
        font-size: 21px;
    }
    .xs23 {
        font-size: 23px;
    }
    .xs25 {
        font-size: 25px;
    }
    .xs27 {
        font-size: 27px;
    }
    .xs29 {
        font-size: 29px;
    }
    .xs31 {
        font-size: 31px;
    }
    .xs33 {
        font-size: 33px;
    }
    .xs35 {
        font-size: 35px;
    }
    .xs37 {
        font-size: 37px;
    }
    .xs39 {
        font-size: 39px;
    }
    .xs41 {
        font-size: 41px;
    }
    .xs43 {
        font-size: 43px;
    }
    .xs45 {
        font-size: 45px;
    }
    .xs47 {
        font-size: 47px;
    }
    .xs49 {
        font-size: 49px;
    }
    .xs51 {
        font-size: 51px;
    }
}
@media (max-width: 767px){
	/* Logo class for mobile */
	.logoHeader{
		float: left;
	    background: url(../images/mobile-logo.png) no-repeat center center;
	    margin-top: 4px;
	    width: 32px;
	    height: 36px;
	    margin-left: 10px;
	}
	.tabLearn{
		width: 50%;
		background: #43a7db;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		float: left;
		cursor: pointer;
	}
	.tabTeach{
		width: 50%;
		background: #0099d2;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		float: left;
		cursor: pointer;
	}
	.findEverything{
		line-height: 50px;
		float: left;
	}
	#custom-search-input{
		margin-top: 10px;
		display: none;
	}
	.paddingXs15 {
	    padding: 0 15px !important;
	    margin: 0px !important;
	}
	.countText{
		display: block;
		font-size: 14px;
		color: #303b41;
		padding-left: 0px;
	}
	.countNumber{
		display: block;
		font-size: 18px;
		color: #303b41;
		font-weight: 600;
		padding-left: 0px;
	}
	.courseNameSection h3 .showRating{
		font-size: 14px;
		color: #e0711f;
		margin-left: 0px;
		margin-top: 10px;
		display: block;
	}
	.courseNameSection h3 .totalRating{
		font-size: 14px;
		color: #848e92;
		margin-left: 0px;
		margin-top: 10px;
		display: inline-block;
	}
	.communityPost{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.col-xs-12{
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.minusMargin32{
		margin-top: 10px;
	}
	.findNavContainer {
	    background: #3ba0d6;
	}
	.findNavDropdown .findMenuItem {
	    border-color: #3e9ed2;
    	background: #44ace4;
	}
	.findNavDropdown .findMenuItem a{
		color: #fff
	}
	.arrowFindEverything{
		display: none;
	}
	.arrowFindEverything:after{
		display: none;
	}
	.search-query{
		border-radius: 0px !important;
		width: 100% !important;
	}
	.searchButton {
	    background-color: transparent;
	    border-color: transparent;
	    position: absolute;
	    left: -35px;
	    color: #c6cdd1 !important;
	    top: 4px;
	    border: none;
	    z-index: 10;
	}
	.searchButton:hover,.searchButton:focus {
	    color: #c6cdd1 !important;
	    background-color: transparent;
	    border-color: transparent !important;
	    outline:  none !important;
	    box-shadow: none !important;
	}
	#custom-search-input{
		margin-top: -37px;
		position: relative;
		max-width: 100%;
	}
	.filter-show{
        display: none;
    }
    .searchAll{
		width: 288px;
		overflow: hidden;
	}
	.textCenterXs{
		text-align: center;
	}
	.pullLeftXs{
		float: left;
	}
    /*.arrowDropdownIcon:before{
		content: "\f105";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		font-size: 14px;
	    position: absolute;
	    right: 8px;
	    top: 35px;
	    display: none;
	}*/
}
@media (min-width: 768px){
	.margin-left-right{
		margin: 0 1px;
	}
	/* Logo class for tab */
	.logoHeader{
		float: left;
	    background: url(../images/mobile-logo.png) no-repeat center center;
	    margin-top: 11px;
	    width: 32px;
	    height: 36px;
	    margin-left: 21px;
	}
	.table-responsive {
	    width: 100%;
	    margin-bottom: 15px;
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    border: 1px solid #ddd;
	}
	#custom-search-input{
		margin-top: 16px;
		display: block;
	}
	.findEverything{
		line-height: 55px;
		float: left;
	}
	.footerxs {
        text-align: left !important;
    }
	.sm8 {
        font-size: 8px;
    }
    .sm9 {
        font-size: 9px;
    }
    .sm10 {
        font-size: 10px;
    }
    .sm11 {
        font-size: 11px;
    }
    .sm12 {
        font-size: 12px;
    }
    .sm13 {
        font-size: 13px;
    }
    .sm14 {
        font-size: 14px;
    }
    .sm15 {
        font-size: 15px;
    }
    .sm16 {
        font-size: 16px;
    }
    .sm17 {
        font-size: 17px;
    }
    .sm18 {
        font-size: 18px;
    }
    .sm19 {
        font-size: 19px;
    }
    .sm20 {
        font-size: 20px;
    }
    .sm21 {
        font-size: 21px;
    }
    .sm23 {
        font-size: 23px;
    }
    .sm25 {
        font-size: 25px;
    }
    .sm27 {
        font-size: 27px;
    }
    .sm29 {
        font-size: 29px;
    }
    .sm31 {
        font-size: 31px;
    }
    .sm33 {
        font-size: 33px;
    }
    .sm35 {
        font-size: 35px;
    }
    .sm37 {
        font-size: 37px;
    }
    .sm39 {
        font-size: 39px;
    }
    .sm41 {
        font-size: 41px;
    }
    .sm43 {
        font-size: 43px;
    }
    .sm45 {
        font-size: 45px;
    }
    .sm47 {
        font-size: 47px;
    }
    .sm49 {
        font-size: 49px;
    }
    .sm51 {
        font-size: 51px;
    }
}
@media (min-width: 992px){
	.margin-left-right{
		margin: 0 3px;
	}
	/* Logo class for desktop */
	.logoHeader{
		float: left;
	    background: url(../images/logoEduncle.png) no-repeat center center;
	    margin-top: 11px;
	    width: 125px;
	    height: 36px;
	    margin-left: 21px;
	}
	.table-responsive {
	    width: 100%;
	    margin-bottom: 15px;
	    overflow-y: hidden;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    border: 1px solid #ddd;
	}
	#custom-search-input{
		margin-top: 18px;
		display: block;
	}
	.md8 {
        font-size: 8px;
    }
    .md9 {
        font-size: 9px;
    }
    .md10 {
        font-size: 10px;
    }
    .md11 {
        font-size: 11px;
    }
    .md12 {
        font-size: 12px;
    }
    .md13 {
        font-size: 13px;
    }
    .md14 {
        font-size: 14px;
    }
    .md15 {
        font-size: 15px;
    }
    .md16 {
        font-size: 16px;
    }
    .md17 {
        font-size: 17px;
    }
    .md18 {
        font-size: 18px;
    }
    .md19 {
        font-size: 19px;
    }
    .md20 {
        font-size: 20px;
    }
    .md21 {
        font-size: 21px;
    }
    .md23 {
        font-size: 23px;
    }
    .md25 {
        font-size: 25px;
    }
    .md27 {
        font-size: 27px;
    }
    .md29 {
        font-size: 29px;
    }
    .md30 {
        font-size: 30px;
    }
    .md31 {
        font-size: 31px;
    }
    .md33 {
        font-size: 33px;
    }
    .md35 {
        font-size: 35px;
    }
    .md37 {
        font-size: 37px;
    }
    .md39 {
        font-size: 39px;
    }
    .md41 {
        font-size: 41px;
    }
    .md43 {
        font-size: 43px;
    }
    .md45 {
        font-size: 45px;
    }
    .md47 {
        font-size: 47px;
    }
    .md49 {
        font-size: 49px;
    }
    .md51 {
        font-size: 51px;
    }

	/* Custom bootstrap class */
	.col-md-212 {
	    width: 12.666667% !important;
	}
	.col-md-1087 {
	    width: 87.333333% !important;
	}
}
@media (min-width: 1200px){
	.margin-left-right{
		margin: 0 5px;
	}
	/* Logo class for desktop */
	.findIsActive{
		margin-left: 25px;
	}
	.logoHeader{
		float: left;
	    background: url(../images/logoEduncle.png) no-repeat center center;
	    margin-top: 11px;
	    width: 125px;
	    height: 36px;
	    margin-left: 21px;
	}
	.footerxs {
        text-align: left !important;
    }
	 .lg8 {
        font-size: 8px;
    }
    .lg9 {
        font-size: 9px;
    }
    .lg10 {
        font-size: 10px;
    }
    .lg11 {
        font-size: 11px;
    }
    .lg12 {
        font-size: 12px;
    }
    .lg13 {
        font-size: 13px;
    }
    .lg14 {
        font-size: 14px;
    }
    .lg15 {
        font-size: 15px;
    }
    .lg16 {
        font-size: 16px;
    }
    .lg17 {
        font-size: 17px;
    }
    .lg18 {
        font-size: 18px;
    }
    .lg19 {
        font-size: 19px;
    }
    .lg20 {
        font-size: 20px;
    }
    .lg21 {
        font-size: 21px;
    }
    .lg23 {
        font-size: 23px;
    }
    .lg25 {
        font-size: 25px;
    }
    .lg27 {
        font-size: 27px;
    }
    .lg29 {
        font-size: 29px;
    }
    .lg31 {
        font-size: 31px;
    }
    .lg33 {
        font-size: 33px;
    }
    .lg35 {
        font-size: 35px;
    }
    .lg36 {
        font-size: 36px;
    }
    .lg37 {
        font-size: 37px;
    }
    .lg39 {
        font-size: 39px;
    }
    .lg41 {
        font-size: 41px;
    }
    .lg43 {
        font-size: 43px;
    }
    .lg45 {
        font-size: 45px;
    }
    .lg47 {
        font-size: 47px;
    }
    .lg49 {
        font-size: 49px;
    }
    .lg51 {
        font-size: 51px;
    }


	/* Custom bootstrap class */
	.col-lg-19 {
	    width: 9.333333% !important;
	}
	.col-lg-1190 {
	    width: 90.666667% !important;
	}
	.col-lg-1866{
		width: 18.666667%;
	}
	.col-lg-8133{
		width: 81.333333%;
	}
}
































/*========== Begin Custom Classes ==========*/
.colorRed{
	color: #e0711f !important;
}
.colorBlue{
	color: #0379a6 !important;
}
.colorGrey{
	color: #303b41 !important;
}
.colorGreen{
	color: #00a651 !important;
}
/*.colorGreen{
	color: #00a651 !important;
}*/
.colorGreyNonSelected{
	color: #b6bec2 !important
}
.colorGreyNonSelected .custom-caret{
	color: #b6bec2 !important
}
.colorGreyLight{
	color: #848e92 !important;
}
.m0{
	margin: 0
}
.width100{
	width: 100% !important;
}
.width95{
	width: 95% !important;
}
.activityTabs{
	list-style: none;
	padding-left: 10px;
}
.textDecorationUnderline{
	text-decoration: underline;
}
.textNoHoverUnderline:hover{
	text-decoration: none;
}
.borderBottom2{
	border-bottom: 2px solid #dadee0;
}
.darkGreyColor{
	color: #5a6368;
}
.clear{
	clear: both;
}
.pointer{
	cursor: pointer;
}
/*.margin-left-right{
	margin: 0 5px;
}*/
.offWhiteIconColor{
	color: #84d6fe;
}
.offWhiteIconColor:before{
	font-size: 38px;
}
.offWhiteTextColor{
	color: #87d6ff;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c6cdd1 !important;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c6cdd1 !important;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c6cdd1 !important;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c6cdd1 !important;
  font-size: 14px;
}
.topmargin05 {
    margin-top: 0.5% !important;
}

.topmargin1 {
    margin-top: 1% !important;
}

.topmargin2 {
    margin-top: 2% !important;
}

.topmargin3 {
    margin-top: 3% !important;
}

.topmargin4 {
    margin-top: 4% !important;
}

.topmargin5 {
    margin-top: 5% !important;
}

.topmargin6 {
    margin-top: 6% !important;
}

.topmargin7 {
    margin-top: 7% !important;
}

.topmargin8 {
    margin-top: 8% !important;
}

.topmargin9 {
    margin-top: 9% !important;
}

.topmargin10 {
    margin-top: 10% !important;
}

.topmargin11 {
    margin-top: 11% !important;
}

.topmargin12 {
    margin-top: 12% !important;
}

.topmargin13 {
    margin-top: 13% !important;
}

.topmargin14 {
    margin-top: 14% !important;
}

.topmargin15 {
    margin-top: 15% !important;
}

.topmargin18 {
    margin-top: 18% !important;
}

.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w600 {
    font-weight: 600;
}

.w700 {
    font-weight: 700;
31}

.w800 {
    font-weight: 800;
}

.w900 {
    font-weight: 900;
}

.lh0 {
    line-height: 0%;
}

.lh50 {
    line-height: 50%;
}

.lh60 {
    line-height: 60%;
}

.lh70 {
    line-height: 70%;
}

.lh80 {
    line-height: 80%;
}

.lh90 {
    line-height: 90%;
}

.lh100 {
    line-height: 100%;
}

.lh110 {
    line-height: 110%;
}

.lh114 {
    line-height: 114%;
}

.lh120 {
    line-height: 120%;
}

.lh130 {
    line-height: 130%;
}

.lh140 {
    line-height: 140%;
}

.lh146 {
    line-height: 146%;
}

.lh150 {
    line-height: 150%;
}

.lh160 {
    line-height: 160%;
}

.lh170 {
    line-height: 170%;
}

.lh180 {
    line-height: 180%;
}

.lh190 {
    line-height: 190%;
}

.lh200 {
    line-height: 200%;
}

.lh210 {
    line-height: 210%;
}

.lh220 {
    line-height: 220%;
}

.lh250 {
    line-height: 250%;
}
/*========== End  Custom Classes ==========*/


/*Added for invite-people in Community Start*/
.mailSending{
	width: 100%;
    display: none;
    text-align: center;
}
/*Added for invite-people in Community End*/